.b-badge {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.b-badge__item {
    display: inline;

    text-decoration: none;

    color: #808080;
}

.b-badge_active {
    .b-badge__item:hover {
        color: #ee362c;
    }
}

.b-badge__item {
    cursor: pointer;
}

.b-badge__icon {
    position: absolute;

    margin-right: 8px;
}

.b-badge__text {
    display: inline-block;

    box-sizing: border-box;
    padding-left: 19px;
}

.b-badge__hint-href {
    display: inline-block;

    margin-top: 7px;

    cursor: pointer;

    color: #356fc4;
}

.b-badge__hint-href-icon {
    display: inline-block;

    margin-left: 10px;
}

.b-badge__hint-content {
    width: 212px;
    margin-right: 8px;

    cursor: default;

    color: #808080;

    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.b-badge_star {
    color: #ee362c;

    font-family: "WebSymbols", Arial, sans-serif;
}

.b-badge.b-badge_rating {
    cursor: pointer;
}
