{namespace sm.bIcon.Template}

/**
 * Icon template
 * @param? params {{
 *     type: ?string,
 *     customClasses: ?string
 * }}
 */
{template .icon}
    <div class="b-icon
                b-icon_img_{$params?.type ?: ''}{sp}
                {$params?.customClasses ?: ''}">
    </div>
{/template}
