/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.b-icon_img_arrow {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -55px -10px;
  width: 10px;
  height: 7px;
}
.b-icon_img_close-balloon {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -55px 0px;
  width: 10px;
  height: 10px;
}
.b-icon_img_close-dialog-hovered {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -37px 0px;
  width: 18px;
  height: 18px;
}
.b-icon_img_close-dialog {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: 0px -24px;
  width: 18px;
  height: 18px;
}
.b-icon_img_filter-arrow-down {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: 0px -42px;
  width: 13px;
  height: 8px;
}
.b-icon_img_filter-arrow-up {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -13px -42px;
  width: 13px;
  height: 8px;
}
.b-icon_img_menu {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -18px -24px;
  width: 17px;
  height: 15px;
}
.b-icon_img_opener-arrow {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -37px -18px;
  width: 11px;
  height: 6px;
}
.b-icon_img_red-pin {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: 0px 0px;
  width: 17px;
  height: 24px;
}
.b-icon_img_school-button {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -17px 0px;
  width: 20px;
  height: 19px;
}
.b-icon_img_search {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -35px -24px;
  width: 15px;
  height: 15px;
}
.b-icon_img_sort-arrow {
  background-image: url(/images/b-icon_auto-sprite.png);
  background-position: -55px -17px;
  width: 9px;
  height: 4px;
}
