{namespace sm.bIcon.Template}

/**
 * Icon template
 * @param? params {{
 *     spriteCssClass: ?string
 * }}
 */
{template .base}
    <div class="b-icon">
        <div class="b-icon__content {$params?.spriteCssClass ?: ''}">

        </div>
    </div>
{/template}