.g-input_stendhal {
    height: 100%;

    .g-input__input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 6px 0 11px 18px;

        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

        font: inherit;

        -webkit-appearance: none;

        &:focus {
            outline: none;
        }

        &[type="number"] {
            -moz-appearance: textfield;
        }

        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            margin: 0;

            -webkit-appearance: none;
        }
    }
}

.g-input_stendhal.g-input_light-theme {
    .g-input__input {
        padding: 10px 0 10px 15px;

        border: 1px solid #dbdbd4;
        box-shadow: inset 0 1px 6px #dbdbd4;
    }
}

.g-input_stendhal.g-input_thin-theme {
    .g-input__input {
        height: 50px;
        padding: 0 0 0 12px;

        line-height: 50px;

        border: 1px solid #deded8;
        box-shadow: none;
    }
}

.g-input_stendhal.g-input_not-valid {
    .g-input__input {
        box-sizing: border-box;

        border: 2px solid #ee362c;
    }
}

.g-input_stendhal.g-input_neptune-theme {
    .g-input__input {
        padding-top: 11px;
        padding-right: 45px;
        box-shadow: none;

        font-size: 15px;
    }
}

.g-input_stendhal.g-input_minimal-theme {
    .g-input__input {
        width: 100%;
        height: 100%;
        padding: 0 0 0 60px;

        background: transparent;

        border: none;
        box-shadow: none;
    }
}
