.g-input_stendhal {
    height: 100%;
    .g-input__input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 6px 0 11px 18px;

        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

        font: inherit;

        -webkit-appearance: none;

        &:focus {
            outline: none;
        }
    }

    &.g-input_not-valid {
        .g-input__input {
            box-sizing: border-box;
            padding-left: 17px;

            border: 2px solid #ee362c;
        }
    }
}


.g-input_stendhal.g-input_light-theme {
    .g-input__input {
        padding: 10px 0 10px 15px;

        border: 1px solid #dbdbd4;
        box-shadow: inset 0 1px 6px #dbdbd4;
    }
}