.b-comment-section{
    display: inline-block;

    background-color: white;
}

.b-comment-section__section-name{
    display: inline-block;
	
	margin: 0 15px 0 0;

    text-align: left;
	font-weight: normal;
    font-size: 12px;
}

.b-comment-section__stars-rating{
    display: inline-block;

	margin: 0 25px 0 0;

    text-align: left;
    font-size: 12px;
}
