{namespace sm.lSchool.bCommentSection.Template}
/**
 * Comment Section Template
 */
{template .base}
	{@param params:[
			name: string,
			rating: int
		]
	}
    <div class="b-comment-section">
	
		<div class="b-comment-section__section-name">
			{$params.name}
		</div>
		
        <div class="b-comment-section__stars-rating">
			{call sm.bStars.Template.base}
				{param params: ['data': ['mark': $params.rating],'isClickable': false]/}
			{/call}
		</div>

    </div>
{/template}