@import "../i-media/i-media";

@include media-xl {
    .i-layout_page_search-result.i-layout_modifier_stendhal .i-layout__content,
    .i-layout_page_search-result.i-layout_modifier_stendhal .i-layout__footer {
        width: 100%;
        padding: 0 40px;

        box-sizing: border-box;
    }
}

@include media-m {
    .i-layout_page_search-result.i-layout_modifier_stendhal .i-layout__content,
    .i-layout_page_search-result.i-layout_modifier_stendhal .i-layout__footer {
        padding: 0 30px;
    }
}
