@import "../../../n-common/i-media/i-media";

.g-list.g-list_links {
    .g-list__item {
        padding: 16px 20px 15px;

        white-space: normal;

        border-bottom: 1px solid #e3e3e3;

        &:last-child {
            border-bottom: none;
        }
    }

    .g-list__item_selected {
        font-weight: normal;
    }
}

.g-list_links_small {
    padding: 10px 0;
}

.g-list.g-list_links_small {
    .g-list__item {
        padding: 0 18px;
        border-bottom: none;
        line-height: 25px;
    }

}

@include media-xs {
    .g-list.g-list_links {
        .g-list__item {
            padding-left: 31px;
        }
    }
}
