.b-sm-balloon {
    position: relative;

    width: auto;
    height: auto;

    background-color: #fff;

    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.b-sm-balloon__wrap {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px 20px;
}


.b-sm-balloon__close-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 10px;   ;
    box-sizing: border-box;
    cursor: pointer;
}

.b-sm-balloon__header-title {
    font-weight: 700;
    line-height: 16px;
}

.b-sm-balloon__header-subtitle {
    padding-top: 5px;
    font-size: 13px;
    color: #8d8d8d;
}

.b-sm-balloon__description-text {
    margin-bottom: 2px;
}

.b-sm-balloon__subtitle {
    margin-bottom: 15px;

    color: #8d8d8d;

    font-size: 12px;
}

.b-sm-balloon-section {
    width: 180px;
    margin-bottom: 12px;


    &:last-child {
        margin-bottom: 0;
    }
}

.b-sm-balloon_item-list {
    width: 300px;

    .b-sm-balloon__wrap {
        padding-bottom: 14px;
    }

    .b-sm-balloon__section_content {
        margin-bottom: 7px;
        padding-top: 12px;
    }

}

.b-sm-balloon__section_header {
    width: 245px;
    margin-bottom: 10px;
}

.b-sm-balloon__section_description {
    padding-top: 7px;
    margin-bottom: 12px;
}

.b-sm-balloon_item {
    width: 240px;
}

.b-sm-balloon__content-title {
    font-size: 13px;
    color: #8d8d8d;
}


.b-sm-balloon__section_footer {
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.b-sm-balloon__footer-text {
    font-size: 13px;
    color: #8d8d8d;
}
