@import "../../i-media/i-media";

.b-sm-filter {
    display: inline-block;

    width: 100%;
    padding: 10px 0;

    text-align: left;
    color: #000000;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.b-sm-filter__header {
    display: inline-block;

    width: 100%;
    padding: 10px 0 15px 0;

    cursor: pointer;

    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

.b-sm-filter__title {
    display: inline-block;
}

.b-sm-filter__tooltip {
    display: inline-block;

    margin-left: 8px;
}

.b-sm-filter__show-options-button {
    float: right;
}

.b-sm-filter__list-options {
    display: inline;
}

.b-sm-filter__section {
    position: relative;

    display: inline-block;

    min-width: 50%;
    margin: 0;
}

.b-sm-filter__option {
    display: inline-block;

    padding: 11px 0;
    margin-right: 5px;

    font-size: 14px;
}

.b-sm-filter__input-label {
    display: inline-block;

    margin: 0 9px;
    padding-left: 13px;

    vertical-align: middle;
    cursor: pointer;
}

.b-sm-filter__button {
    margin-top: 12px;
    margin-bottom: 12px;
}

.b-sm-filter__input {
    position: absolute;
    top: 12px;
    left: 0;

    margin: 0;

    cursor: pointer;
}

.b-sm-filter_minimal {
    border: none;

    .b-sm-filter__header {
        padding: 5px 0 10px;
        font: 14px Arial, sans-serif;
    }

    .b-sm-filter__section {
        width: 50%;

        vertical-align: top;

        font: 14px Arial, sans-serif;
        line-height: 20px;
    }

    .b-sm-filter__option {
        padding: 9px 0;
    }

    .b-sm-filter__input {
        top: 13px;
    }
}


@include media-l {
    .b-sm-filter__section {
        width: 25%;
        min-width: unset;

        vertical-align: top;
    }
}

@include media-m {
    .b-sm-filter__section {
        width: 33.33%;
        min-width: unset;

        vertical-align: top;
    }
}

@include media-s {
    .b-sm-filter__section {
        width: 50%;
    }

    .b-sm-filter__reset {
        display: none;
    }

    .b-sm-filter_minimal {
        .b-sm-filter__section {
            width: 100%;
        }
    }
}

@include media-xs {
    .b-sm-filter__section {
        width: 100%;
    }
}
