.b-sm-link {
    display: inline-block;

    cursor: text;
    text-decoration: none;

    font-size: 13px;
    line-height: 18px;
}

.b-sm-link_hoverable:hover {
    color: #ff0000;
    cursor: pointer;
}

/** Possible sizes */
.b-sm-link_size_s {
    font-size: 12px;
}

.b-sm-link_size_m {
    font-size: 13px;
}

.b-sm-link_size_l {
    font-size: 14px;
}

.b-sm-link_size_xl {
    font-size: 15px;
}

.b-sm-link_size_xxl {
    font-size: 16px;
    line-height: 22px;
}
/** Possible sizes end */

/** Themes */
.b-sm-link_default-theme {
    color: #356fc4;
}

.b-sm-link_light-theme {
    color: #808080;
}

.b-sm-link_attention-theme {
    color: #ff0000;
}

.b-sm-link_dark-theme {
    color: #000;
}

.b-sm-link_block-theme {
    margin-bottom: 11px;

    color: #356fc4;
}
/** Themes end */
