.b-sm-link {
    display: inline-block;

    text-decoration: none;

    font-size: 13px;
    line-height: 18px;
}

.b-sm-link_hoverable:hover {
    cursor: pointer;

    color: #f00;
}

/** Possible sizes */
.b-sm-link_size_s {
    font-size: 12px;
}

.b-sm-link_size_m {
    font-size: 13px;
}

.b-sm-link_size_l {
    font-size: 14px;
}

.b-sm-link_size_xl {
    font-size: 15px;
}

.b-sm-link_size_xxl {
    font-size: 16px;
    line-height: 20px;
}

.b-sm-link_size_xxxl {
    font-size: 17px;
}

.b-sm-link_size_6xl {
    font-size: 20px;
    line-height: 24px;
}

.b-sm-link_size_7xl {
    font-size: 21px;
    line-height: 26px;
}

.b-sm-link_size_8xl {
    font-size: 22px;
}
/** Possible sizes end */

/** Themes */
.b-sm-link_default-theme {
    color: #356fc4;
}

.b-sm-link_light-theme {
    color: #808080;
}

.b-sm-link_attention-theme {
    color: #f00;
}

.b-sm-link_dark-theme {
    color: #000;

    &.b-sm-link_selected {
        color: #f00;
    }
}

.b-sm-link_block-theme {
    width: 100%;
    height: 100%;

    color: #356fc4;

    line-height: inherit;
}

.b-sm-link_interval-theme {
    margin-bottom: 14px;

    color: #356fc4;
}

.b-sm-link_hoar-theme {
    color: #747474;

    &.b-sm-link_hoverable:hover {
        color: #e4e4e4;
    }

    &.b-sm-link_selected {
        color: #000000;
    }
}

.b-sm-link_neptune-theme, .b-sm-link_neptune-imaged-theme {
    color: #0a5bff;
}

.b-sm-link_sky-theme {
    color: #356fc4;

    &.b-sm-link_selected {
        color: #7f7f7f;
    }
}

.b-sm-link_overcast-theme {
    color: #bdbdbd;
}
/** Themes end */
