{namespace sm.lSchool.bDataBlock.TemplateFoldList}


/**
 * @typedef {object} sm.lSchool.bDataBlock.TemplateFoldList.Node
 * @property {object} data
 * @property {?string} data.name
 * @property {?sm.lSchool.bDataBlock.TemplateFoldList.Node} items
 * @property {?object} config
 * @property {?string} config.type
 */

/**
 * Classes item
 * @param? params [[
 *    header: ?string,
 *    headerType: ?number
 *    modifier: ?string
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node],
 *    config: [
 *       type: ?string
 *    ]
 * ]]
 * @extends sm.lSchool.bDataBlock.Template
 * @constructor
 */
{template .base}
    {call .init}
        {param params: [
            'header': $params.header,
            'headerType':
                $params.headerType ?
                        $params.headerType :
                        3,
            'modifier':
                $params.modifier ?
                        'b-data-block_fold-list' + $params.modifier :
                        'b-data-block_fold-list',
            'content': $params.content,
            'config': $params.config
        ] /}
    {/call}
{/template}

/**
 * Content item
 * @param? params [[
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node],
 *    config: [
 *       type: ?string
 *    ]
 * ]]
 */
{template .content autoescape="strict" kind="html"}
    {call sm.iCloblFactory.FactoryStendhal.INSTANCE.soy}
        {param type: 'fold-list' /}
        {param renderParams: [
            'data' : $params.content,
            'config': $params.config
        ]/}
    {/call}
{/template}
