@import "../../n-common/i-media/i-media";

.l-course__body {
    margin: auto;

    color: #000;

    font-family: Arial, sans-serif;
}

/** layout **/
.l-course__footer {
    margin: 60px auto 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/** layout end **/


/** Section data **/
.l-course__section_data {
    position: relative;

    width: 1200px;
    min-width: 255px;
    margin: 0 auto 60px;

    &:after {
        display: block;
        clear: both;

        content: '';
    }
}

.l-course__data_detail {
    box-sizing: border-box;
    padding-top: 30px;
    padding-right: 440px;
}

.l-course__header {
    display: inline-block;

    margin-bottom: 35px;

    &:after {
        display: block;
        clear: both;

        content: '';
    }
}

.l-course__score_xl {
    float: left;

    width: 100px;
    margin-top: 10px;

    font: 22px 'Proxima', Arial, sans-serif;
    font-weight: 800;
}

.l-course__score_s {
    display: none;
}

.l-course__title {
    box-sizing: border-box;
    padding-left: 100px;
}

.l-course__name {
    font: 30px 'Proxima', Arial, sans-serif;
    font-weight: 800;
    line-height: 36px;
}

.l-course__description {
    margin-top: 10px;

    font: 20px 'PT Serif', serif;
    line-height: 30px;
}

.l-course__full-description {
    margin-top: 25px;

    font: 16px 'PT Serif', serif;
    line-height: 22px;
}

.l-course__wrap-data_sticky {
    float: right;

    width: 380px;
}

.l-course__data_sticky {
    width: 380px;
    margin-top: 40px;

    background-color: #f7f7f1;
}

.l-course__data_position_fixed {
    position: fixed;
    top: 0;
    bottom: auto;
}

.l-course__data_position_absolute {
    position: absolute;
    top: auto;
    bottom: 0;
}

.l-course__location {
    width: 100%;
}

.l-course__online {
    padding: 20px 30px 25px;

    border-bottom: 1px solid #deded8;
}

.l-course__icon_online {
    display: inline-block;

    margin-right: 10px;
}

.l-course__text_online {
    display: inline-block;

    font: 16px 'PT Serif', serif;
    line-height: 22px;
}

.l-course__map {
    height: 350px;
}

.l-course__user-interaction {
    padding-bottom: 20px;
}

.l-course__video {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 35px;
    height: 0;
    overflow: hidden;
}

.l-course__img-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.l-course__img {
    width: 100%;
}
/** section data end **/


/** Section options **/
.l-course__section_options {
    width: 100%;

    border-top: 6px solid #e5e5e5;
}

.l-course__options {
    box-sizing: border-box;
    width: 1200px;
    min-width: 255px;
    margin: 0 auto;
    padding-top: 20px;
}

.l-course__options-list {
    max-width: 760px;
    width: 100%;
}
/** section options end **/


/** Section fixed **/
.l-course__section_fixed {
    display: none;

    box-sizing: border-box;
    width: 100%;

    background-color: #f7f7f1;
}
/** section fixed end **/


@include media-xl {
    .l-course__section_data {
        box-sizing: border-box;
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    .l-course__options {
        box-sizing: border-box;
        width: auto;
        padding: 20px 40px 0;
    }
}


@include media-m {
    .l-course__data_detail {
        padding-top: 70px;
        padding-right: 0;
    }

    .l-course__data_sticky {
        display: none;
    }

    .l-course__video {
        width: calc(100% + 80px);
        left: -40px;
    }

    .l-course__img-wrapper {
        width: calc(100% + 80px);
        left: -40px;
    }
}


@include media-xs {
    /** Section data **/
    .l-course__section_data {
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .l-course__data_detail {
        padding-top: 30px;
    }

    .l-course__header {
        margin-bottom: 40px;
    }

    .l-course__title {
        padding-left: 0;
    }

    .l-course__name {
        box-sizing: border-box;
        padding-left: 24px;

        font-size: 21px;
        line-height: 1.2;
    }

    .l-course__score_xl {
        display: none;
    }

    .l-course__score_s {
        display: block;
        float: left;

        width: 24px;
        margin-top: 6px;
    }

    .l-course__description {
        display: none;
    }

    .l-course__video {
        width: calc(100% + 60px);
        left: -30px;
    }

    .l-course__img-wrapper {
        width: calc(100% + 60px);
        left: -30px;
    }
    /** section data end **/

    .l-course__options {
        padding: 0 30px 0;
    }

    .l-course__section_fixed {
        display: block;

        position: fixed;
        z-index: 5;
        bottom: 0;
    }

    .l-course__footer {
        padding: 0 0 50px;
    }
}
