.g-list.g-list_select {
    padding: 10px 0;

    .g-list__item {
        display: block;
        padding: 0 18px;

        letter-spacing: 0.03em;

        line-height: 30px;

        &.g-list__item_selected {
            font-weight: normal;
        }
    }
}

.g-list.g-list_select.g-list_text-large {
    .g-list__item {
        letter-spacing: 0.03em;

        color: #000;

        font-family: 'PT Serif', Times, serif;
        font-size: 16px;
        line-height: 30px;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}

.g-list.g-list_select.g-list_sort-theme {
    .g-list__item {
        letter-spacing: 0.01em;

        line-height: 25px;

        &:hover {
            background-color: #f7f7f1;
        }
    }

    .g-list__item_selected {
        color: #666666;
    }
}

.g-list.g-list_select.g-list_text-small {
    .g-list__item {
        letter-spacing: 0.01em;

        font-family: Arial, sans-serif;
        font-size: 14px;
        &:hover {
            background-color: #f7f7f1;
        }
    }
}

.g-list.g-list_select.g-list_indent-small {
    padding: 3px 0;
    .g-list__item {
        padding: 0 13px;
    }
}