.b-school-catalog__content {
    color: #000;
    text-decoration: none;
}

.b-school-catalog__content:hover .b-school-catalog__title {
    color: #ff0000;
}

.b-school-catalog__catalog {
    margin-top: 2px;
    margin-bottom: 25px;
}

.b-school-catalog__title {
    margin-bottom: 15px;

    font-family: 'PT Serif', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.b-school-catalog__text {
    margin-bottom: 10px;

    font: 13px Arial, sans-serif;
    line-height: 18px;
}

.b-school-catalog__amount {
    margin-bottom: 10px;

    font: 13px Arial, sans-serif;
    line-height: 18px;
}

@media screen and (max-device-width: 600px) // for phone
and (orientation: portrait),
screen and (max-width: 600px) // for desktop
{
    .b-school-catalog__img {
        position: absolute;
        top: 3px;
        left: 0;
    }

    .b-school-catalog__link,
    .b-school-catalog__text {
        box-sizing: border-box;
        width: 100%;
        padding-left: 90px;
    }

    .b-school-catalog__title {
        display: none;
    }
}