.b-modal_feedback{
    .b-dialog {
        padding: 0;
    }
}

.b-feedback {
    width: 700px;

    color: #000;
}

.b-feedback__content {
    padding: 50px 50px 0;
}

.b-feedback__title {
    margin: 0 0 40px;

    text-transform: uppercase;

    font-weight: 900;
    font-size: 27px;
}

.b-feedback__title_sub {
    font-size: 16px;
}

.b-feedback__title_subsub {
    margin: 0 0 12px;

    font-size: 13px;
}

.b-feedback__comment {
    margin: 0 0 40px;
}

.b-feedback__who-are-you {
    margin: 0 0 30px;
    padding: 0 0 40px;

    border-bottom: 1px solid #e5e5e5;
}

.b-feedback__title_who-are-you {
    float: left;

    width: 146px;
}

.b-feedback__user-type {
    width: 125px;

    font-size: 0;
}

.b-feedback__user-type {
    display: inline-block;

    font: 16px 'PTSerifRegular';
}

.b-feedback__radio {
    margin: 0 13px 0 0;

    cursor: pointer;
}

.b-feedback__radio-label {
    position: relative;
    top: -1px;

    cursor: pointer;
}

.b-feedback__scores {
    margin: 0 0 40px;

    font-size: 0;
}

.b-feedback__score {
    display: inline-block;

    width: 150px;
}

.b-feedback__button {
    width: 100%;
    padding: 30px;

    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background: #f4f4ec;

    font-weight: 900;
    font-size: 20px;

    &:hover {
        background: #e3e3dc;
    }
}
