@import "../../../n-common/i-media/i-media";

.g-modal_interaction.g-modal_default-theme {
    .g-modal__content {
        text-align: left;

        font-family: 'Proxima', Arial, sans-serif;
        line-height: normal;

        padding-bottom: 25px;
    }

    .g-modal__section {
        box-sizing: border-box;

        padding-left: 60px;
        padding-right: 60px;
    }

    .g-modal__section_header {
        padding-bottom: 28px;

        font-size: 28px;
        font-weight: 700;
    }

    .g-modal__header {
        margin-top: 55px;
    }

    .g-modal__close-button {
        top: 15px;
        right: 15px;

        width: auto;
        height: auto;
        padding: 10px;
    }

    .g-modal__section_button {
        padding: 50px 0 25px;
    }

    .g-modal__button {
        width: 240px;
        margin: 0 auto;
    }

    .g-modal__section_errors {
        font-family: Arial,sans-serif;
    }

    .g-modal__error {
        text-align: center;
        color: #e2332a;

        font-size: 14px;
    }

}

@include media-xs {
    .g-modal_interaction.g-modal_default-theme {
        .g-modal__section {
            padding-left: 30px;
            padding-right: 30px;
        }

        .g-modal__section_button {
            padding-top: 35px;
        }
    }
}
