

.l-scool__content-block {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
}

.l-scool__content-block-line {
    margin-bottom: 10px;
}

.l-scool__content-image {

}
.l-scool__content-text {
    display: inline;
}
