.g-list.g-list_stendhal {
	width: 100%;

	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    .g-list__item {
        padding: 8px 10px 9px 10px;

        white-space: nowrap;
        font: 11px/11px Arial, sans-serif;
        text-align: left;
        color: #666666;
        cursor: pointer;
    }

    .g-list__item:hover {
        background-color: #f7f7f1;
    }
}

.g-list.g-list_stendhal.g-list_default {

}
