.g-list.g-list_stendhal {
	padding: 12.5px 0 12.5px 0;

    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    .g-list__item {
	    width: 100px;
	    padding: 2.5px 20px 2.5px 20px;
	    color: #ee362c;
	    font-family: Arial, sans-serif;
	    font-size: 13px;
	    line-height: 20px;
    }

	.g-list__item_selected {
		color: #000;
		background-color: #fff;
	}

    .g-list__item:hover {
	    background-color: #f7f7f1;
    }
}