@import '../../n-common/i-media/i-media.scss';

.b-filter-panel-group {
    position: relative;
}

.b-filter-panel-group__content {
    position: relative;
}

.b-filter-panel-group__button {
    display: inline-block;

    width: 167px;

    font-family: 'Proxima', Arial, sans-serif;
}

.b-filter-panel-group__sort-wrap {
    display: none;
}

.b-filter-panel-group__filters {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 20px 30px 0 30px;

    border: solid 8px #efebeb;

    &:last-child {
        margin-bottom: 0;
    }
}

.b-filter-panel-group__controls-wrap {
    display: none;

    box-sizing: border-box;
    height: 60px;
    padding: 14px 40px;
}

.b-filter-panel-group__reset {
    display: none;
    position: absolute;
    left: 190px;
    top: 35px;
    z-index: 1;
}

@include media-m {
    .b-filter-panel-group {
        background-color: #f5f5f5
    }

    .b-filter-panel-group_state_collapsed {
        .b-filter-panel-group__reset {
            display: none;
        }

        .b-filter-panel-group__content {
            padding-top: 0;
        }
    }

    .b-filter-panel-group__filters {
        display: none;

        margin-bottom: 0;
        padding: 0 40px;

        border: none;
    }

    .b-filter-panel-group__controls-wrap {
        display: block;
    }

    .b-filter-panel-group__filters_visible {
        display: block;
    }

    .b-filter-panel-group__reset {
        display: block;
    }
}

@include media-s {
    .b-filter-panel-group__button {
        width: 102px;
    }
}


@include media-xs {
    .b-filter-panel-group__filters {
        padding: 0 30px;
    }

    .b-filter-panel-group__controls-wrap {
        padding: 14px 25px;
    }

    .b-filter-panel-group__sort-wrap {
        display: inline-block;
        float: right;

        color: #356fc4;
    }
}
