@import '../i-media/i-media';

.b-sm-information-card {
    position: relative;
    height: 176px;
    box-sizing: border-box;
    background-color: #fff;
}

.b-sm-information-card__name {
    padding: 25px;

    font-family: 'Proxima', Arial, sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
}

.b-sm-information-card__link {
    position: absolute;
    bottom: 30px;
    left: 25px;
    margin-bottom: 0;
}

.b-sm-information-card__button-link {
    position: absolute;
    bottom: 5px;
    right: 3px;
}

.b-sm-information-card__logo {
    position: absolute;
    max-width: 64px;
    bottom: 25px;
    right: 25px;
}

.b-sm-information-card__logo-image {
    width: 100%;
}

@include media-m {
    .b-sm-information-card {
        height: 210px;
    }

    .b-sm-information-card__name {
        padding: 30px;
        padding-top: 33px;
    }

    .b-sm-information-card__link {
        bottom: 35px;
        left: 28px;
    }

    .b-sm-information-card__button-link {
        bottom: 10px;
        right: 5px;
    }
}

@include media-xs {
    .b-sm-information-card {
        height: 176px;
    }

    .b-sm-information-card__name {
        padding: 25px;
    }

    .b-sm-information-card__link {
        bottom: 30px;
        left: 25px;
    }

    .b-sm-information-card__button-link {
        bottom: 5px;
        right: 3px;
    }
}
