.b-sm-side-menu {
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;

    overflow-y: auto;

    width: 100%;
    height: 100%;

    background: #fff;

    font-weight: 600;

    -webkit-overflow-scrolling: touch;
}

.b-sm-side-menu__content {
    overflow-y: auto;

    width: 100%;
    height: auto;
}

.b-sm-side-menu__header {
    border-bottom: 1px solid #e5e5e5;
}

.b-sm-side-menu__close-icon {
    display: inline-block;

    padding: 28px 20px 25px 25px;
}

.b-sm-side-menu__menu {
    padding: 30px 0 0 25px;
}

.b-sm-side-menu__footer {
    padding: 32px 0 0 25px;
}

.b-sm-side-menu__menu-item {
    padding: 0 0 25px 5px;
}

.b-sm-side-menu__menu-item:last-child {
    padding-bottom: 0;
}

.b-sm-side-menu__footer-item {
	padding: 0 0 10px 5px;
	font-size: 13px;
    font-weight: 400;
}

.b-sm-side-menu__copyright {
	color: #000;
}