@import "../../n-common/i-media/i-media";

.l-error-not-found__body {
    margin: 0 auto 35px;

    color: #000000;
}

.l-error-not-found__title {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.l-error-not-found__title-wrap {
    height: 208px;

    line-height: 220px;
}

.l-error-not-found__title-img {
    display: inline-block;

    width: 93px;
    height: 93px;

    vertical-align: middle;

    background-image: url(images/n-school/l-error-not-found/404.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.l-error-not-found__title-text {
    display: inline-block;

    margin-left: 38px;

    vertical-align: middle;

    line-height: 30px;

    font-family: 'Proxima';
    font-size: 24px;
    font-weight: bold;
}

.l-error-not-found__search {
    width: 100%;

    margin-bottom: 45px;
}

.l-error-not-found__additional-info-wrap {
    margin-bottom: 50px;
}

.l-error-not-found__additional-info {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    color: #000;

    &:after {
        display: block;
        clear: both;

        content:'';
    }
}

.l-error-not-found__popular-schools {
    display: inline-block;

    box-sizing: border-box;
    width: 83.33%;
    margin-top: 3px;
}

.l-error-not-found__popular-school {
    box-sizing: border-box;

    width: 20%;
    margin: 0;
    padding: 0 15px;

    &:first-of-type {
        padding-left: 0px;
        padding-right: 20px;
    }

    &:nth-child(3) {
        padding-left: 10px;
    }

    &:last-child {
        padding-left: 20px;
        padding-right: 15px;
    }

    &:nth-child(5) {
        padding-right: 10px;
    }
}

.l-error-not-found__information-schools {
    display: inline-block;

    box-sizing: border-box;
    width: 16.66%;
    margin-top: 45px;
    padding-left: 25px;

    vertical-align: top;
}

@include media-xl {
    .l-error-not-found__title {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }

    .l-error-not-found__additional-info {
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
    }
}

@include media-l {
    .l-error-not-found__popular-schools {
        width: 100%;
        padding: 0;

        white-space: nowrap;
        overflow: hidden;
    }

    .l-error-not-found__information-schools {
        display: none;
    }

    .l-error-not-found__popular-school {
        width: 25%;

        &:nth-child(4) {
            padding-right: 10px;
        }

        &:nth-child(5) {
            padding-left: 20px;
            padding-right: 0;
        }
    }
}

@include media-s {
    .l-error-not-found__title {
        position: relative;

        box-sizing: border-box;
        padding: 0 30px;
    }

    .l-error-not-found__title-img {
        position: absolute;

        margin-top: 65px;
    }

    .l-error-not-found__title-text {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0;
        padding-left: 130px;
    }

    .l-error-not-found__additional-info {
        box-sizing: border-box;
        padding: 0 30px;
    }

    .l-error-not-found__information-schools {
        display: inline-block;

        width: 33.33%;
        padding-left: 20px;
    }

    .l-error-not-found__popular-schools {
        width: 66.66%;
        padding-right: 10px;
    }

    .l-error-not-found__popular-school {
        width: 50%;
    }
}

@include media-xs {
    .l-error-not-found__title-text {
        margin-top: 65px;
        padding-left: 120px;

        vertical-align: top;
    }

    .l-error-not-found__popular-schools {
        width: 100%;

        white-space: normal;
    }

    .l-error-not-found__popular-school {
        width: 100%;
        min-height: 70px;
        margin-bottom: 30px;
        padding: 0;

        &:nth-child(n) {
            padding: 0;
        }
    }

    .l-error-not-found__information-schools {
        position: relative;

        width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0;
    }
}

@include media-xxs {
    .l-error-not-found__title-wrap {
        height: 285px;

        line-height: 0;
    }

    .l-error-not-found__title-img {
        position: static;

        margin-top: 60px;
    }

    .l-error-not-found__title-text {
        margin-top: 20px;
        padding-left: 0;
    }
}