@import "../i-media/i-media";

.l-search__body {
    margin: auto;

    font-family: Arial, sans-serif;
}

/** layout **/
.l-search__footer {
    margin: 60px auto 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.l-search__section {
    margin-bottom: 60px;

    &.l-search__section_map {
        width: 100%;
        height: 500px;

        background: #f4f4ec;
    }


    &.l-search__section_content {
        margin-top: 60px;
        padding-bottom: 60px;

        border-bottom: 1px solid #e5e5e5;


        &:after {
            display: block;
            clear: both;

            content: '';
        }
    }

    &.l-search__section_popular {
        height: 370px;
        margin-top: 45px;

        background: #f4f4ec;
    }
}

.l-search__section-inner {
    width: 1200px;
    min-width: 255px;
    margin: 0 auto;
}
/** layout end **/


/** Content section **/
.l-search__left-menu {
    float: left;

    width: 350px;
    margin-right: 60px;
}

.l-search__list-results {
    box-sizing: border-box;
    padding-left: 410px;
}

.l-search__list-header {
    color: #000;

    font: 600 22px/38px Proxima, arial, sans-serif;

    &.l-search__list-header_size_s {
        display: none;

        padding: 26px 0;

        text-align: center;
    }
}

.l-search__sort {
    position: relative;

    height: 13px;
}

.l-search__sort-control {
    position: absolute;
    right: 0;

    padding-left: 18px;

    background: #ffffff;
}

.l-search__list-header-text {
    &.l-search__list-header-text_title {
        margin-bottom: 15px;
    }

    &.l-search__list-header-text_description {
        margin-bottom: 45px;

        font: 16px 'PT Serif', serif;
        line-height: 22px;
    }

    &.l-search__list-header-text_strong {
        font-weight: 800;
    }
}
/** content section end **/

.l-search__horizontal-line {
    width: 100%;
    height: 1px;
    margin: 10px 0 -10px;

    background: #e5e5e5;
}

@include media-xl {
    .l-search__section-inner {
        width: auto;
        margin: 0 40px;
    }
}

@include media-m {
    .l-search__section {
        &.l-search__section_map {
            margin-bottom: 0;
        }

        &.l-search__section_content {
            margin: 0;
            padding-bottom: 40px;
        }
    }

    .l-search__left-menu {
        display: block;
        float: none;

        width: 100%;
        margin-bottom: 35px;
    }


    .l-search__list-header {
        &.l-search__list-header_size_l {
            display: none;
        }

        &.l-search__list-header_size_s {
            display: block;

            padding-top: 25px;

            border-top: 1px solid #e5e5e5;
        }
    }

    .l-search__list-results {
        padding: 0 40px;
    }
}

@include media-xs {
    .l-search__footer {
        padding: 0;
    }

    .l-search__section {
        &.l-search__section_map {
            display: none;
        }

        &.l-search__section_popular {
            margin-top: 0;
        }
    }

    .l-search__list-header {
        font-size: 20px;
        line-height: normal;
    }

    .l-search__list-results {
        padding: 0 30px;
    }

    .l-search__list-body {
        padding-bottom: 60px;
    }

}
