@import "../i-media/i-media";

.l-search__body {
    margin: auto;

    font-family: Arial, sans-serif;
}

/** layout **/
.l-search__footer {
    margin: 60px auto 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.l-search__section {
    margin-bottom: 60px;

    &.l-search__section_map {
        width: 100%;
        height: 500px;

        background: #f4f4ec;

        .l-search__section-inner {
            width: auto;
        }
    }


    &.l-search__section_content {
        margin-top: 60px;
        padding-bottom: 60px;


        &:after {
            display: block;
            clear: both;

            content: '';
        }
    }

    &.l-search__section_popular {
        margin-top: 45px;
    }
}

.l-search__section_hidden {
    position: absolute;
    z-index: -1;

    visibility: hidden;
}

.l-search__section-inner {
    width: 1200px;
    min-width: 255px;
    height: 100%;
    margin: 0 auto;
}
/** layout end **/


/** Content section **/
.l-search__left-menu {
    position: relative;
    float: left;
    z-index: 2;

    width: 350px;
    margin-right: 60px;

    background-color: #f7f7f1;
}

.l-search__search {
    box-sizing: border-box;
    padding: 30px;

    border-bottom: 1px solid #e5e5e5;
}

.l-search__filters {
    box-sizing: border-box;
    padding: 0 30px;
}

.l-search__search-results-wrap {
    box-sizing: border-box;
    padding-left: 410px;
}
/** end content section */

/** footer seo */
.l-search__section_footer-seo {
    margin-bottom: 75px;

    border-top: 1px solid #e5e5e5;
}

.l-search__section-inner_seo {
    padding-top: 52px;
}

.l-search__column-seo {
    display: inline-block;

    box-sizing: border-box;
    width: 50%;

    vertical-align: top;

    font: 13px Helvetica, sans-serif;
    line-height: 18px;
}

.l-search__column-seo_left {
    padding-right: 15px;
}

.l-search__column-seo_right {
    padding-left: 15px;
}

.l-search__paragraph-seo {
    margin-bottom: 10px;
}
/** end footer seo */


@include media-xl {
    .l-search__section.l-search__section_map {
        .l-search__section-inner {
            margin: 0;
        }
    }

    .l-search__section-inner {
        width: auto;
        margin: 0 40px;
    }
}

@include media-m {
    .l-search__section {
        &.l-search__section_map {
            margin-bottom: 0;
        }

        &.l-search__section_content {
            margin: 0;
            padding-bottom: 40px;
        }
    }

    .l-search__section-inner {
        margin: 0;
    }

    .l-search__left-menu {
        position: static;
        display: block;
        float: none;

        width: 100%;
        margin-bottom: 35px;
    }

    .l-search__search {
        padding-right: 40px;
        padding-left: 40px;
    }

    .l-search__filters {
        padding: 0 40px;
    }

    .l-search__search-results-wrap {
        padding: 0 40px;
    }

    .l-search__section_footer-seo {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@include media-xs {
    .l-search__section_footer-seo {
        margin-bottom: 85px;
    }

    .l-search__column-seo {
        display: block;

        width: 100%;
        padding: 0;
    }
}

@include media-xs {
    .l-search__footer {
        padding: 0;
    }

    .l-search__section {
        &.l-search__section_map {
            display: none;
        }

        &.l-search__section_popular {
            margin-top: 0;
        }
    }

    .l-search__search {
        padding-right: 30px;
        padding-left: 30px;
    }

    .l-search__filters {
        padding: 0 30px;
    }


    .l-search__search-results-wrap {
        padding: 0 30px;
    }

    .l-search__section_footer-seo {
        padding-right: 30px;
        padding-left: 30px;
    }
}
