@import '../../../../n-common/i-media/i-media';

.b-sm-item_university {
    position: relative;

    margin: 30px 0;
    padding: 0;

    cursor: default;


    .b-sm-item__section-group_cover {
        float: left;

        box-sizing: border-box;
        width: 135px;
        padding: 10px 35px 0 0;

        cursor: pointer;
    }

    .b-sm-item__section-group_info {
        padding: 0 163px 0 135px;
    }

    .b-sm-item__section-group_details {
        position: absolute;
        top: 0;
        right: 0;
    }

    .b-sm-item__cover-image {
        width: 100%;
    }

    .b-sm-item__section_nicety {
        margin-top: 13px;
    }

    .b-sm-item__section_description {
        margin-top: 6px;
    }

    .b-sm-item__score {
        display: inline-block;

        margin-bottom: 6px;
        padding-right: 15px;
    }

    .b-sm-item__name {
        margin-bottom: 6px;
        padding-right: 15px;

        font-family: 'Proxima', Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.13;
    }

    .b-sm-item__small-image {
        display: none;
        float: left;

        width: 48px;
        padding-top: 3px;
    }

    .b-sm-item__company-information {
        color: #747474;

        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.29;
    }

    .b-sm-item__company-abbreviation {
        display: inline-block;

        color: #000000;

        font-weight: bold;

    }

    .b-sm-item__company-name {
        padding-top: 2px;
    }

    .b-sm-item__company-city {
        display: inline-block;

        padding-left: 10px;

    }

    .b-sm-item__description {
        color: #747474;

        font-family: Arial, sans-serif;
        font-size: 15px;
        line-height: 1.47;
    }

    .b-sm-item__nicety-item {
        display: inline-block;

        padding-right: 24px;
        padding-bottom: 10px;
    }

    .b-sm-item__nicety-item:last-of-type {
        padding-right: 0;
    }

    .b-sm-item__nicety-title {
        padding-bottom: 4px;

        opacity: 0.6;

        font-family: Arial, sans-serif;
        font-size: 14px;
    }

    .b-sm-item__nicety-title_xs {
        display: none;
    }

    .b-sm-item__nicety-title_selected {
        color: #ed6327;
    }

    .b-sm-item__nicety-value {
        color: #0777e8;

        font-family: 'Proxima', Arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
    }

    .b-sm-item__button-link {
        padding: 0 15px;

        border: solid 2px #0777e8;
        border-radius: 100px;
    }
}

@include media-l {
    .b-sm-item_university {
        .b-sm-item__section-group_details {
            position: static;

            padding: 20px 0 0 135px;
        }

        .b-sm-item__section-group_info {
            padding-right: 0;
        }
    }
}

@include media-m {
    .b-sm-item_university {
        .b-sm-item__section-group_details {
            position: absolute;

            padding: 0;
        }

        .b-sm-item__section-group_info {
            padding-right: 135px;
        }
    }
}

@include media-s {
    .b-sm-item_university {
        .b-sm-item__section-group_details {
            position: static;

            padding: 20px 0 0 135px;
        }

        .b-sm-item__section-group_info {
            padding-right: 0;
        }
    }
}

@include media-xs {
    .b-sm-item_university {
        .b-sm-item__small-image {
            display: block;
        }

        .b-sm-item__section_company {
            margin-bottom: 22px;
        }

        .b-sm-item__section-group_cover {
            display: none;
        }

        .b-sm-item__section-group_details {
            display: none;
        }

        .b-sm-item__section-group_info {
            padding: 0;
        }

        .b-sm-item__name {
            font-size: 20px;
        }

        .b-sm-item__score {
            margin-bottom: 10px;
        }

        .b-sm-item__company-information {
            padding-left: 60px;
        }

        .b-sm-item__company-name {
            font-size: 12px;
        }

        .b-sm-item__nicety-title_default {
            display: none;
        }

        .b-sm-item__nicety-title_xs {
            display: block;
        }

        .b-sm-item__nicety-value {
            font-size: 18px;
        }
    }
}
