api/modules/user/services/adminUser.js
api/modules/school/controllers/schoolAdminController.js
api/modules/school/services/schoolComment.js
api/modules/school/views/commentView.js
api/modules/school/services/schoolAdminService.js
api/modules/school/controllers/errors/SchoolNotExistTypeError.js
api/modules/school/services/exceptions/SchoolNotExistType.js
api/modules/school/controllers/commentAdminController.js
api/components/interface.js
