api/components/interface.js

api/modules/geo/interfaces/DepartmentAdmin.js
api/modules/geo/models/address.js
api/modules/geo/models/department.js
api/modules/geo/services/exceptions/AddressDoesNotExist.js
api/modules/geo/services/exceptions/AddressIsNotUnique.js
api/modules/geo/services/exceptions/DepartmentNotFound.js
api/modules/geo/services/address.js
api/modules/geo/services/department.js
api/modules/geo/views/departmentView.js

api/modules/school/controllers/errors/AddressDoesNotExist.js
api/modules/school/controllers/errors/AddressIsNotUnique.js
api/modules/school/controllers/errors/DepartmentNotFound.js
api/modules/school/controllers/errors/SchoolNotExistTypeError.js
api/modules/school/controllers/errors/SchoolNotFound.js
api/modules/school/controllers/commentAdminController.js
api/modules/school/controllers/departmentAdminController.js
api/modules/school/controllers/index.js
api/modules/school/controllers/schoolAdminController.js

api/modules/school/services/exceptions/SchoolNotExistType.js
api/modules/school/services/exceptions/SchoolNotFound.js
api/modules/school/services/schoolAdminService.js
api/modules/school/services/schoolComment.js

api/modules/school/views/commentView.js

console/modules/geoTools/geoTools.js
