.idea/
.sass-cache/
.vscode/
node_modules/

public/
tmp/
doc/
build/
runtime/
assets/dump/
/parse/
/console/reports
/vkdata/
project_tools/
compile.js
/*.xlsx

*.log
*.swp
.jshintrc
sftp-config.json
deployment-config.json
.atom-build.*
.remote-sync.json
.ftpconfig
.tern-project
.jshintrc
.eslintrc
.ftpconfig
.csscomb*
.tags*
jsconfig.json
tslint.json

/app/config/local/
/app/config/*.json
/environment/config/*/local/
/environment/config/*/*.json
/environment/*/config.*
/environment/nginx/schools-local.conf

console/reports
migrate_stderr
migrate_stdout

**/b-icon_auto-sprite.*

#typings ignore
typings

#builded typescript files ignore
api/components/interface.js

api/modules/geo/interfaces/DepartmentAdmin.js
api/modules/geo/models/address.js
api/modules/geo/models/department.js
api/modules/geo/services/exceptions/AddressDoesNotExist.js
api/modules/geo/services/exceptions/AddressIsNotUnique.js
api/modules/geo/services/exceptions/DepartmentNotFound.js
api/modules/geo/services/address.js
api/modules/geo/services/department.js
api/modules/geo/views/departmentView.js

api/modules/school/interfaces/SchoolAdmin.js
api/modules/school/interfaces/ProfileAdmin.js
api/modules/school/interfaces/ExamAdmin.js
api/modules/school/interfaces/AdditionalClass.js
api/modules/school/controllers/errors/AddressDoesNotExist.js
api/modules/school/controllers/errors/AddressIsNotUnique.js
api/modules/school/controllers/errors/DepartmentNotFound.js
api/modules/school/controllers/errors/SchoolNotExistTypeError.js
api/modules/school/controllers/errors/SchoolNotFound.js
api/modules/school/controllers/errors/SchoolProfileNameIsShorter.js
api/modules/school/controllers/errors/ExamDataAlreadyExistBySubject.js
api/modules/school/controllers/errors/SchoolCategoryNameIsShorter.js
api/modules/school/controllers/commentAdminController.js
api/modules/school/controllers/departmentAdminController.js
api/modules/school/controllers/index.js
api/modules/school/controllers/schoolAdminController.js

api/modules/school/models/school.js
api/modules/school/models/specializedClassType.js
api/modules/school/models/additionalEducation.js
api/modules/school/models/additionalEducationSphere.js

api/modules/school/services/exceptions/SchoolNotExistType.js
api/modules/school/services/exceptions/SchoolNotFound.js
api/modules/school/services/exceptions/SchoolProfileNameIsShorter.js
api/modules/school/services/exceptions/ExamDataAlreadyExistBySubject.js
api/modules/school/services/exceptions/SchoolCategoryNameIsShorter.js
api/modules/school/services/schoolAdminService.js
api/modules/school/services/schoolComment.js

api/modules/school/views/commentView.js

api/modules/study/controllers/*.js
api/modules/study/controllers/errors/*.js

api/modules/study/models/giaResult.js
api/modules/study/models/subject.js
api/modules/study/models/egeResult.js

api/modules/study/services/exceptions/*.js
api/modules/study/services/profileAdminService.js
api/modules/study/services/giaAdminService.js
api/modules/study/services/examAdminService.js
api/modules/study/services/egeAdminService.js
api/modules/study/services/additionalClassAdminService.js

api/modules/study/intefaces/*.js

app/components/host/host.js

console/modules/geoTools/geoTools.js

gulp/taskBackendLint.js






