.idea/
.sass-cache/
node_modules/

public/
tmp/
doc/
build/
assets/dump/
/parse/
/console/reports
/vkdata/
/*.xlsx

*.log
*.swp
.jshintrc
sftp-config.json
deployment-config.json
.remote-sync.json
.tern-project
.jshintrc
.csscomb*
.tags*

console/reports
migrate_stderr
migrate_stdout

**/b-icon_auto-sprite.*
