.l-school {
    text-align: center;

    font-family: 'PT Serif', Arial, sans-serif;
}

.l-school__body {
    display: inline-block;

    width: 1210px;
    padding-top: 40px;
}

.l-school__horisontal-line {
    width:100%;
}

.l-school__content-header {
    margin-bottom: 20px;

    font-family: Arial, sans-serif;
}
.l-school__content-header-image {
    display: inline-block;;
}

.l-school__content-header-button {
    width: 20px;
    height: 19px;
    background-image: url("images/l-school/school-button.png");
    margin-left: 10px;
    display: inline-block;
}
.l-school__content-header-text {
    display: inline-block;;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.l-school__header-dummy {
    width:100%;
    height: 100px;
    display: inline-block;
    background-color: #c80018;
}

.l-school__name {
    float: left;

    width: 100%;
    margin: 0 0 40px 0;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.l-school__description {
    float: left;

    width: 100%;
    height: 50%;

    font-size: 21px;
}

.l-school__description-text {
    display: inline;
}

.l-school__description-quote {
    display: inline;
    font-style: italic;
}


.l-school__comment-dummy {
    margin: 5px;
    width:100%;
    height: 450px;

    display: inline-block;
    background-color: #c80018;
}

.l-school__ratings-dummy {
    margin: 5px;
    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}

.l-school__map-dummy {
    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}


.l-school__top-content {
    display: inline-block;
    width:100%;
    text-align: left;
    font-size: 25px;
}

.l-school__middle-content {
    display: inline-block;
    width:100%;
    font-size: 0px;
}


.l-school__content-column {
    display: inline-block;

    margin-right: 31px;
    width: 381px;

    vertical-align: top;
    font-size: 16px;
}

.l-school__content-column_double_width {
    width: 762px;

}

.l-school__content-column_last {
    float: right;

    margin-right: 0;
}


.l-school__content-comments {
    text-align: left;
    display: inline-block;
    width:100%;
    font-size: 0px;
}

.l-school__content-block{
    text-align: left;
    margin-bottom: 20px;
}

.l-school__director-name{
    font-weight: bold;
}


.l-school__contacts-subtitle {
    font-weight: bold;
}
.l-school__contacts-record {
    margin-bottom: 10px;
}


.l-school__site-record {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.l-school__site-name {
    font-size: 12px;
}
.l-school__link-record {

    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}
.l-school__link {
    text-decoration: none;
    color:#ee362c;
}
.l-school__link-image {

}

.l-school__rating {
    float: right;
}
