.l-school {
    text-align: center;
}

.l-school__body {
    display: inline-block;
    width: 1200px;
}
.l-school__horisontal-line{
    width:100%;
}


.l-school__header-dummy {
    width:100%;
    height: 100px;
    display: inline-block;
    background-color: #c80018;
}

.l-school__comment-dummy {
    margin: 5;
    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}

.l-school__ratings-dummy {
    margin: 5;
    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}

.l-school__map-dummy {
    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}


.l-school__top-content {
    display: inline-block;
    width:100%;
    text-align: left;
    font-size: 25px;
}

.l-school__middle-content {
    display: inline-block;
    width:100%;
    font-size: 0px;
}

.l-school__bottom-content {
    display: inline-block;
    width:100%;
    font-size: 0px;
}

.l-school__content-column {
    display: inline-block;
    margin-right: 100px;
    width: 350px;
    min-height: 500px;
    vertical-align: top;
    font-size: 10px;
}

.l-school__content-column_double_width {
    width: 700px;

}

.l-school__content-column_last {
    margin-right: 0;
}

.l-school__content-director {

}

.l-school__content-contacts {

}

.l-school__content-contacts-subtitle {

}
