@import '../../i-media/i-media';

.b-sm-item_compact {
    padding: 0;

    cursor: default;

    &:after {
        display: block;
        clear: both;

        content: '';
    }

    .b-sm-item__section-group_cover {
        margin-bottom: 25px;

        font-family: 'Proxima', Arial, sans-serif;
    }

    .b-sm-item__section_header {
        margin-bottom: 12px;

        font-family: 'PT Serif', serif;
    }

    .b-sm-item__name {
        font-weight: 800;
    }

    .b-sm-item__section_description {
        margin-bottom: 15px;

        font: 13px/18px Arial, sans-serif;
    }

    .b-sm-item__description {
        display: inline;
    }

    .b-sm-item__description-link {
        display: inline;
    }

    /** Neptune theme start **/
    &.b-sm-item_neptune-theme {
        position: relative;
        height: 176px;
        box-sizing: border-box;

        .b-sm-item__name {
            padding: 25px;
            margin-bottom: 80px;
            font-family: 'Proxima', Arial, sans-serif;
            font-size: 19px;
            font-weight: 600;
            line-height: 20px;
        }

        .b-sm-item__section_description {
            position: absolute;
            bottom: 30px;
            left: 25px;
            margin-bottom: 0;
        }

        .b-sm-item__section_header {
            margin-bottom: 0;
        }

        .b-sm-item__button-link {
            position: absolute;
            bottom: 5px;
            right: 3px;
        }
    }
    /** Neptune theme end **/

    /** Neptune-imaged theme start **/
    &.b-sm-item_neptune-imaged-theme {
        .b-sm-item__cover-image {
            width: 100%;
        }

        .b-sm-item__section-group_cover {
            margin-bottom: 13px;
        }

        .b-sm-item__name {
            padding-right: 0;
            font-weight: 400;
            font-family: 'ArialMT', Arial, sans-serif;
        }

        .b-sm-item__section_description {
            padding-right: 0;
            line-height: 24px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Proxima', Arial, sans-serif;
        }
    }
    /** Neptune-imaged theme end **/
}

@include media-l {
    .b-sm-item_compact {

        /** Neptune theme start **/
        &.b-sm-item_neptune-theme {
            height: 182px;

            .b-sm-item__section_description {
                bottom: 35px;
            }

            .b-sm-item__button-link {
                bottom: 10px;
                right: 4px;
            }
        }
        /** Neptune theme end **/
    }
}

@include media-m {
    .b-sm-item_compact {
        /** Neptune theme start **/
        &.b-sm-item_neptune-theme {
            height: 210px;
        }
        /** Neptune theme end **/

        /** Neptune-imaged theme start **/
        &.b-sm-item_neptune-imaged-theme {
            .b-sm-item__cover-image {
                width: 100%;
            }

            .b-sm-item__section-group_cover {
                margin-bottom: 15px;
            }

            .b-sm-item__name {
                padding-right: 0;
            }
        }
        /** Neptune-imaged theme end **/
    }
}

@include media-s {
    .b-sm-item_compact {
        /** Neptune theme start **/
        &.b-sm-item_neptune-theme {
            .b-sm-item__name {
                padding: 35px;
            }
        }
        /** Neptune theme end **/
    }
}

@include media-xs {
    .b-sm-item_compact {

        .b-sm-item__section-group_cover {
            float: left;

            margin-top: 10px;
            margin-bottom: 0;
        }

        .b-sm-item__section-group_info {
            padding-left: 90px;
        }

        /** Neptune theme start **/
        &.b-sm-item_neptune-theme {
            .b-sm-item__section-group_info {
                padding-left: 0;
            }

            .b-sm-item__name {
                padding: 25px;
            }
        }
        /** Neptune theme end **/

        /** Neptune-imaged theme start **/
        &.b-sm-item_neptune-imaged-theme {
            .b-sm-item__cover-image {
                width: 100%;
            }

            .b-sm-item__section-group_cover {
                margin-bottom: 10px;
            }

            .b-sm-item__section-group_info {
                padding-left: 0;
            }

            .b-sm-item__section_description {
                margin-bottom: 0;
            }

            .b-sm-item__name {
                padding-right: 0;
            }
        }
        /** Neptune-imaged theme end **/
    }
}

@include media-xxs {
    .b-sm-item_compact {

        /** Neptune theme start **/
        &.b-sm-item_neptune-theme {
            height: 176px;
        }
        /** Neptune theme end **/
    }
}
