@import "../../i-media/i-media";

.b-sm-item_compact {
    padding: 0;

    cursor: default;

    &:after {
        display: block;
        clear: both;

        content: '';
    }

    .b-sm-item__section-group_cover {
        margin-bottom: 25px;

        font-family: 'Proxima', Arial, sans-serif;
    }

    .b-sm-item__section_header {
        font-family: 'PT Serif', serif;
    }

    .b-sm-item__name {
        font-weight: 800;
    }

    .b-sm-item__section_description {
        margin-top: 12px;

        font: 13px/18px Arial, sans-serif;
    }

    .b-sm-item__section_details {
        margin-top: 15px;
    }
}


@include media-xs {
    .b-sm-item_compact {
        .b-sm-item__section-group_cover {
            float: left;
        }

        .b-sm-item__section-group_info {
            padding-left: 90px;
        }
    }
}
