@import '../../i-media/i-media';

.b-sm-item_compact {
    padding: 0;

    cursor: default;

    &:after {
        display: block;
        clear: both;

        content: '';
    }

    .b-sm-item__section-group_cover {
        margin-bottom: 25px;

        font-family: 'Proxima', Arial, sans-serif;
    }

    .b-sm-item__section_header {
        margin-bottom: 12px;

        font-family: 'PT Serif', serif;
    }

    .b-sm-item__name {
        font-weight: 800;
        line-height: normal;
    }

    .b-sm-item__section_description {
        margin-bottom: 15px;

        font: 13px/18px Arial, sans-serif;
    }

    .b-sm-item__description {
        display: inline;
    }

    .b-sm-item__description-link {
        display: inline;
    }

    /** Neptune-imaged theme start **/
    &.b-sm-item_neptune-imaged-theme {
        .b-sm-item__cover-image {
            width: 100%;
        }

        .b-sm-item__section-group_cover {
            margin-bottom: 13px;
        }

        .b-sm-item__name {
            padding-right: 0;
            font-weight: 400;
            font-family: 'ArialMT', Arial, sans-serif;
        }

        .b-sm-item__section_description {
            margin-bottom: 0;
            padding-right: 0;
            line-height: 24px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Proxima', Arial, sans-serif;
        }
    }
    /** Neptune-imaged theme end **/
}

@include media-m {
    .b-sm-item_compact {
        /** Neptune-imaged theme start **/
        &.b-sm-item_neptune-imaged-theme {
            .b-sm-item__cover-image {
                width: 100%;
            }

            .b-sm-item__section-group_cover {
                margin-bottom: 15px;
            }

            .b-sm-item__name {
                padding-right: 0;
            }
        }
        /** Neptune-imaged theme end **/
    }
}


@include media-xs {
    .b-sm-item_compact {

        .b-sm-item__section-group_cover {
            float: left;

            margin-top: 10px;
            margin-bottom: 0;
        }

        .b-sm-item__section-group_info {
            padding-left: 90px;
        }

        /** Neptune-imaged theme start **/
        &.b-sm-item_neptune-imaged-theme {
            .b-sm-item__cover-image {
                width: 100%;
            }

            .b-sm-item__section-group_cover {
                margin-bottom: 10px;
            }

            .b-sm-item__section-group_info {
                padding-left: 0;
            }

            .b-sm-item__section_description {
                margin-bottom: 0;
            }

            .b-sm-item__name {
                padding-right: 0;
            }
        }
        /** Neptune-imaged theme end **/
    }
}
