{namespace sm.gButton.TemplateSocialStendhal}

/**
 * @constructor
 * @extends cl.gButton.TemplateSocial
 */
{template .button}
    {call .init data="all"/}
{/template}

/**
 * Vk icon
 */
{template .vkIcon}
    vk-logo
{/template}

/**
 * Gp icon
 */
{template .gpIcon}
    gp-logo
{/template}

/**
 * Fb icon
 */
{template .fbIcon}
    fb-logo
{/template}
