.b-sm-headed-list__header {
    padding-bottom: 17px;

    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}

.b-sm-headed-list__header-img-wrap {
    padding-bottom: 20px;
}

.b-sm-headed-list__header-title {
    max-width: 235px;
}