.b-sm-input-range {
    color: #000;
}

.b-sm-input-range__input-wrap {
    position: relative;
    bottom: -9px;

    width: 100%;
    height: 56px;

    background: #fff;
    border: 1px solid #e4e4e4;

    font: 700 32px 'Proxima', Arial, sans-serif;
    line-height: 56px;
}

.b-sm-input-range__input {
    width: 100%;
    height: 100%;
}

.b-sm-input-range__input_placeholder {
    padding-left: 15px;
}

.b-sm-input-range__input_field {
    position: absolute;
    z-index: 1;
}
