@import "../i-media/i-media";

.b-filters {
    width: 100%;
    margin: 0;
}

.b-filters__expander {
    position: relative;

    display: none;
    padding: 20px 0;

    cursor: pointer;
    color: #000;
    text-align: left;

    font-weight: 700;
}

.b-filters__expander-icon {
    position: absolute;
    top: 50%;
    right: 0;

    margin-top: -4px;
}

.b-filters__content {
    position: relative;
}

.b-filters__submit-button {
    width: 100%;
    margin: 25px auto 14px auto;
    padding: 12px 0 13px 0;

    border: 4px solid #000000;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.b-filters__submit-button:hover {
    color: #ee362c;
    border: 4px solid #ee362c;
}


.b-filters__control-buttons {
    height: 18px;
    margin-bottom: 34px;

    &:after {
        display: block;
        clear:both;

        content: '';
    }
}

.b-filters__reset {
    display: inline-block;

    float: left;
}

.b-filters__collapser {
    display: none;
}

@include media-xl {
    .b-filters__group {
        display: inline-block;

        width: 45%;
        margin: 0 17px;

        vertical-align: top;
    }

}

@include media-l {
    .b-filters_state_expanded {
        .b-filters__expander {
            display: none;
        }

        .b-filters__content {
            display: block;
        }
    }

    .b-filters_state_collapsed {
        .b-filters__expander {
            display: block;
        }

        .b-filters__content {
            display: none;
        }
    }

    .b-filters__collapser {
        display: inline-block;

        float: right;
    }
}
