@import '../i-media/i-media';

.b-sm-header {
    position: relative;

    width: 100%;

    border-bottom: 1px solid #eee;

    font-size: 20px;
}

.b-sm-header__section_menu {
    color: #000;

    font-family: Proxima, sans-serif;
    font-weight: 800;
}

.b-sm-header__section {
    display: inline-block;

    height: 100%;
}

.b-sm-header__body {
    max-width: 1200px;
    margin: 0 auto;
}

.b-sm-header__section_contacts {
    float: right;

    margin-top: 25px;
}

.b-sm-header__menu-item {
    display: inline-block;

    height: 100%;
    margin-right: 30px;
    padding: 25px 0 25px 0;
}

.b-sm-header__menu-item_active-course {
    border-bottom: 3px solid #f7eb30;
}

.b-sm-header__menu-item_active-school {
    border-bottom: 3px solid #00aa00;
}

.b-sm-header__menu-item_active-university {
    border-bottom: 3px solid #007aff;
}

.b-sm-header__helper-text {
    display: inline-block;

    padding-right: 10px;

    vertical-align: middle;

    color: #000;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.b-sm-header__contacts {
    display: inline-block;
}

@include media-xl {
    .b-sm-header__body {
        padding: 0 40px;
    }
}

@include media-l {
}

@include media-m {
    .b-sm-header__helper-text {
        display: none;
    }
}

@include media-xs {
    .b-sm-header__main-menu {
        display: none;
    }
    .b-sm-header__menu-item {
        display: block;

        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 10px 0 0 0;
    }
    .b-sm-header__menu-item_active-course {
        border-bottom: none;
    }
    .b-sm-header__menu-item_active-school {
        border-bottom: none;
    }
    .b-sm-header__menu-item_active-university {
        border-bottom: none;
    }
}