@import '../i-media/i-media';

.b-sm-header {
    position: relative;

    height: 64px;
    width: 100%;

    border-bottom: 1px solid #eee;

    font-size: 20px;
}

.b-sm-header__body {
    max-width: 1200px;
    margin: 0 auto;

    line-height: 61px;
}

.b-sm-header__section {
    display: inline-block;

    height: 100%;
}

.b-sm-header__section_menu {
    color: #000;

    font-family: Proxima, sans-serif;
    font-weight: 700;
}

.b-sm-header__section_contacts {
    float: right;
}

.b-sm-header__contacts {
    display: inline-block;
}

.b-sm-header__authorization {
    display: inline-block;

    margin-left: 25px;
}

.b-sm-header__menu-item {
    display: inline-block;

    height: 100%;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }
}

.b-sm-header__menu-item_active-course {
    border-bottom: 3px solid #f7eb30;
}

.b-sm-header__menu-item_active-school {
    border-bottom: 3px solid #00aa00;
}

.b-sm-header__menu-item_active-university {
    border-bottom: 3px solid #0777e8;
}

.b-sm-header__contacts {
    display: inline-block;
}

@include media-xl {
    .b-sm-header__body {
        padding: 0 40px;
    }
}

@include media-m {
    .b-sm-header {
        height: 70px;
    }

    .b-sm-header__body {
        line-height: 67px;
    }
}


@include media-s {
    .b-sm-header__authorization {
        margin-left: 10px;
    }

    .b-sm-header__menu-item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0px;
        }
    }
}


@include media-xs {
    .b-sm-header {
        height: auto;
    }

    .b-sm-header__main-menu {
        display: none;
    }

    .b-sm-header__menu-item {
        display: block;

        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 10px 0 0 0;
    }

    .b-sm-header__menu-item_active-course {
        border-bottom: none;
    }

    .b-sm-header__menu-item_active-school {
        border-bottom: none;
    }

    .b-sm-header__menu-item_active-university {
        border-bottom: none;
    }
}
