.b-sort {
    display: inline-block;

    width: 100%;

    color: #000;

    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.b-dropdown__switcher-image {
    display: inline;

    margin-left: 12px;

    vertical-align: middle;
}

.b-dropdown__switcher-text {
    font-size: 13px;
}
