.b-sort {
    display: inline-block;

    width: 100%;
}

.dropdown__switcher-image {
    display: inline;

    margin: 0 8px;

    vertical-align: middle;
}

.b-dropdown__switcher-text {
    font-size: 13px;
}
