@import "../i-media/i-media";

.l-sm-search__body {

    width: 1200px;
    min-width: 315px;
    margin: auto;

    font-family: Arial, sans-serif;
}

/** layout **/
.l-sm-search__footer {
    width: 1200px;
    min-width: 315px;
    margin: 60px auto 0;
}

.l-sm-search__section {
    margin-bottom: 60px;

    &.l-sm-search__section_map {
        width: 100%;
        height: 500px;
        background: #f4f4ec;
    }


    &.l-sm-search__section_content {
        margin-top: 60px;
        padding-bottom: 60px;
        border-bottom: 1px solid #e5e5e5;


        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &.l-sm-search__section_popular {
        margin-top: 45px;

        height: 370px;
        background: #f4f4ec;
    }
}
/** layout end **/


/** Content section **/
.l-sm-search__left-menu {
    float: left;

    width: 350px;
    height: 1100px;

    margin-right: 60px;

    text-align: center;

    background: #f4f4ec;
}

.l-sm-search__list-results {
    box-sizing: border-box;

    padding-left: 410px;
}

.l-sm-search__list-header {
    color: #000;

    font: 600 22px/38px Proxima, arial, sans-serif;

    &.l-sm-search__list-header_size_s {
        display: none;

        text-align: center;
        padding: 26px 0;
    }
}

.l-sm-search__sort {
//    overflow: auto;
    height: 13px;
    position: relative;
}

.l-sm-search__sort-control {
    position: absolute;
    right: 0;

    padding-left: 18px;

    background: #ffffff;
}

.l-sm-search__list-header-text {
    &.l-sm-search__list-header-text_title {
        margin-bottom: 15px;
    }

    &.l-sm-search__list-header-text_description {
        margin-bottom: 45px;

        font: 16px 'PT Serif', serif;
        line-height: 22px;
    }

    &.l-sm-search__list-header-text_strong {
        font-weight: 800;
    }
}
/** content section end **/

.l-sm-search__horizontal-line {
    width: 100%;
    height: 1px;
    margin: 10px 0 -10px;

    background: #e5e5e5;
}

@include media-xl {
    .l-sm-search__body {
        width: 100%;
    }

    .l-sm-search__footer {
        width: 100%;
    }

    .l-sm-search__section {
        &.l-sm-search__section_content {
            margin: 0 40px;
        }
    }
}

@include media-m {
    .l-sm-search__section {
        &.l-sm-search__section_map {
            margin-bottom: 0;
        }

        &.l-sm-search__section_content {
            margin: 0;
            padding-bottom: 40px;
        }
    }

    .l-sm-search__left-menu {
        float: none;
        display: block;

        margin-bottom: 35px;

        height: 169px;
        width: 100%;
    }


    .l-sm-search__list-header {
        &.l-sm-search__list-header_size_l {
            display: none;
        }

        &.l-sm-search__list-header_size_s {
            display: block;
        }
    }


    .l-sm-search__list-results {
        padding: 0 40px;
    }
}

@include media-xs {
    .l-sm-search__section {
        &.l-sm-search__section_map {
            display: none;
        }
    }

    .l-sm-search__list-results {
        padding: 0 30px;
    }
}
