@import '../../i-media/i-media';

.b-sm-item_entity {
    padding: 24px 0;

    cursor: default;


    .b-sm-item__section {
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .b-sm-item__name {
        box-sizing: border-box;
        width: 100%;
        padding-right: 180px;

        cursor: pointer;

        color: black;

        font: 700 21px/26px 'Proxima', Arial, sans-serif;
        &:hover {
            color: #ee362c;
        }
    }

    .b-sm-item__name-bold {
        font-weight: 800;

        &:hover {
            color: #ee362c;
        }
    }

    .b-sm-item__estimates {
        position: absolute;
        top: 2px;

        width: 250px;
        height: 100%;

        text-align: right;
    }

    .b-sm-item__cost {
        color: #ee362c;

        font: 16px/22px 'PT Serif', Arial, sans-serif;
    }

    .b-sm-item__cost_size_l {
        display: inline-block;
    }

    .b-sm-item__cost_size_s {
        display: none;
    }

    .b-sm-item__score {
        display: inline-block;

        text-align: left;
    }

    .b-sm-item__section_description {
        display: block;

        margin-bottom: 15px;
        padding-right: 100px;

        color: #000;

        font: 16px/22px 'PT Serif', Arial, sans-serif;
    }

    .b-sm-item__description {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .b-sm-item__section_badges {
        display: inline-block;

        width: auto;
        margin-bottom: 5px;
    }

    .b-sm-item__badge {
        margin-right: 28px;
        margin-bottom: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    .b-sm-item__section-group_cover {
        float: left;

        width: 150px;
        padding-right: 20px;

        cursor: pointer;
    }

    .b-sm-item__section-group_info {
        overflow: hidden;

        width: auto;
    }

    .b-sm-item__cover-image {
        width: 100%;
    }


    .b-sm-item_type_course {
        .b-sm-item__name {
            padding-right: 250px;
        }
    }
}


@include media-l {
    .b-sm-item_entity {
        padding: 20px 0;
        .b-sm-item__estimates {
            width: auto;
            min-width: 160px;
        }

        .b-sm-item__section-group_cover {
            width: 100px;
        }
    }

    .b-sm-item_type_course {
        .b-sm-item__name {
            padding-right: 180px;
        }

        .b-sm-item__section_description {
            padding-right: 180px;
        }
    }
}

@include media-m {
    .b-sm-item_entity {
        .b-sm-item__section-group_cover {
            width: 100px;
        }
    }
}

@include media-xs {
    .b-sm-item_entity {
        .b-sm-item__section_description {
            padding-right: 0;
        }

        .b-sm-item__name {
            padding-right: 75px;
        }

        .b-sm-item__cost_size_l {
            display: none;
        }

        .b-sm-item__cost_size_s {
            display: block;
        }

        .b-sm-item__brand {
            margin-bottom: 0;
        }

        .b-sm-item__section-group_cover {
            float: none;

            width: 150px;
            padding-bottom: 20px;
        }
    }
}
