@import "../../i-media/i-media";

.b-sm-item_entity {
    padding: 24px 0;

    cursor: default;

    .b-sm-item__section {
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .b-sm-item__name {
        width: 100%;
        padding-right: 180px;

        box-sizing: border-box;

        cursor: pointer;

        color: black;

        font: 700 21px/26px 'Proxima', Arial, sans-serif;

        &:hover {
            color: #ee362c;
        }
    }

    .b-sm-item__name-bold {
        font-weight: 800;

        &:hover {
            color: #ee362c;
        }
    }

    .b-sm-item__cost {
        font: 16px/22px 'PT Serif', Arial, sans-serif;
    }

    .b-sm-item__cost_size_l {
        position: absolute;
        top: 3px;
        right: 55px;

        height: 100%;
        min-width: 185px;
    }

    .b-sm-item__cost_size_s {
        display: none;
    }

    .b-sm-item__score {
        top: 2px;

        height: 100%;
    }

    .b-sm-item__section_description {
        max-width: 705px;
        margin-bottom: 15px;
        padding-right: 80px;

        color: #000;

        font: 16px/22px 'PT Serif', Arial, sans-serif;
    }

    .b-sm-item__description {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .b-sm-item__section_badges {
        display: inline-block;

        width: auto;
        margin-bottom: 5px;
    }

    .b-sm-item__badge {
        margin-right: 28px;
        margin-bottom: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.b-sm-item_type_course {
    .b-sm-item__name {
        padding-right: 250px;
    }
}


@include media-l {
    .b-sm-item_entity {
        padding: 20px 0;

        .b-sm-item__cost_size_l {
            top: 28px;
            right: 0;

            min-width: 160px;

            text-align: right;
        }
    }

    .b-sm-item_type_course {
        .b-sm-item__name {
            padding-right: 180px;
        }

        .b-sm-item__section_description {
            padding-right: 180px;
        }
    }
}


@include media-xs {
    .b-sm-item_entity {
        .b-sm-item__section_description {
            padding-right: 0;
        }

        .b-sm-item__name {
            padding-right: 75px;
        }

        .b-sm-item__cost_size_l {
            display: none;
        }

        .b-sm-item__cost_size_s {
            display: block;
        }

        .b-sm-item__brand {
            margin-bottom: 0;
        }
    }

    .b-sm-item_type_course {

    }
}
