{namespace mel.lschools}
/**
* A layout for Yandex.Maps block
*/
{template .map}
    <section class="b-map__wrapper">
        <div class="b-map__map-box">
            {call .tag}
            {/call}
        </div>
        <div class="b-map__info">
            <span class="b-map__location">м. Домодедовская, Орехово</span>
        </div>
    </section>
{/template}
