@import "../../i-media/i-media";

.b-sm-filter {
    display: inline-block;

    width: 100%;
    padding: 11px 0 15px;

    text-align: left;

    color: #000000;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.b-sm-filter__header {
    display: inline-block;

    width: 100%;
    padding: 10px 0 7px 0;

    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.b-sm-filter__header_button {
    cursor: pointer;
}

.b-sm-filter__title {
    display: inline;
}

.b-sm-filter__tooltip {
    position: relative;
    top: -2px;

    display: inline-block;

    margin-left: 8px;
}

.b-sm-filter__tooltip-icon {
    cursor: pointer;
}

.b-sm-filter__tooltip-content {
    line-height: 14px;
}

.b-sm-filter__header-icon {
    float: right;
}

.b-sm-filter__option {
    margin: 0;

    font-size: 14px;
}

.b-sm-filter__content {
    margin-bottom: 8px;
}

.b-sm-filter__button {
    display: inline-block;

    margin-top: 12px;
    margin-bottom: 4px;
}

.b-sm-filter_align_horizontal {
    .b-sm-filter__option {
        display: inline-block;

        width: 13.8%;
        min-width: 0;
    }
}

.b-sm-filter_minimal-theme {
    .b-sm-filter__header {
        padding: 5px 0 10px;
    }

    .b-sm-filter__option {
        display: inline-block;

        width: 50%;
        margin-bottom: 3px;

        vertical-align: top;

        line-height: 20px;
    }
}

.b-sm-filter_light-theme {
    padding: 0;

    .b-sm-filter__content {
        margin-bottom: 0;
    }
}

/** Neptune theme start */
.b-sm-filter_neptune-theme {
    padding: 0;

    .b-sm-filter__option {
        font-size: 15px;
    }

    .b-sm-filter__header {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .b-sm-filter__header-icon {
        float: none;
        display: inline-block;
        margin-left: 5px;
    }

    .b-sm-filter__list-options {
        margin-bottom: 10px;
    }
}
/** Neptune theme end */

@include media-m {
    .b-sm-filter__option {
        display: inline-block;

        width: 25%;
        min-width: 0;

        vertical-align: top;
    }

    /** Neptune theme start */
    .b-sm-filter_neptune-theme {
        .b-sm-filter__option {
            display: block;
            width: auto;
        }
    }
    /** Neptune theme end */
}

@include media-s {
    .b-sm-filter__option {
        width: 33.33%;
    }

    .b-sm-filter_minimal-theme {
        .b-sm-filter__option {
            width: 100%;
        }
    }
}

@include media-xs {
    .b-sm-filter__option {
        width: 100%;
    }
}
