.b-data-block_ratings {

	.b-data-block__header {
		margin-bottom: 23px;
	}

	.b-data-block__item {
	  	position: relative;

	  	min-height: 40px;
		margin-bottom: 20px;

	  	&:before {
		  	display: inline-block;

		  	width: 0;
		  	min-height: 40px;
		  	height: 100%;

		  	content: '';
		  	vertical-align: middle;
		}
	}

	.b-data-block__item:last-child {
		margin-bottom: 0;
	}

	.b-data-block__item-content {
		display: inline-block;

		width: 100%;
	  	max-width: 275px;
		padding-left: 60px;

		box-sizing: border-box;
		vertical-align: middle;

		line-height: 18px;
	}
}

.b-data-block__place-wrapper {
  	position: absolute;
  	top: 50%;
  	left: 0;
	display: inline-block;

	width: 38px;
	height: 38px;
	margin-top: -20px;

	text-align: center;

	vertical-align: middle;

	border: 1px solid #f0f0f0;
	border-radius: 20px;
}

.b-data-block__place-value {
	display: inline-block;

	letter-spacing: 0.06em;

	font-family: Proxima, arial, sans-serif;
	font-size: 16px;
	font-weight: 600;

	line-height: 38px;
}