@import "../i-media/i-media";

/** main blocks of layout **/
.l-error-not-found {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 200px;
}

.l-error-not-found__wrapper-content {
    min-height: 100%;
}

.l-error-not-found__section {
    width: 1200px;
    min-width: 255px;
    margin: 0 auto 60px;

    color: #000;

    font-family: Arial, sans-serif;
}

.l-error-not-found__footer {
    position: relative;
    bottom: 0;
}
/** layout end **/


/** section content **/
.l-error-not-found__wrapper-error-information {
    height: 280px;
    margin-top: 60px;

    text-align: center;

    &:before {
        display: inline-block;

        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.l-error-not-found__error-information {
    display: inline-block;

    vertical-align: middle;
    text-align: left;
}

.l-error-not-found__error-text {
    display: inline-block;

    padding-left: 38px;
    vertical-align: middle;

    font-family: 'Proxima';
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.l-error-not-found__error-img {
    display: inline-block;

    width: 93px;
    height: 93px;

    vertical-align: middle;
}

@include media-xl {
    .l-error-not-found__section {
        box-sizing: border-box;
        width: auto;
        padding: 0 40px;
    }
}

@include media-m {
    .l-error-not-found__wrapper-error-information {
        height: 180px;
    }
}

@include media-s {
    .l-error-not-found__wrapper-error-information {
        height: auto;
    }

    .l-error-not-found__error-img {
        float: left;

        display: block;
    }

    .l-error-not-found__error-text {
        display: block;

        padding-left: 120px;
    }
}

@include media-xs {
    .l-error-not-found {
        box-sizing: border-box;
        height: 100%;
        padding-bottom: 235px;
    }

    .l-error-not-found__section {
        padding: 0 30px;
    }

    .l-error-not-found__footer {
        padding: 0;
    }
}

@include media-xxs {
    .l-error-not-found__error-img {
        float: none;
    }

    .l-error-not-found__error-text {
        margin-top: 20px;
        padding-left: 0px;
    }
}
