.b-link {
    display: inline-block;

    cursor: pointer;
    text-decoration: none;

    color: #356fc4;

    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.b-link_attention {
    color: #ff0000;
}

.b-link_font_default {
    font-family: inherit;
    font-size: inherit;
}

.b-link:hover {
    color: #ff0000;
}

.b-link_size_small {
    font-size: 12px;
}

.b-link_size_medium {
    font-size: 13px;
}

.b-link_size_large {
    font-size: 14px;
}

.b-link_size_extralarge {
    font-size: 15px;
}

.b-link_light {
    color: #808080;
}
