@import '../i-media/i-media';

.b-sm-comment {
    max-width: 1200px;
    margin: 0 auto;

    font-size: 15px;
}

.b-sm-comment__author {
    display: inline-block;

    width: 208px;
    margin-right: 102px;

    vertical-align: top;
}

.b-sm-comment__text {
    display: inline-block;

    max-width: 640px;
}

.b-sm-comment__author-photo-wrap {
    overflow: hidden;

    width: 64px;
    height: 64px;
    margin-bottom: 10px;

    border-radius: 50%;
}

.b-sm-comment__author-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.b-sm-comment__author-data {
    margin-bottom: 12px;

    font-family: Arial, sans-serif;
    font-weight: 600;
    line-height: 18px;
}

.b-sm-comment__author-name {
    display: inline-block;
}

.b-sm-comment__paragraph {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.b-sm-comment__paragraph-header {
    margin-bottom: 15px;

    font-weight: 600;
}

.b-sm-comment__paragraph-description {
    color: #747474;

    line-height: 22px;
}

.b-sm-comment__score {
    padding-top: 14px;
}

.b-sm-comment__score-title {
    margin-bottom: 10px;

    color: #747474;

    font-weight: normal;
}


@include media-xl {
    .b-sm-comment {
        padding-right: 40px;
        padding-left: 40px;
    }
}


@include media-l {
    .b-sm-comment__author {
        display: block;

        width: auto;
        margin-right: 0;
        margin-bottom: 22px;
    }

    .b-sm-comment__text {
        display: block;
    }

    .b-sm-comment__author-photo-wrap {
        display: inline-block;

        margin-right: 16px;
    }

    .b-sm-comment__author-data {
        display: inline-block;

        vertical-align: top;
    }

    .b-sm-comment__score {
        padding-top: 7px;
    }

    .b-sm-comment__score-title {
        margin-bottom: 7px;
    }
}


@include media-s {
    .b-sm-comment__text {
        width: 100%;
    }
}

@include media-xs {
    .b-sm-comment {
        padding-right: 25px;
        padding-left: 25px;
    }

    .b-sm-comment__author-photo-wrap {
        display: none;
    }

    .b-sm-comment__author {
        margin-bottom: 30px;
    }

    .b-sm-comment__score {
        padding-top: 14px;
    }
}
