@import "../i-media/i-media";

.b-sm-comment {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 15px;
}

.b-sm-comment__author {
    display: inline-block;

    width: 208px;
    margin-right: 102px;

    vertical-align: top;
}

.b-sm-comment__text {
    display: inline-block;

    max-width: 640px;
}

.b-sm-comment__author-photo-wrap {
    width: 64px;
    margin-bottom: 10px;
}

.b-sm-comment__author-photo {
    width: 100%;
}

.b-sm-comment__author-data {
    font-family: Arial, sans-serif;
    font-weight: 600;
    line-height: 18px;
}

.b-sm-comment__author-name {
    display: inline-block;
}

.b-sm-comment__author-status {
    display: inline-block;
}

.b-sm-comment__paragraph {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.b-sm-comment__paragraph-header {
    margin-bottom: 12px;

    font-weight: 600;
}

.b-sm-comment__paragraph-description {
    color: #747474;

    line-height: 22px;
}


@include media-xl {
    .b-sm-comment {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@include media-l {
    .b-sm-comment__author {
        display: block;
        margin-right: 0;
        margin-bottom: 27px;
    }

    .b-sm-comment__text {
        display: block;
    }

    .b-sm-comment__author {
        width: auto;
    }

    .b-sm-comment__author-photo-wrap {
        display: inline-block;
        margin-right: 16px;
    }

    .b-sm-comment__author-data {
        display: inline-block;
        vertical-align: top;
    }
}


@include media-s {
    .b-sm-comment__text {
        width: 100%;
    }
}

@include media-xs {
    .b-sm-comment {
        padding-left: 25px;
        padding-right: 25px;
    }

    .b-sm-comment__author-photo-wrap {
        display: none;
    }

    .b-sm-comment__author {
        margin-bottom: 30px;
    }
}
