@import '../../i-media/i-media';

.b-filter-panel {
    width: 100%;

    color: #000;
    background-color: inherit;

    font-family: Arial, sans-serif;
    font-size: 15px;
}

.b-filter-panel__content {
    background-color: inherit;
}

.b-filter-panel__expander {
    display: none;

    width: 100%;
    padding: 21px 0;

    cursor: pointer;

    font-weight: bold;
    line-height: 25px;
}

.b-filter-panel__expander-icon {
    float: right;
}

.b-filter-panel__filter-wrap {
    border-bottom: 1px solid #e5e5e5;
}

.b-filter-panel__filter-wrap_classes {
    border-bottom: none;
}

.b-filter-panel__filters-list {
    margin-bottom: 30px;
}

.b-filter-panel__control-links {
    display: inline-block;

    width: 100%;
    margin: 10px 0 30px;

    line-height: 25px;
}

.b-filter-panel__reset {
    float: left;
}

.b-filter-panel__collapser {
    display: none;
    float: right;
}

/** Neptune theme start */
.b-filter-panel_neptune-theme {
    .b-filter-panel__filter-wrap {
        border-bottom: none;
    }

    .b-filter-panel__filter-wrap_range {
        max-width: 235px;
    }

    .b-filter-panel__reset {
        float: none;
        text-align: center;
    }

    .b-filter-panel__filters-list {
        margin-bottom: 14px;
    }
}

.b-filter-panel_dependent.b-filter-panel_neptune-theme {
    .b-filter-panel__control-links {
        display: none;
    }

    .b-filter-panel__button {
        display: none;
    }
}
/** Neptune theme end */
.b-filter-panel__tooltip-wrap {
    position: absolute;
    left: 100%;
    top: 0;
}

.b-filter-panel__button-wrap {
    background-color: inherit;
}

.b-filter-panel__button-box {
    height: 50px;
    background-color: inherit;
}

.b-filter-panel__button-wrap_fixed {
    position: fixed;
    width: calc(100% - 80px);
    bottom: 20px;

    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.3);
}


@include media-m {
    .b-filter-panel_state_expanded {
        .b-filter-panel__expander {
            display: none;
        }

        .b-filter-panel__content {
            display: block;
        }
    }

    .b-filter-panel_state_collapsed {
        .b-filter-panel__expander {
            display: inline-block;
        }

        .b-filter-panel__content {
            display: none;
        }
    }

    .b-filter-panel__collapser {
        display: inline-block;
    }

    /** Neptune theme start */
    .b-filter-panel_neptune-theme {
        .b-filter-panel__content {
            position: relative;
        }

        .b-filter-panel__button {
            display: inline-block;

            width: 245px;
            margin-bottom: 40px;
        }

        .b-filter-panel__control-links {
            display: inline-block;

            width: auto;
            margin: 0;
            margin-left: 15px;

            vertical-align: middle;
        }

        .b-filter-panel__filters-list {
            padding-left: 5px;
        }
    }

    .b-filter-panel_main.b-filter-panel_neptune-theme {
        .b-filter-panel__button {
            display: none;
        }

        .b-filter-panel__control-links {
            display: none;
        }

        .b-filter-panel__filters-list {
            margin-bottom: 0;
        }
    }

    .b-filter-panel_dependent.b-filter-panel_neptune-theme {
        .b-filter-panel__reset {
            display: none;
        }

        .b-filter-panel__button {
            display: inline-block;
        }

        .b-filter-panel__control-links {
            display: inline-block;
        }
    }
    /** Neptune theme end */
}

@include media-s {
    /** Neptune theme start */
    .b-filter-panel_dependent.b-filter-panel_neptune-theme {
        .b-filter-panel__button {
            display: block;

            margin-bottom: 15px;
        }

        .b-filter-panel__control-links {
            margin-bottom: 20px;
            margin-left: 5px;
        }
    .b-filter-panel__tooltip-wrap {
        display: none;
    }
}

@include media-xs {
    .b-filter-panel__button-wrap_fixed {
        width: calc(100% - 60px);
    }
}
