@font-face {
    font-family: 'WebSymbols';
    src: url('/fonts/websymbols/websymbolsligaregular.eot');
    src: url('/fonts/websymbols/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/websymbols/websymbolsligaregular.woff') format('woff'),
    url('/fonts/websymbols/websymbolsligaregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Proxima';
	src: url('/fonts/proxima/3056B6_8_0.eot');
	src: url('/fonts/proxima/3056B6_8_0.eot?#iefix') format('embedded-opentype'),
	url('/fonts/proxima/3056B6_8_0.woff2') format('woff2'),
	url('/fonts/proxima/3056B6_8_0.woff') format('woff'),
	url('/fonts/proxima/3056B6_8_0.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima';
	src: url('/fonts/proxima/3056B6_6_0.eot');
	src: url('/fonts/proxima/3056B6_6_0.eot?#iefix') format('embedded-opentype'),
	url('/fonts/proxima/3056B6_6_0.woff2') format('woff2'),
	url('/fonts/proxima/3056B6_6_0.woff') format('woff'),
	url('/fonts/proxima/3056B6_6_0.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima';
	src: url('/fonts/proxima/3056B6_B_0.eot');
	src: url('/fonts/proxima/3056B6_B_0.eot?#iefix') format('embedded-opentype'),
	url('/fonts/proxima/3056B6_B_0.woff2') format('woff2'),
	url('/fonts/proxima/3056B6_B_0.woff') format('woff'),
	url('/fonts/proxima/3056B6_B_0.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

