{namespace sm.bAuthorizationModal.Template}

/**
 * Default authorization modal view
 */
{template .modal}
    <script>
        window.opener.location.reload();
        window.close();
    </script>
{/template}
