.b-rating {
    display: inline-block;

    width: 100%;
    height: 100%;

    text-align: center;
    font-weight: normal;

    line-height: 1;
}

.b-rating__sections {
    display: inline-block;
    margin: 0 0 26px 0;

    width: 100%;

    line-height: 1;
}

.b-rating__marks {
    display: inline-block;

    width: 100%;

    font-family: 'Proxima', Arial, sans-serif;
}

.b-rating__section {
    display: inline-block;

    width: 20%;
}

.b-rating__mark {
    display: inline-block;

    width: 100%;
}

.b-rating__section-name {
    display: inline-block;

    width: 100%;

    color: #9a9a9a;

    font: 10px Arial;
}

.b-rating__mark_average {
    color: #ee362c;

    font-weight: 800;
    font-size: 32px;
}

.b-rating__mark_ordinary {
    color: rgb(247, 173, 171);

    font-size: 28px;
}

.b-rating__mark_null-average {
    position: relative;
    top: -2px;
}

/*THEMES*/

/*black-theme*/
.b-rating_black-theme{

    .b-rating__mark {
        color: #000000;
        font-weight: bold;
    }

    .b-rating__mark_ordinary {
        font-size: 14px;
        margin-top: 4px;
    }

    .b-rating__mark_average {
        font-size: 19px;
    }

    .b-rating__sections {
        color: black;
    }

    .b-rating__section-name {
        color: black;
        font-size: 11px;
    }

    .b-rating__section-name_average {
        color: black;
        font-size: 13px;
    }

    .b-rating__mark_null-average {
        position: relative;
        top: 0;
    }
}

