@import "i-media/i-media";

html, body {
    height: 100%;
}

.l-search-result {
    width: 100%;
    margin: auto;
}

.l-search-result__header {
    margin-bottom: 38px;
}

.l-search-result__body:after {
    display: block;
    clear: both;

    content: '';
}

.l-search-result__top-menu {
    display: inline-block;

    width: 100%;
    margin-bottom: 30px;
    padding: 50px 0;

    text-align: center;

    border-bottom: 1px solid #e5e5e5;
}

.l-search-result__map {
    width: 100%;
    height: 500px;
}

.l-search-result__content {
    margin-top: 60px;
}

.l-search-result__left-menu {
    float: left;

    width: 380px;

    text-align: center;
}

.l-search-result__results-section {
    box-sizing: border-box;
    width: 100%;
    padding-left: 440px;

    border-top: 1px solid transparent;
}

.l-search-result__list-header {
    margin: -5px 0 7px;

    color: #000;

    font: 600 19px/1.3 Proxima, arial, sans-serif;
}

.l-search-result__list-header_clone {
    display: none;
}

.l-search-result__list-header-text {
    &.l-search-result__list-header-text_strong {
        font-weight: 800;
    }

    &.l-search-result__list-header-text_title {
        text-transform: uppercase;

        font-size: 16px;
    }

    &.l-search-result__list-header-text_description {
        margin-top: 15px;

        font: 16px 'PT Serif', serif;
        line-height: 22px;

        &:last-child {
            margin-bottom: 45px;
        }
    }

    &.l-search-result__list-header-text_links-title {
        margin-top: 20px;
        margin-bottom: 5px;

        font: 16px 'PT Serif', serif;
        font-weight: normal;
    }

    &.l-search-result__list-header-text_links {
        margin-bottom: 20px;

        font-weight: normal;
    }
}

.l-search-result__link {
    display: inline-block;
}

.l-search-result__link_list-header {
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}

.l-search-result__footer-seo {
    margin-bottom: 75px;
    padding-top: 52px;

    border-top: 1px solid #e5e5e5;
}

.l-search-result__text-seo {
    display: inline-block;

    box-sizing: border-box;
    width: 50%;

    vertical-align: top;

    font: 13px Helvetica, sans-serif;
    line-height: 18px;
}

.l-search-result__text-seo_left {
    padding-right: 15px;
}

.l-search-result__text-seo_right {
    padding-left: 15px;
}

.l-search-result__paragraph-seo {
    margin-bottom: 10px;
}

.l-search-result__search {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;

    border-bottom: 1px solid #e5e5e5;
    background: #f4f4ec;
}

.l-search-result__show-on-map {
    float: left;

    width: 31%;
    height: 100%;
}

.l-search-result__map-link {
    cursor: pointer;
}

.l-search-result__show-on-map-text {
    float: left;

    padding-top: 6%;
    padding-right: 0;
    padding-bottom: 6%;
    padding-left: 9px;

    color: #ff0000;

    font-size: 18px;
}

.l-search-result__show-on-map-icon {
    float: left;

    margin-top: 5%;
    margin-left: 5%;
}

.l-search-result__sort {
    float: right;

    width: 33%;
    height: 100%;
    padding-top: 26px;

    text-align: right;

    font-family: arial, sans-serif;
    font-size: 13px;
}

.l-search-result__filters {
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: 0 30px 0 30px;

    background: #f4f4ec;
}

@include media-xl {
    .l-search-result__search {
        box-sizing: content-box;
        padding-right: 40px;
        padding-left: 40px;
    }

    .l-search-result__filters {
        box-sizing: content-box;
        padding: 0 40px;
    }

    .l-search-result__left-menu {
        width: 340px;
    }
}

@include media-l {
    .l-search-result__body {
        position: relative;
    }

    .l-search-result__list-header {
        display: none;
    }

    .l-search-result__list-header_clone {
        display: block;

        margin-bottom: 23px;
    }

    .l-search-result__left-menu {
        width: 100%;
        margin-bottom: 30px;
    }

    .l-search-result__filters {
        margin-left: -40px;
    }

    .l-search-result__search {
        margin-left: -40px;
    }

    .l-search-result__results-section {
        padding-left: 0;
    }

    .l-search-result__map {
        display: none;
    }

    .l-search-result__body {
        margin-top: 35px;
    }

    .l-search-result__content {
        margin-top: 0;
    }
}


@include media-m {
    .l-search-result__list-header {
        margin-bottom: 27px;
    }

    .l-search-result__list-header-text_description {
        &:last-child {
            margin-bottom: 55px;
        }
    }

    .l-search-result__footer-seo {
        margin-bottom: 85px;
    }

    .l-search-result__text-seo {
        display: block;

        width: 100%;
        padding: 0;
    }
}

@include media-s {
    .l-search-result__list-header {
        margin-top: 33px;
    }
}

@include media-xs {
    .l-search-result__filters {
        margin-left: -30px;
        padding: 0 30px;
    }

    .l-search-result__search {
        box-sizing: content-box;
        margin-left: -40px;
        padding-right: 40px;
        padding-left: 40px;
    }
}
