.b-school-list {
    display: inline-block;

    width: 100%;
    height: auto;
}

.b-school-list__school {
    display: inline-block;

    width: 100%;
    height: auto;
    padding: 30px 0px 30px 0px;

    border-bottom: 1px solid #e5e5e5;

    cursor: pointer;
}

.b-school-list__school:last-child {
    border-bottom: none;
}

.b-school-list__school-name {
    float: left;

    width: 40%;
    height: 100%;

    color: black;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.b-school-list__school-name-wrap {
    width: 90%;

    font-weight: 700;
    font-family: 'Proxima', Arial, sans-serif;
}

.b-school-list__school-rating {
    float: left;

    width: 60%;
    height: auto;
}

.b-school-list__school-data {
    display: inline-block;

    width: 100%;
    height: auto;
    margin-top: 20px;

    color: rgb(136, 136, 136);
    font-size: 13px;
}

.b-school-list__school-data-item {
    display: inline-block;

    width: auto;
    height: auto;
}

.b-school-list__school-description {
    display: inline-block;

    width: 100%;
    height: auto;
    margin-top: 25px;
}

.b-school-list__school-description_hidden {
    display: none;
}

.b-school-list__header {
    display: inline-block;

    width: 100%;
    height: auto;
    padding: 0 30px 0 5px;
    margin-bottom: -20px;
}

.b-school-list__header-sections {
    float: right;

    width: 60%;

    text-align: center;
    font-weight: bold;
}

.b-school-list__header-section {
    float: left;

    width: 20%;
}
