@import "../../../n-common/i-media/i-media";

.g-modal_stendhal.g-modal_side-menu {
    text-align: left;

    .g-modal__content {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        min-height: 100%;
        padding: 0 25px;
    }

    .g-modal__close-button {
        position: static;

        display: inline-block;

        padding: 20px;
        margin-top: 8px;
        margin-left: -20px;
    }

    .g-modal__menu {
        margin-top: 12px;
    }

    .g-modal__contacts {
        margin-top: 50px;
    }

    .g-modal__authorization {
        margin-top: 26px;
    }

    .g-modal__footer {
        margin-top: 50px;

        font-size: 16px;
    }

    .g-modal__menu-item {
        margin-bottom: 33px;

        font-family: 'Proxima', Arial, sans-serif;
        font-weight: 700;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .g-modal__link_footer {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .g-modal__copyright {
        color: #000;
    }

    .g-modal__close-button_hover_enable.g-modal__close-button:hover {
        .g-modal__close-icon {
            display: block;
        }
    }
}

@include media-s {
    .g-modal_stendhal.g-modal_side-menu {
        .g-modal__content {
            max-width: 100%;
        }
    }
}


@include media-xs {
    .g-modal_stendhal.g-modal_side-menu {
        padding: 0;
    }
}
