@import "../../../n-common/i-media/i-media";

.b-information-board {
    width: 100%;

    font: 16px 'PT Serif', serif;
    line-height: 22px;

    &:after {
        content: '';
        display: block;

        clear: both;
    }
}

.b-information-board__item {
    padding: 21px 0 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.b-information-board__name {
    float: left;

    box-sizing: border-box;
    width: 205px;
    padding-right: 15px;

    font-weight: 600;
}

.b-information-board__score {
    display: inline-block;

    margin-left: 20px;

    font-weight: 600;
}

.b-information-board__description {
    box-sizing: border-box;
    padding-left: 205px;
}

.b-information-board__item_details {
    .b-information-board__name {
        width: auto;
        padding-right: 0;
    }

    .b-information-board__description {
        margin-top: 10px;
        padding: 0;
    }
}

@include media-xs {
    .b-information-board__name {
        width: 145px;
    }

    .b-information-board__description {
        padding-left: 145px;
    }
}

