.b-comment{
    display: inline-block;

    width: 100%;
    margin: 0 0 23px 0;

    background-color: white;
}

.b-comment__header{
    display: inline-block;

    width: 100%;
	margin: 0 0 10px 0;

    font-size: 12px;
    color: grey;
}

.b-comment__text{
    display: inline-block;

    width: 100%;
    margin: 0 0 5px 0;
}

.b-comment__hidden-text{
    display: none;
}

.b-comment__avatar{
    display: inline-block;

    vertical-align: baseline;
}

.b-comment__author{
    display: inline-block;
}

.b-comment__footer{
    float: right;

    font-size: 12px;
    color: grey;
}

.b-comment__show-all{
    display: inline-block;

    margin: 0 0 0 5px;

    color: red;
}

.b-comment__show-all:hover{
    color: rgb(255, 53, 116);
    cursor: pointer;
}

.b-comment__show-all:focus+*{
    display: inline-block;
}

.b-comment__show-all:focus{
    display: none;
}

.b-comment__checkbox{
    display: none;
}

.b-comment__checkbox{
    display: none;
}