{namespace sm.lSchool.bComment.Template}
/**
 * Comment Template
 */
{template .base}
	{@param params:[
			author: string,
			rank: string,
			text: string,
			sections:list<[
					name: string,
					rating: int
				]>
		]
	}
    <div class="b-comment">
		<div class="b-comment__header">
			{foreach $section in $params.sections}
    			{call sm.lSchool.bCommentSection.Template.base}
    				{param params:['name': $section.name, 'rating': $section.rating]/}
    			{/call}
    		{/foreach}
		</div>

		{if strLen($params.text)>430}
			<div class="b-comment__text">
				{print $params.text |truncate:430}
				<div class="b-comment__show-all" tabindex="0">
                    Показать полностью
                </div>
				<span class="b-comment__hidden-text">
				hidden text
				</span>
			</div>
		{else}
			<div class="b-comment__text">
        		{$params.text}
        	</div>
        {/if}

		<div class="b-comment__footer">
			<img class="b-comment__avatar" align="top" src="images/l-school/b-comment/person.png">
                        <div class="b-comment__author">
                            {$params.author}, {$params.rank}
                        </div>
		</div>
    </div>
{/template}