{namespace mel.lSchools.bComment.Template}
/**
* Hi 
* @param author
* @param rank
* @param sections
*/
{template .base}
    <div class="b-comment">
	
		<div class="b-comment__header">
			<img class="b-comment__avatar" align="top" src="images/l-schools/b-comment/person.png">
            <div class="b-comment__author">
                {$author}, {$rank}
            </div>
		</div>
		
		{foreach $section in $sections}
			{call mel.lSchools.bCommentSection.Template.base}
				{param name: $section.name/}
				{param rating: $section.rating/}
				{param text: $section.text/}
			{/call}
		{/foreach}
		
    </div>
{/template}