{namespace sm.lSchool.bComment.Template}
/**
 * Comment Template
 */
{template .base}
	{@param params:[
			author: string,
			rank: string,
			text: string,
			sections:list<[
					name: string,
					rating: int
				]>
		]
	}
    <div class="b-comment">
		<div class="b-comment__header">
			{foreach $section in $params.sections}
    			{call sm.lSchool.bCommentSection.Template.base}
    				{param params:['name': $section.name, 'rating': $section.rating]/}
    			{/call}
    		{/foreach}
		</div>
		
		<div class="b-comment__text">
			{$params.text}
		</div>

		<div class="b-comment__footer">
			<img class="b-comment__avatar" align="top" src="images/l-school/b-comment/person.png">
                        <div class="b-comment__author">
                            {$params.author}, {$params.rank}
                        </div>
		</div>
    </div>
{/template}