@import "../i-media/i-media";

.b-favorite {
    display: inline-block;

    width: 100%;
    height: 100%;
}

.b-favorite__icon-wrap {
    display: inline-block;

    width: 100%;
    height: 100%;

    cursor: pointer;

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.b-favorite__icon {
    display: inline-block;

    opacity: 0.6;

    vertical-align: middle;

    &:hover {
        opacity: 1;
    }
}

.b-favorite__hint-content {
    padding: 10px 30px 15px;
}

.b-favorite__hint-content_text {
    text-align: center;

    color: #808080;

    font: 13px Arial, sans-serif;
    line-height: 18px;
}

.b-favorite__hint-content_list {
    display: none;
}

.b-favorite_filled {
    .b-favorite__hint-content_list {
        display: block;
    }
    
    .b-favorite__hint-content_text {
        display: none;
    }
}

@include media-xs {
    .b-favorite {
        position: static;
    }
}
