@import "../i-media/i-media";

/** Layout **/
.b-favorite {
    display: inline-block;

    width: 100%;
    height: 100%;
}

.b-favorite__icon-wrap {
    display: inline-block;

    width: 100%;
    height: 100%;

    cursor: pointer;

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.b-favorite__icon {
    display: inline-block;

    vertical-align: middle;

    opacity: 0.6;
}

.b-favorite__hint-content {
    padding: 10px 30px 15px;
}

.b-favorite__hint-content-list {
    display: none;
}

.b-favorite__hint-content-text {
    text-align: center;

    color: #808080;

    font: 13px Arial, sans-serif;
    line-height: 18px;
}
/** Layout end **/

/** Possible states **/
.b-favorite_filled {
    .b-favorite__hint-content-list {
        display: block;
    }

    .b-favorite__hint-content-text {
        display: none;
    }
}

.b-favorite_user-not-authorized {
    .b-favorite__hint-content {
        &.b-favorite__hint-content_user-authorized {
            display: none;
        }

        &.b-favorite__hint-content_user-not-authorized {
            display: block;
        }
    }
}

.b-favorite_user-authorized {
    .b-favorite__hint-content {
        &.b-favorite__hint-content_user-authorized {
            display: block;
        }

        &.b-favorite__hint-content_user-not-authorized {
            display: none;
        }
    }
}

.b-favorite_opened {
    .b-favorite__icon {
        opacity: 1;
    }
}

.b-favorite_hoverable {
    .b-favorite__icon-wrap:hover
    .b-favorite__icon {
        opacity: 1;
    }
}
/** Possible states end **/

@include media-xs {
    .b-favorite {
        position: static;
    }
}
