.b-map-pin__pin-icon > img {
    height: 30px;
    width: 25px;
    position: absolute;

}

.b-map-pin__balloon {
    width: 200px;
    height: 120px;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.b-map-pin__info {
    padding: 20px;
    font-size: 16px !important;
    font-family: serif !important;
}

.b-map-pin__school-name {
    font-weight: bold;
}

.b-map-pin__rating {
    margin-top: 20px;
    color: #ee362c;
}

.arrow::after {
    background-color: red;
}
