{namespace sm.lSchool.bMap.bPin.Template}
/**
* A template for map pins
*/
{template .pin}
    <div class="b-map-pin">
        <div class="b-map-pin__balloon">
            <div class="b-map-pin__school-info">
                <span class="b-map-pin__school-type"></span> <span class="b-map-pin__school-name"></span>
                <span class="b-map-pin__rating">

                </span>
            </div>
        </div>
    </div>
{/template}
