{namespace mel.lschools}
/**
* A template for map pins
*/
{template .pin}
    <div class="b-map-pin">
        <div class="b-map-pin__pin-icon">
            <img src="/images/l-schools/b-map-pin/geopin.png" alt="" />
        </div>
        <div class="b-map-pin__balloon">
            <div class="b-map-pin__school-info">
                <span class="b-map-pin__school-type">Центр образования</span> <span class="b-map-pin__school-name">№548 "Царицыно"</span>
            </div>
            <div class="b-map-pin__rating">
                3,75
            </div>
            <div class="arrow">
                ::after
            </div>
        </div>
    </div>
{/template}
