@import "../../i-media/i-media";

.g-modal_feedback{
    .b-dialog {
        padding: 0;
    }
}

.b-feedback {
    width: 700px;

    color: #000;
    text-align: left;
}

.b-feedback__form {
	max-width: 800px;

    text-align: left;
}

.b-feedback__content {
    margin: 42px 50px 50px;
}

.b-feedback__text {
	margin-right: 20px;

	font-family: 'PT Serif', serif;
	font-size: 16px;

	&_modal-title {
		font: 800 27px 'Proxima', Arial, sans-serif;
	}

	&_header {
		margin-right: 18px;

		text-transform: uppercase;

		letter-spacing: 0.06em;

		font: 800 16px 'Proxima', Arial, sans-serif;
	}
}

.b-feedback__form-item_detailed {
	display: inline-block;
}

.b-feedback__form-item_brief {
	display: none;
}

.b-feedback__close-control {
	float: right;

	margin-top: 8px;

	cursor: pointer;
}

.b-feedback__title_sub {
    font-size: 16px;
}

.b-feedback__class-select {
	display: inline-block;
}

.b-feedback__control {
	display: inline-block;

	font-family: 'PT Serif', serif;
	font-size: 16px;
	line-height: normal;

	&_class-type {
		width: 70px;

		margin-right: 20px;
	}

	&_user-type {
		width: 33%;
		min-width: 200px;

		margin-right: 6%;
	}

	&_graduation-year {
		width: 70px;

		margin-right: 21px;
	}
}

.b-feedback__graduation-year {
	display: inline-block;
}

.b-feedback__radio {
    margin: 0 13px 0 0;

    cursor: pointer;
}

.b-feedback__radio-label {
    position: relative;
    top: -1px;

    cursor: pointer;
}

.b-feedback__title-scores {
    margin: 0 0 11px;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    font: 800 16px 'Proxima', Arial, sans-serif;
}

.b-feedback__scores {
    margin: 0 0 24px;

    font-size: 0;
}

.b-feedback__title-score {
    display: inline-block;

    margin: 0 17px 12px 0;

    letter-spacing: 0.03em;

    font: 17px 'PTSerifRegular', serif;
}

.b-feedback__score {
    display: inline-block;

    width: 47%;
    margin: 0 0 9px;

    vertical-align: top;

    &:nth-child(odd) {
        margin-right: 5%;
    }
}

.b-feedback__description {
    font: 12px Arial, sans-serif;

    color:#9a9a9a;

    line-height: 20px;
}

.b-feedback__button {
    width: 100%;
    padding: 30px;

    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background: #f4f4ec;

    font: 800 20px 'Proxima', Arial, sans-serif;

    &:hover {
        background: #e3e3dc;
    }
}

.b-feedback__section {
	margin-bottom: 40px;

	&_header {
		margin-bottom: 32px;
	}

	&_who-are-you {
		margin-bottom: 30px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@include media-m {
	.b-feedback__content {
		margin: 24px 30px 45px;
	}

	.b-feedback__section_header {
		margin-bottom: 22px;
	}

	.b-feedback__text_header {
		display: none;
	}

	.b-feedback__form-item_detailed {
		display: none;
	}

	.b-feedback__form-item_brief {
		display: inline-block;
	}

	.b-feedback__section {
		&_who-are-you {
			margin-bottom: 20px;
		}

		&_textarea {
			margin-bottom: 25px;
		}
	}

	.b-feedback__control {
		margin-right: 0;

		&_user-type {
			width: 100%;
			margin-bottom: 20px;
		}

		&_class-type {
			width: 80px;
		}
	}

	.b-feedback__score {
		width: 100%;
	}

	.b-feedback__title-score {
		letter-spacing: normal;
	}
}