@import "../i-media/i-media";

.b-school-list {
    display: inline-block;

    width: 100%;
    height: auto;

    margin-bottom: 40px;
}
.b-school-list__header {
    margin-bottom: 38px;
}
.b-school-list__line {
    width: 100%;
    height: 1px;
    margin: 10px 0 -10px;

    background: #e5e5e5;
}

.b-school-list__sort {
    float: right;

    padding-left: 18px;
    
    background: #ffffff;
}

.b-school-list__footer {
    display: inline-block;

    width: 100%;
}

.b-school-list__loader {
    display: inline-block;

    width: 100%;
    margin: 30px 0 30px 0;
}

.b-school-list__loader-text {
    display: inline-block;

    width: 210px;
    padding: 18px 0 18px 0;

    vertical-align: bottom;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    font-size: 13px;
}

.b-school-list__loader-image {
    display: inline-block;

    width: 48px;
    height: 48px;

    background: url(/static/images/n-school/l-search-result/b-school-list/search-spinner.gif) no-repeat left;
}

.b-school-list__show-more-button {
    width: 240px;
    padding: 14px 0 15px 0;

    border: 1px solid #e5e5e5;

    font-weight: 800;
    font-size: 13px;
    color: #000000;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@include media-xl {

}


@include media-m {
    .b-school-list__header {
        margin-bottom: 0;
    }

    .b-school-list__loader {
        text-align: center;
    }

    .b-school-list__show-more-button {
        margin: 0 auto;
    }
}
