@import "../i-media/i-media";

.b-mark {
    display: inline-block;

    text-align: center;

    font-size: 22px;
}

.b-mark__circle {
    position: relative;

    display: inline-block;

    width: 52px;
    height: 52px;

    border: 4px solid #c6c6c1;
    border-radius: 50%;

    font-weight: 800;
}

.b-mark__mark {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: 22px;
    margin: auto;

    letter-spacing: 0.06em;

    line-height: 24px;
}

.b-mark_green{
    .b-mark__circle {
        border-color: #00aa00;
    }
}

.b-mark_yellow{
    .b-mark__circle {
        border-color: #ffaa00;
    }
}

.b-mark_red {
    .b-mark__circle {
        border-color: #ee362c;
    }
}

.b-mark_inline {
    display: inline-block;

	vertical-align: middle;

    .b-mark__circle {
        display: inline-block;

        border-width: 0;
        width: 11px;
        height: 11px;
        margin-right: 11px;

        vertical-align: middle;

        background-color: #c6c6c1;
    }

    .b-mark__mark{
        position: relative;

        display: inline-block;
        height: auto;
        line-height: inherit;
        font-size: 13px;
    }
}

.b-mark_inline.b-mark_green{
    .b-mark__circle {
        background-color: #00aa00;
    }
}

.b-mark_inline.b-mark_yellow{
    .b-mark__circle {
        background-color: #ffaa00;
    }
}

.b-mark_inline.b-mark_red{
    .b-mark__circle {
        background-color: #ee362c;
    }
}

.b-mark_inline.b-mark_size_l {
    .b-mark__mark {
        font-size: 19px;
    }

    .b-mark__circle {
        top: 5px;

        vertical-align: top;
    }
}

.b-mark_inline.b-mark_size_s {
    vertical-align: baseline;

    font-size: 13px;
    line-height: 20px;

    .b-mark__mark {
        letter-spacing: normal;

        line-height: 20px;
    }

    .b-mark__circle {
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        margin-right: 12px;

        border-width: 4px;
    }
}

.b-mark_inline.b-mark_size_xs {
    vertical-align: baseline;

    font-size: 12px;
    line-height: 20px;

    .b-mark__mark {
        letter-spacing: normal;

        font-size: 12px;
    }

    .b-mark__circle {
        box-sizing: border-box;
        width: 7px;
        height: 7px;

        margin-right: 7px;
    }
}

.b-mark_inline.b-mark_no-mark {
    .b-mark__mark {
        display: none;
    }
}

.b-mark_number {
    .b-mark__mark {
        font-size: 13px;
        position: static;

        letter-spacing: normal;

        color: #808080;

        font-family: Arial, sans-serif;
        font-weight: normal;
        line-height: 20px;
    }
}

.b-mark_no-dash.b-mark_empty {
    .b-mark__mark {
        display: none;
    }
}

.b-mark_question {
	.b-mark__mark {
		color: #c6c6c1;

		font-size: 28px;
	}
}

@include media-xxs {
    .b-mark_inline .b-mark__circle {
        display: none;
    }

	.b-mark_inline.b-mark_size_l .b-mark__circle,
    .b-mark_inline.b-mark_size_s .b-mark__circle {
        display: inline-block;
    }
}
