@import "../../n-common/i-media/i-media";

.g-hint.g-hint_stendhal {
    top: auto;
    left: 50%;

    width: auto;
    padding: 0;

    background-color: transparent;
    cursor: default;

    .g-hint__content {
        position: relative;
        top: 10px;
        left: -20px;
        z-index: 2;

        box-sizing: border-box;
        padding: 18px;

        background-color: #ffffff;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);

        font-size: 13px;
        font-weight: 500;
    }

    .g-hint__arrow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        width: 10px;
        height: 10px;

        border-left: 10px solid #ffffff;
        border-top: 10px solid transparent;
    }

    .g-hint__arrow-shadow {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 1;

        width: 20px;
        height: 10px;
        -webkit-transform: skewX(-125deg) rotate(-215deg) translate(0px, 0px);
        -ms-transform: skewX(-125deg) rotate(-215deg) translate(0px, 0px);
        transform: skewY(45deg) rotate(0deg) translate(0px, 0px);

        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
    }
}

.g-hint.g-hint_stendhal.g-hint_offset-s {
    .g-hint__content {
        top: 15px;
    }

    .g-hint__arrow {
        top: 5px;
    }

    .g-hint__arrow-shadow {
        top: 15px;
    }
}

.g-hint.g-hint_stendhal.g-hint_left-align {
    left: 0;

    .g-hint__content {
        left: 0;
    }

    .g-hint__arrow {
        left: 20px;
    }

    .g-hint__arrow-shadow {
        left: 20px;
    }
}

.g-hint.g-hint_stendhal.g-hint_arrow-align {
    width: 190px;

    .g-hint__content {
        left: -90px;
    }
}

.g-hint.g-hint_stendhal.g-hint_straight-arrow-theme {
    top: 30px;

    .g-hint__content {
        left: -50%;
    }

    .g-hint__arrow {
        top: 7px;
        left: -5px;

        transform: rotate(45deg);

        border: 0;
        background-color: #ffffff;
    }

    .g-hint__arrow-shadow {
        left: -5px;

        transform: rotate(45deg);
    }
}

.g-hint.g-hint_stendhal.g-hint_no-padding {
    .g-hint__content {
        padding: 0;
    }
}

@include media-m {
    .g-hint.g-hint_stendhal.g-hint_offset-m {
        top: 45px;
        left: 15px;

        .g-hint__content {
            left: -90%;
        }
    }

    .g-hint.g-hint_stendhal.g-hint_offset-l {
        top: 45px;
    }
}

@include media-xs {
    .g-hint.g-hint_stendhal.g-hint_straight-arrow-theme {
        top: 105px;
    }

    .g-hint.g-hint_stendhal.g-hint_offset-m {
        left: 0;
        right: 0;

        .g-hint__content {
            left: 0;
            right: 0;
        }

        .g-hint__arrow {
            top: 7px;
            left: auto;
            right: 33px;
        }

        .g-hint__arrow-shadow {
            left: auto;
            right: 23px;
        }
    }

    .g-hint.g-hint_stendhal.g-hint_offset-l {
        left: 0;
        right: 0;

        .g-hint__content {
            left: 0;
            right: 0;
        }

        .g-hint__arrow {
            top: 7px;
            left: auto;
            right: 88px;
        }

        .g-hint__arrow-shadow {
            left: auto;
            right: 78px;
        }
    }
}
