@import "../../n-common/i-media/i-media";

.g-hint.g-hint_stendhal {
    top: auto;
    left: 50%;

    width: auto;
    padding: 0;

    cursor: default;

    background-color: transparent;

    .g-hint__content {
        position: relative;
        z-index: 2;
        top: 10px;
        left: -20px;

        box-sizing: border-box;
        padding: 18px;

        background-color: #ffffff;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);

        font-size: 13px;
        font-weight: 500;
    }

    .g-hint__arrow {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;

        width: 10px;
        height: 10px;

        border-top: 10px solid transparent;
        border-left: 10px solid #ffffff;
    }

    .g-hint__arrow-shadow {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 0;

        width: 20px;
        height: 10px;

        -webkit-transform: skewX(-125deg) rotate(-215deg) translate(0px, 0px);
        -ms-transform: skewX(-125deg) rotate(-215deg) translate(0px, 0px);
        transform: skewY(45deg) rotate(0deg) translate(0px, 0px);

        background-color: #ffffff;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    }
}

.g-hint.g-hint_stendhal.g-hint_offset-s {
    .g-hint__content {
        top: 15px;
    }

    .g-hint__arrow {
        top: 5px;
    }

    .g-hint__arrow-shadow {
        top: 15px;
    }
}

.g-hint.g-hint_stendhal.g-hint_left-align {
    left: 0;

    .g-hint__content {
        left: 0;
    }

    .g-hint__arrow {
        left: 20px;
    }

    .g-hint__arrow-shadow {
        left: 20px;
    }
}

.g-hint.g-hint_stendhal.g-hint_offset-left-m {
    left: -9px;

    .g-hint__arrow {
        top: 5px;
        left: 8px;
    }

    .g-hint__arrow-shadow {
        top: 8px;
        left: 7px;
    }
}


.g-hint.g-hint_stendhal.g-hint_offset-left-l {
    left: -19px;

    .g-hint__arrow {
        top: 5px;
        left: 42px;
    }

    .g-hint__arrow-shadow {
        top: 8px;
        left: 41px;
    }
}


.g-hint.g-hint_stendhal.g-hint_offset-right-s {
    right: -14px;
    left: auto;

    .g-hint__content {
        top: 0;
        left: 0;
    }
}


.g-hint.g-hint_stendhal.g-hint_arrow-align {
    width: 190px;

    .g-hint__content {
        left: -90px;
    }
}


.g-hint.g-hint_stendhal.g-hint_top-offset_m {
    top: 23px;
}

.g-hint.g-hint_stendhal.g-hint_top-offset_l {
    top: 30px;

    .g-hint__arrow {
        top: 7px;
        left: -5px;
    }

    .g-hint__arrow-shadow {
        top: 10px;
        left: -5px;
    }
}

.g-hint.g-hint_stendhal.g-hint_top-offset_xl {
    top: 40px;

    .g-hint__arrow {
        top: -4px;
        left: 161px;
    }

    .g-hint__arrow-shadow {
        top: -2px;
        left: 160px;
    }
}


.g-hint.g-hint_stendhal.g-hint_top-offset_xxl {
    top: 63px;
}


.g-hint.g-hint_stendhal.g-hint_content-align_middle {
    .g-hint__content {
        left: -50%;
    }
}

.g-hint.g-hint_stendhal.g-hint_straight-arrow-theme {
    .g-hint__arrow {
        transform: rotate(45deg);

        border: 0;
        background-color: #ffffff;
    }

    .g-hint__arrow-shadow {
        transform: rotate(45deg);
    }
}

.g-hint.g-hint_stendhal.g-hint_no-padding {
    .g-hint__content {
        padding: 0;
    }
}

@include media-m {
    .g-hint.g-hint_stendhal.g-hint_offset-m {
        top: 45px;
        left: 15px;

        .g-hint__content {
            left: -90%;
        }
    }

    .g-hint.g-hint_stendhal.g-hint_offset-l {
        top: 45px;
    }
}

@include media-xs {
    .g-hint.g-hint_stendhal.g-hint_top-offset_l {
        top: 110px;
    }

    .g-hint.g-hint_stendhal.g-hint_offset-m {
        right: 0;
        left: 0;

        .g-hint__content {
            right: 0;
            left: 0;
        }

        .g-hint__arrow {
            top: 7px;
            right: 33px;
            left: auto;
        }

        .g-hint__arrow-shadow {
            right: 23px;
            left: auto;
        }
    }

    .g-hint.g-hint_stendhal.g-hint_offset-l {
        right: 0;
        left: 0;

        .g-hint__content {
            right: 0;
            left: 0;
        }

        .g-hint__arrow {
            top: 7px;
            right: 88px;
            left: auto;
        }

        .g-hint__arrow-shadow {
            right: 78px;
            left: auto;
        }
    }
}
