.l-search__body {
    min-height: 83%;
    margin: 0 auto 60px;

    color: #000000;
}

.l-search__header {
    width: 100%;
    height: 321px;

    color: #ffffff;
    background-color: #3c5a97;
}

.l-search__header-wrap {
    position: relative;

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.l-search__header-image {
    position: absolute;
    top: 0;
    right: 110px;

    width: 512px;
    height: 100%;

    background-image: url(images/l-search/header-banner.png);
    background-repeat: no-repeat;
    background-position: 0 28px;
    background-size: 512px;
}

.l-search__header-content {
    max-width: 570px;
    padding-top: 40px;
}

.l-search__geoposition {
    margin-bottom: 22px;

    // cursor: pointer;
}

.l-search__pointer {
    display: inline-block;

    margin-right: 20px;

    font: 30px "WebSymbols", Arial, sans-serif;
}

.l-search__city {
    display: inline-block;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    font: 30px 'Proxima', Arial, sans-serif;
    line-height: 50px;
}

.l-search__title {
    margin-bottom: 39px;

    letter-spacing: 0.018em;

    font: 20px 'PT Serif', Arial, sans-serif;
    line-height: 30px;
}

.l-search__title-list {
    list-style: none;
}

.l-search__title-list-item {
    position: relative;

    margin-bottom: 10px;

    font: 14px Arial, sans-serif;
    line-height: 18px;

    &:last-chaild {
        margin-bottom: 0;
    }
}

.l-search__title-list-dash {
    position: absolute;
    left: 0;
}

.l-search__title-list-text {
    display: inline-block;

    margin-left: 18px;
}

.l-search__top-menu {
    height: 155px;
    margin-bottom: 38px;

    background-color: #f4f4ec;
}

.l-search__top-menu-wrap {
    position: relative;

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.l-search__left-text {
    position: absolute;
    left: 0;
    top: 54px;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    font: 16px 'Proxima', Arial, sans-serif;
    font-weight: 800;
}

.l-search__search {
    display: block;

    width: 690px;
    margin-right: 308px;
    margin-left: 206px;
}

.l-search__search-field {
    margin-bottom: 14px;
}

.l-search__search-links {
    overflow: hidden;

    height: 18px;
}

.l-search__search-link {
    display: inline-block;

    margin-right: 18px;

    &:last-child {
        margin-right: 0;
    }
}

.l-search__button-wrap {
    position: absolute;
    right: 2px;
    top: 40px;

    text-align: center;
}

.l-search__button {
    box-sizing: border-box;
    height: 47px;
    margin-bottom: 14px;
    padding-top: 12px;

    cursor: pointer;
    text-align: center;

    border: 4px solid;
}

.l-search__search-button {
    color: #000000;
}

.l-search__button_content {
    width: 100%;
}

.l-search__button_search {
    width: 275px;
}

.l-search__button-text {
    text-transform: uppercase;
    letter-spacing: 1px;

    font-family: proxima;
    font-size: 16px;
    font-weight: 800;
    line-height: 1em;
}

.l-search__information-links {
    max-width: 1200px;
    margin: 0 auto;
}

.l-search__popular-schools {
    display: inline-block;

    max-width: 615px;
}

.l-search__information-schools {
    display: inline-block;

    max-width: 270px;
    margin-top: 42px;
    margin-left: 30px;
    // margin-right: 30px;

    vertical-align: top;
}

.l-search__image_list {
    box-sizing: border-box;

    width: 60px;
    height: 60px;
    margin-bottom: 27px;
    padding: 10px 0;

    text-align: center;

    border: 4px solid #000;
}

.l-search__item-list {
    line-height: 8px;
}

.l-search__image_point {
    display: inline-block;
    box-sizing: border-box;

    width: 2px;
    height: 2px;
    margin-right: 4px;

    border: 2px solid #000;

    border-radius: 50%;
}

.l-search__image_dash {
    display: inline-block;
    box-sizing: border-box;

    width: 20px;
    height: 2px;

    border: 2px solid #000;

    border-radius: 2px;
}

.l-search__text-amount-schools {
    margin-bottom: 10px;

    font: 13px Arial, sans-serif;
    line-height: 18px;
}

.l-search__horisontal-line {
    width: 100%;
    height: 1px;
    margin: 0;

    background: rgba(0, 0, 0, 0.1);
}

.l-search__footer {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media screen and (max-width: 1260px) // for desktop and tablet
{
    .l-search__header-wrap {
        max-width: 893px;
    }

    .l-search__header-image {
        right: -13px;
    }

    .l-search__header-content {
        max-width: 390px;
        padding-top: 29px;
    }

    .l-search__title {
        margin-bottom: 27px;
    }

    .l-search__top-menu-wrap {
        max-width: 893px;
    }

    .l-search__search  {
        width: 379px;
    }

    .l-search__information-links {
        max-width: 893px;
    }

    .l-search__popular-schools {
        white-space: nowrap;
        overflow: hidden;

        max-width: 410px;
    }

    .l-search__information-schools {
        max-width: 175px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 953px) // for desktop and tablet
{
    .l-search__header {
        height: 240px;
    }

    .l-search__header-wrap {
        max-width: 585px;
    }

    .l-search__header-image {
        right: 2px;

        width: 272px;

        background-position: 0 30px;
        background-size: 272px;
    }

    .l-search__header-content {
        width: 278px;
        padding-top: 50px;
    }

    .l-search__title-list {
        display: none;
    }

    .l-search__top-menu-wrap {
        max-width: 585px;
    }

    .l-search__left-text {
        display: none;
    }

    .l-search__search {
        margin-left: 0;
    }

    .l-search__button {
        width: 175px;
    }

    .l-search__button-text-desctiption {
        display: none;
    }

    .l-search__information-links {
        max-width: 585px;
    }
}

@media screen and (max-device-width: 645px) // for phone
and (orientation: portrait),
screen and (max-width: 645px) // for desktop
{
    .l-search__header {
        background: #334184;
    }

    .l-search__header-wrap {
        max-width: 260px;
    }

    .l-search__header-image {
        display: none;
    }

    .l-search__header {
        height: 171px;
    }

    .l-search__header-content {
        width: 100%;
        padding-top: 26px;
    }

    .l-search__geoposition {
        margin-bottom: 2px;
    }

    .l-search__title-list {
        display: none;
    }

    .l-search__top-menu-wrap {
        width: 260px;
    }

    .l-search__search {
        width: 260px;
        margin-right: auto;
        margin-left: auto;
    }

    .l-search__search-links {
        width: 260px;
    }

    .l-search__button-wrap {
        display: none;
    }

    .l-search__information-links {
        max-width: 260px;
    }

    .l-search__popular-schools {
        white-space: normal;

        max-width: 100%;
    }

    .l-search__information-schools {
        display: block;

        max-width: 100%;
        margin-top: 0;
        margin-bottom: 51px;
    }

    .l-search__image_list {
        display: inline-block;

        margin-right: 28px;

        vertical-align: top;
    }

    .l-search__information-text {
        display: inline-block;

        width: calc(100% - 88px);
        margin-top: -3px;
    }
}

