.l-search {
    min-width: 1200px;
}

.l-search__body {
    max-width: 1200px;
    margin: 0 auto;
}

.l-search__header {
    display: inline-block;

    box-sizing: border-box;
    height: 116px;
    padding-top: 50px;
}

.l-search__title {
    float: left;

    width: 278px;
    margin-right: 21px;

    text-transform: uppercase;

    font-family: proxima;
    font-size: 30px;
    font-weight: bolder;
}

.l-search__geoposition {
    float: left;

    margin-right: 48px;

    cursor: pointer;
}

.l-search__pin {
    float: left;

    margin-top: 3px;
    margin-right: 18px;
}

.l-search__city {
    float: left;

    margin-right: 13px;

    text-transform: uppercase;

    font-family: sans-serif;
    font-size: 30px;
}

.l-search__city-arrow {
    float: left;

    margin-top: 12px;
}

.l-search__inscription {
    float: left;

    padding-top: 7px;

    font-size: 21px;
}

.l-search__top-menu {
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 144px;
    padding-top: 30px;

    background-color: #f4f4ec;
}

.l-search__left-text {
    float: left;

    margin-top: 14px;
    margin-left: 162px;

    font-size: 17px;
    font-weight: bold;
}

.l-search__search {
    float: left;

    width: 585px;
    margin-right: 30px;
    margin-left: 31px;
}

.l-search__search-field {
    margin-bottom: 17px;
}

.l-search__find-button {
    float: left;

    box-sizing: border-box;
    width: 247px;
    height: 47px;
    padding-top: 12px;

    cursor: pointer;
    text-align: center;

    border: 4px solid;
}

.l-search__button-text {
    text-transform: uppercase;

    font-weight: bold;
}

.l-search__example-holder {
    font-family: Arial;
    font-size: small;
}

.l-search__examples {
    color: #ff0000;
}

.l-search__example {
    margin-left: 19px;

    cursor: pointer;
}

.l-search__rating-img {
    width: 100%;
    height: 128px;

    background: url(images/l-search/rating.png) no-repeat left;
}
