@import "../i-media/i-media";

.l-search__body {
    min-height: 83%;
    margin: 0 auto 35px;

    color: #000000;
}

.l-search__header {
    width: 100%;
    height: 400px;

    color: #000;
    background-color: #f4f4ec;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    text-align: right;

    line-height: 400px;
}

.l-search__header-wrap {
    position: relative;

    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.l-search__header-image {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 66.66%;
    height: auto;
    max-height: 415px;
    padding-right: 60px;

    box-sizing: border-box;
}

.l-search__header-content {
    display: inline-block;

    width: 33.33%;
    padding-left: 20px;

    box-sizing: border-box;

    vertical-align: middle;

    line-height: normal;
}

.l-search__title {
    display: inline-block;
    margin-bottom: 25px;

    text-align: left;

    font-family: 'Proxima', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

.l-search__title-list {
    display: inline-block;

    list-style: none;

    text-align: left;
}

.l-search__title-list-item {
    position: relative;

    margin-bottom: 10px;

    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 22px;

    &:last-child {
        margin-bottom: 0;
    }
}

.l-search__title-list-dash {
    position: absolute;
    left: 0;
}

.l-search__title-list-text {
    display: inline-block;

    margin-left: 18px;
}

.l-search__search {
    width: 100%;
}

.l-search__information-links-wrap {
    margin-bottom: 50px;
}

.l-search__information-links {
    position: relative;

    max-width: 1200px;
    margin: 0 auto;

    color: #000;

    &:after {
        display: block;
        clear: both;

        content:'';
    }
}

.l-search__popular-schools {
    display: inline-block;

    box-sizing: border-box;
    width: 50%;
    margin-top: 3px;
    padding-right: 15px;
}

.l-search__popular-school {
    box-sizing: border-box;

    width: 33.33%;
    margin: 0;
    padding: 0 10px;

    &:first-of-type {
        padding-left: 0px;
        padding-right: 20px;
    }

    &:last-child {
        padding-left: 20px;
        padding-right: 0px;
    }
}

.l-search__information-schools {
    display: inline-block;

    box-sizing: border-box;
    width: 50%;
    margin-top: 45px;
    margin-right: -307px;
    padding-right: 307px;
    padding-left: 15px;

    vertical-align: top;
}

.l-search__articles {
    top: 0;

    float: right;

    width: 277px;

    vertical-align: top;
}

.l-search__horisontal-line {
    width: 100%;
    height: 1px;
    margin: 0;

    background: rgba(0, 0, 0, 0.1);
}

.l-search__footer {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@include media-l {
    .l-search__schools {
        box-sizing: border-box;
        width: 100%;
        padding-right: 307px;
    }

    .l-search__popular-schools {
        white-space: nowrap;
        overflow: hidden;

        width: 66.66%;
        padding-right: 0;
    }

    .l-search__popular-school {
        width: 50%;
    }

    .l-search__information-schools {
        width: 33.33%;
        padding-right: 0;
        padding-left: 20px;
    }

    .l-search__articles {
        margin-right: -307px;
    }
}

@media screen and (max-width: 1000px) // for desktop and tablet
{
    .l-search__schools {
        width: auto;
        padding-right: 0;
    }

    .l-search__information-schools {
        margin-right: 0;
    }

    .l-search__articles {
        display: none;
    }
}

@media screen and (max-device-width: 600px) // for phone
and (orientation: portrait),
screen and (max-width: 600px) // for desktop
{
    .l-search__popular-schools {
        white-space: normal;

        width: 100%;
    }

    .l-search__popular-school {
        width: 100%;
        min-height: 70px;
        margin-bottom: 30px;
        padding: 0;

        &:first-of-type {
            padding: 0;
        }

        &:last-child {
            padding: 0;
        }
    }

    .l-search__information-schools {
        position: relative;

        width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0;
    }

    .l-search__articles {
        position: static;

        display: inline-block;

        width: 100%;
        margin-right: 0;
    }
}

@include media-xl {
    .l-search__header-wrap {
        width: 100%;
        padding: 0 40px;

        box-sizing: border-box;
    }

    .l-search__information-links {
        width: 100%;
    }

    .l-search__information-links-wrap {
        padding: 0 40px;

        box-sizing: border-box;
    }
}

@include media-l {
    .l-search__header {
        height: 375px;

        line-height: 375px;
    }

    .l-search__header-content {
        display: inline-block;
        width: 100%;
        padding-left: 460px;

        text-align: right;
    }

    .l-search__title {
        width: 100%;
        max-width: 380px;
    }

    .l-search__title-list {
        width: 100%;
        max-width: 380px;
    }

    .l-search__header-image {
        // left: -40px;

        width: 100%;
        padding-right: 480px;
    }
}

@include media-m {
    .l-search__header-image {
        width: 50%;
        min-width: 460px;
        padding-right: 0;
    }
}

@include media-s {
    .l-search__header {
        height: 415px;

        line-height: normal;
    }

    .l-search__header-content {
        padding-left: 0;

        text-align: left;
    }

    .l-search__title {
        max-width: 100%;
        margin-top: 25px;
    }

    .l-search__title-list {
        display: none;
    }

    .l-search__header-image {
        left: 0;
        right: 0;

        width: 515px;
        min-width: auto;
        margin: auto;
    }
}

@include media-xs {
    .l-search__header {
        height: 380px;
    }

    .l-search__header-wrap {
        padding: 0 30px;
    }

    .l-search__title {
        max-width: 100%;
        margin-top: 25px;

        letter-spacing: 0.3px;

        font-size: 18px;
        line-height: 20px;
    }

    .l-search__header-image {
        width: 100%;
        min-width: auto;
        padding: 0 30px;
    }

    .l-search__information-links-wrap {
        padding: 0 30px;
    }
}

@include media-xxs {
    .l-search__header {
        height: 345px;
    }
}
