body{
    margin: 0;
}

.b-header{
	display: inline-block;
	overflow:hidden;
	
	width: 100%;
	height: 75px;
	
	box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.b-header__menu{
    display: inline-block;
    float: left;

    height: 100%;
    width: 13%;
}

.b-header__main{
    display: inline-block;
    float: left;

    width: 74%;
    height: 100%;

    font-weight: bold;
}

.b-header__search{
    display: inline-block;
    float: left;

    width: 13%;
    height: 100%;
}

.b-header__wrap{
    display: inline-block;
	
    vertical-align: middle;
}

.b-header__before{
    display: inline-block;

    height: 100%;

    vertical-align: middle;
    content:"";
}

.b-header__title{
	margin: -5px 0 0 0;
	
    font-size: 24px;
}

.b-header__city{
	margin: -2px 0 0 0;
	
	font-size: 9px;
}

.b-header__stars{
	margin: 0 15px 0 15px;
	
	color: red;
}

.b-header__star{
	margin: 0 1.7px 0 1.7px;
}

.b-header__star_first{
    font-size: 9px;
}

.b-header__star_second{
    font-size: 10px;
}

.b-header__star_third{
    font-size: 11px;
}

.b-header__star_forth{
    font-size: 12px;
}

.b-header__star_fifth{
    font-size: 13px;
}

.b-header__menu-image{
	float:right;
	
	width: 70%;
	height:100%;
	
	background: url(images/l-schools/b-header/menu.png) no-repeat center;
}

.b-header__search-image{
	width: 70%;
	height:100%;
	
	background: url(images/l-schools/b-header/search.png) no-repeat center;
}

.b-header__line{
	position: relative;
	top: 25%;

	width: 0px;
	height: 50%;
	
	border: 1px solid rgba(0,0,0,0.07);
}

.b-header__line_right{
	float:right;
}

.b-header__line_left{
	float:left;
}