@import "../i-media/i-media";

.b-school-list-item {
    display: inline-block;

    width: 100%;
    height: auto;
    padding: 25px 0;

    cursor: default;

    color: #000;
    border-bottom: 1px solid #e5e5e5;
}

.b-school-list-item:last-child {
    border-bottom: none;
}

.b-school-list-item__section {
    position: relative;

    margin-bottom: 12px;

    &_badges {
        display: inline-block;

        width: auto;
        margin-bottom: 5px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}


.b-school-list-item__badge {
    display: inline-block;

    margin-right: 20px;
    margin-bottom: 5px;

    &:last-child {
        margin-right: 0;
    }
}

.b-school-list-item__name {
    display: inline-block;

    height: 100%;
    padding-right: 180px;

    cursor: pointer;
    text-decoration: none;

    color: black;

    font: 700 21px/26px 'Proxima', Arial, sans-serif;

    &_bold {
        font-weight: 800;
    }

    &:hover {
        color: #ee362c;
    }
}

.b-school-list-item__name-wrap {
    font-family: 'Proxima', Arial, sans-serif;
    font-weight: 700;
}

.b-school-list-item__score {
    position: absolute;
    top: 2px;
    right: 0;
}

.b-school-list-item__data {
    display: inline-block;

    width: 100%;
    height: auto;
    margin-top: 20px;

    color: rgb(136, 136, 136);

    font-size: 13px;
}

.b-school-list-item__data-item {
    display: inline-block;

    width: auto;
    height: auto;
}

.b-school-list-item__description {
    display: inline-block;

    max-width: 705px;
    padding-right: 80px;

    color: #000;

    font: 16px/22px 'PT Serif', Arial, sans-serif;
}

.b-school-list-item.b-school-list-item_minimal {
    padding: 14px 0 10px 0;

    cursor: pointer;

    &:hover .b-school-list-item__link-name {
        color: #ff0000;
    }

    .b-school-list-item__section {
        margin-bottom: 2px;
    }

    .b-school-list-item__name {
        padding-right: 50px;

        font-weight: normal;
        line-height: 0;
    }

    .b-school-list-item__position {
        margin-right: 0;
    }

    .b-school-list-item__score {
        top: -1px;
    }
}

@include media-xs {
    .b-school-list-item__name {
        padding-right: 75px;
    }

    .b-school-list-item__description {
        padding-right: 0;
    }
}
