{namespace mel.lSchools.bComments.Template}
/**
* Hi
* @param comments
*/
{template .base}
<div class="b-comments">
	{foreach $comment in $comments}
	{call mel.lSchools.bComment.Template.base}
		{param author: $comment.author /}
		{param rank: $comment.rank/}
		{param sections: $comment.sections/}
	{/call}
	{/foreach}
</div>
{/template}