{namespace sm.lSchool.bComments.Template}
/**
 * Comments template
 */
{template .base}
	{@param params:[
	 		comments:list<[
	 				author: string,
	 				rank: string,
	 				text: string,
	 				sections:list<[
	 					name: string,
	 					rating: int
	 					]>
	 			]>
	 	]
	 }
	<div class="b-comments">
		{foreach $comment in $params.comments}
		{call sm.lSchool.bComment.Template.base}
			{param params: [ 'author': $comment.author, 'rank': $comment.rank, 'text': $comment.text, 'sections': $comment.sections ] /}
		{/call}
		{if not isLast($comment)}
		    <div class="b-comments__line">
            </div>
		{/if}
		{/foreach}
	</div>
{/template}