.g-dropdown.g-dropdown_select {

	.g-dropdown__opener {
		box-sizing: border-box;
		padding: 6px 24px 11px 18px;

		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	}

	.g-dropdown__opener-text {
		display: inline-block;

		&_placeholder {
			color: #9a9a9a;
		}
	}

	.g-dropdown__opener-arrow {
		display: inline-block;

		float: right;
	}

	.g-dropdown__content {
		left: 1px;

		width: 99%;
		margin-top: 0px;
	}
}

.g-dropdown.g-dropdown_select.g-dropdown_not-selected {
	.g-dropdown__opener {
		outline: 4px solid #e2332a;
	}
}