@import "../../../n-common/i-media/i-media";

.g-dropdown.g-dropdown_select {
    .g-dropdown__opener-text {
        display: inline-block;
    }

    .g-dropdown__text {
        display: inline-block;
    }

    .g-dropdown__opener-icon {
        display: inline-block;
    }
}

.g-dropdown_select.g-dropdown_rectangle-theme {
    .g-dropdown__opener {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

        line-height: 30px;
    }

    .g-dropdown__opener-text {
        margin-left: 10px;
    }

    .g-dropdown__opener-icon {
        float: right;

        margin-right: 10px;
    }

    .g-dropdown__content {
        margin-top: 0;
    }
}
