{namespace mel.lSchools.bCommentSection.Template}
/**
* Hi
* @param name
* @param rating
* @param text 

*/
{template .base}
    <div class="b-comment-section">
	
		<div class="b-comment-section__section-name">
			{$name}
		</div>
		
        <div class="b-comment-section__stars-rating"> 
			{for $i in range($rating)}
				★
			{/for}
		</div>

		<div class="b-comment-section__text">
            {$text}
		</div>
		
    </div>
{/template}