@import "../../i-media/i-media";

.b-article-link__link {
    position: relative;
    z-index: 1;

    display: inline-block;

    text-decoration: none;

    color: #000;
}

.b-article-link__image-container {
    position: relative;

    width: 100%;
    margin-bottom: 20px;
}

.b-article-link__image {
    display: block;

    width: 100%;
}

.b-article-link__image-hover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity 0.3s ease;

    opacity: 0;
    background: #000;

    &:hover {
        opacity: 0.5;
    }
}

.b-article-link__title {
    margin-bottom: 10px;

    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.b-article-link__subtitle {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

@media screen and (max-device-width: 600px) // for phone
and (orientation: portrait),
screen and (max-width: 600px) // for desktop
{
    .b-article-link__image {
        width: 100%;
    }
}
