{namespace mel.lschools}
/**
* A template for map marks
*/
{template .mark}
    <div class="b-map-mark">
        <div class="b-map-mark__mark-icon">
            <img src="/images/l-schools/b-map-mark/geomark.png" alt="" />
        </div>
        <div class="b-map-mark__balloon">
            <div class="b-map-mark__school-info">
                <span class="b-map-mark__school-type">Центр образования</span> <span class="b-map-mark__school-name">№548 "Царицыно"</span>
            </div>
            <div class="b-map-mark__rating">
                3,75
            </div>
            <div class="arrow">
                ::after
            </div>
        </div>
    </div>
{/template}
