@import "../i-media/i-media";
@import "../i-animate/i-animate";

/* layout */
.b-header {
    z-index: auto;

    width: 100%;
    height: auto;

    border-bottom: 1px solid #e5e5e5;
    background: #fff;

    font-family: 'Proxima', Arial, sans-serif;
}

.b-header__body {
    position: relative;
    z-index: 15;

    width: 1200px;
    height: 130px;
    margin: 0 auto;
}

.b-header__section {
    position: relative;

    display: inline-block;

    width: 33.33%;
    height: 100%;

    vertical-align: middle;

    &.b-header__section_links {
        z-index: 2;
    }

    &.b-header__section_logo {
        z-index: 2;
        &:before {
            display: inline-block;

            width: 0;
            height: 100%;

            content: '';
            vertical-align: middle;
        }
    }
}
/* layout end */

/* logo */
.b-header__logo {
    display: inline-block;

    vertical-align: middle;
}

.b-header__logo-img {
    height: 30px;
}
/* logo end */


/* header animation polyfill */
.b-header_mode_search.b-header_animation_off {
    .b-header__logo {
        visibility: hidden;
    }
}

.b-header_mode_default.b-header_animation_off {
    .b-header__logo {
        visibility: visible;
    }
}
/* end header animation polyfill */

/* header animation */
.b-header_mode_search.b-header_animation_on {
    .b-header__logo {
        animation-name: fadeOut;
    }
}

.b-header_mode_default.b-header_animation_on {
    .b-header__logo {
        animation-name: fadeIn;
    }
}
/* header animation end */


@include media-xl {
    .b-header__body {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }

    .b-header__link-search {
        left: 40px;
    }
}

@include media-l {
    .b-header__section {
        &.b-header__section_logo {
            width: 260px;
        }

        &.b-header__section_links {
            position: absolute;
            left: 0;

            box-sizing: border-box;
            width: 100%;
            padding-left: 300px;
        }

        &.b-header__section_search {
            float: right;

            width: 380px;
        }
    }


    .b-header__logo-img {
        height: 22px;
    }
}

@include media-s {
    .b-header {
        text-align: left;
    }

    .b-header__body {
        height: 100px;
        padding: 0 30px;
    }

    .b-header__section {
        &.b-header__section_search {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 100%;
        }
    }

    .b-header__wrap {
        margin-top: 12px;
    }

    .b-header__link-search {
        display: none;
    }
}

@include media-xs {
    .b-header__section {
        &.b-header__section_links {
            display: none;
        }
    }

    .b-header__body {
        height: 60px;
    }

    .b-header__logo-img {
        height: 19px;
    }
}
