.b-header {
    z-index: auto;

    display: inline-block;

    width: 100%;
    height: 70px;

    text-align: center;

    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

    font-family: 'Proxima', Arial, sans-serif;
}

.b-header__body {
    position: relative;

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.b-header__link-search {
    position: absolute;
    top: 27px; //28
    left: 0;

    display: inline-block;
}

// .b-header__menu {
//     display: inline-block;
//     float: left;

//     width: 5%;
//     height: 100%;
//     max-width: 62px;
// }

.b-header__main {
    display: inline-block;

    height: 100%;
    margin: 0 auto;

    vertical-align: top;

    font-weight: bold;
}

.b-header__search {
    position: absolute;
    top: 20px;
    right: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 275px;

    border: 1px solid #CCC;
}

.b-header__menu-image {
    position: relative;
    top: 25px;

    float: left;
}

.b-header__search-image{
    width: 100%;
    height: 100%;

    background: url(images/b-header/search.png) no-repeat right;
}

.b-header__line {
    width: 0;
    height: 50%;
    margin-top: 16px;

    border: 1px solid rgba(0, 0, 0, 0.08);
}

.b-header__line_right {
    float: right;
}

.b-header__line_left {
    float: left;
}

.b-header__wrap {
    display: inline-block;

    margin-top: 21px; //20

    vertical-align: middle;
}

.b-header__title {
    margin-top: 4px;
}

.b-header__header {
    display: inline-block;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;

    font-weight: 900;
    font-size: 21px;
    line-height: 1;
}

.b-header__link {
    text-decoration: none;

    color: #000;
}

.b-header__city {
    margin: -2px 0 0 0;

    text-transform: uppercase;

    font-weight: 900;
    font-size: 7px;
}

.b-header__stars {
    display: inline-block;

    margin: 0 20px;

    cursor: default;
    vertical-align: top;

    color: #ee362c;

    font-family: "WebSymbols", Arial, sans-serif;
}

.b-header__star {
    margin: 0 3.3px;

    user-select: none;
}

.b-header__star_first {
    font-size: 11px;
}

.b-header__star_second {
    font-size: 12px;
}

.b-header__star_third {
    font-size: 13px;
}

.b-header__star_forth {
    font-size: 14px;
}

.b-header__star_fifth {
    font-size: 15px;
}

@media screen and (max-width: 1280px) // for desktop and tablet
{
    .b-header {
        padding: 0 40px;

        box-sizing: border-box;
    }

    .b-header__body {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) // for desktop and tablet
{
    .b-header__stars {
        display: none;
    }
}

@media screen and (max-device-width: 600px) // for phone
and (orientation: portrait),
screen and (max-width: 600px) // for desktop
{
    .b-header {
        padding: 0 30px;

        text-align: left;
    }

    .b-header__link-search {
        display: none;
    }
}



