.b-header {
    z-index: auto;

    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 70px;

    text-align: center;
    font-family: 'Proxima', Arial, sans-serif;

    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.b-header__body {
    margin: 0 auto;

    max-width: 1200px;
    min-width: 420px;

    width: 100%;
    height: 100%;
}

.b-header__menu {
    display: inline-block;
    float: left;

    width: 5%;
    height: 100%;
    max-width: 62px;
}

.b-header__main {
    display: inline-block;

    max-width: 1076px;
    width: 88%;
    height: 100%;

    vertical-align: top;
    font-weight: bold;
}

.b-header__search {
    display: inline-block;
    float: right;

    width: 5%;
    height: 100%;
    max-width: 62px;
}

.b-header__menu-image {
    position: relative;
    top: 25px;
}

.b-header__search-image{
    width: 100%;
    height: 100%;

    background: url(images/b-header/search.png) no-repeat right;
}

.b-header__line {
    width: 0;
    height: 50%;

    border: 1px solid rgba(0, 0, 0, 0.08);
}

.b-header__line_right {
    float: right;
}

.b-header__line_left {
    float: left;
}

.b-header__wrap {
    display: inline-block;

    vertical-align: middle;
}

.b-header__before {
    display: inline-block;

    height: 100%;

    vertical-align: middle;
    content: "";
}

.b-header__title {
    margin-top: 4px;
}

.b-header__header {
    display: inline-block;

    text-transform: uppercase;

    font-weight: 900;
    font-size: 21px;
    line-height: 1;
}

.b-header__link {
    color: #000;
    text-decoration: none;
}

.b-header__city {
    margin: -2px 0 0 0;

    text-transform: uppercase;

    font-weight: 900;
    font-size: 7px;
}

.b-header__stars {
    display: inline-block;

    margin: 0 20px;

    cursor: default;
    color: #ee362c;
    vertical-align: top;

    font-family: "WebSymbols", Arial, sans-serif;
}

.b-header__star {
    margin: 0 3px;

    user-select: none;
}

.b-header__star_first {
    font-size: 11px;
}

.b-header__star_second {
    font-size: 12px;
}

.b-header__star_third {
    font-size: 13px;
}

.b-header__star_forth {
    font-size: 14px;
}

.b-header__star_fifth {
    font-size: 15px;
}
