@import "../i-media/i-media";
@import "../i-animate/i-animate";

/* layout */
.b-header {
    z-index: auto;

    width: 100%;
    height: 70px;

    text-align: center;
    background: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

    font-family: 'Proxima', Arial, sans-serif;
}

.b-header__bg {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: block;

    height: 70px;
    width: 100%;

    background: #fff;
}

.b-header__body {
    position: relative;
    z-index: 15;

    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.b-header__wrap {
    display: inline-block;

    margin-top: 21px; //20

    vertical-align: middle;
}

.b-header__main {
    position: relative;
    z-index: 1;

    display: inline-block;

    vertical-align: middle;
}

.b-header__fader {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
}
/* layout end */

/* advanced search link */
.b-header__link-search {
    position: absolute;
    z-index: 1;
    top: 27px; //28
    left: 0;

    display: inline-block;
}
/* advanced search link end */

/* logo */
.b-header__header {
    display: inline-block;

    text-decoration: none;
    text-transform: uppercase;

    color: #000;

    font-weight: 800;
    font-size: 21px;
    line-height: 1;
}

.b-header__link {
    text-decoration: none;

    color: #000;
}

.b-header__city {
    margin: -2px 0 0 0;

    text-transform: uppercase;

    font-weight: 800;
    font-size: 7px;
}

.b-header__stars {
    display: inline-block;

    margin: 0 20px;

    cursor: default;
    vertical-align: top;

    color: #ee362c;

    font-family: "WebSymbols", Arial, sans-serif;
}

.b-header__star {
    margin: 0 3.3px;

    user-select: none;
}

.b-header__star_first {
    font-size: 11px;
}

.b-header__star_second {
    font-size: 12px;
}

.b-header__star_third {
    font-size: 13px;
}

.b-header__star_forth {
    font-size: 14px;
}

.b-header__star_fifth {
    font-size: 15px;
}
/* logo end */

/* search */
.b-header__search {
    position: absolute !important;
    top: 20px;
    right: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 275px;

    border: 1px solid #ccc;
}

.b-header__button {
    position: absolute;
    z-index: 10;
    top: 50%;

    margin-top: -23px;

    cursor: pointer;
    border: 13px solid white;

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;

    &.b-header__button_search,
    &.b-header__button_close {
        right: -23px;

        visibility: hidden;
    }
}

/* TODO: clean up */
.b-header .b-list.b-list_stendhal-theme .b-list__item {
    padding: 0;
}
/* clean up end */

/* search end */

@include media-xl {
    .b-header {
        padding: 0 40px;

        box-sizing: border-box;
    }

    .b-header__body {
        width: 100%;
    }
}


@include media-l {
    .b-header__stars {
        display: none;
    }
}

@include media-m {
    .b-header__search {
        display: none;
    }

    .b-header__button.b-header__button_search {
        visibility: visible;
    }

    .b-header__button-search-holder {
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;
    }

    .b-header_mode_search,
    .b-header_mode_default {
        /* TODO: clean up */
        .b-header__search {
            top: 0;
            bottom: 0;
            left: -40px;

            display: block;

            width: 100%;
            height: 100%;
            padding: 0 40px;

            box-sizing: content-box;
            border: none;
        }

        .b-search_theme_min .b-search__suggest {
            position: absolute;
            left: 0;

            padding-left: 53px;
        }

        .b-search__item {
            border-top: 1px solid #e5e5e5;

            line-height: 70px;
        }

        .b-search__item-icon {
            left: 31px;
        }

        .b-search__item {
            padding: 0 60px;
        }

        .b-search__icon {
            display: none;
        }

        .b-list.b-list_stendhal-theme,
        .b-list.b-list_stendhal-theme .b-list__item {
            padding: 0;

            box-shadow: none;
            border: none;
            border-radius: 0;
        }

        .b-input__input_size_medium {
            font-size: 14px;
        }
        /* clean up end */
    }

    .b-header_mode_search {
        .b-header__main,
        .b-header__link-search {
            visibility: hidden;
        }

        .b-header__button_close {
            visibility: visible;
        }

        .b-header__button.b-header__button_search {
            right: auto;
            left: -23px;
        }
    }

    .b-header_mode_search.b-header_animation_on {
        /* animations begin */
        .b-header__button-search-holder {
            //animation-delay: 0.5s;
            animation-name: slideInRight;
        }

        .b-header__main,
        .b-header__link-search {
            animation-name: fadeOut;
        }

        .b-header__button_close {
            //animation-delay: 0.5s;
            animation-name: zoomIn;
        }

        .b-header__fader {
            animation-name: fadeIn;
        }

        .b-header__search-holder {
            //animation-delay: 0.5s;
            animation-name: fadeIn;
        }
        /* animations end */
    }

    .b-header_mode_default {
        .b-header__search {
            display: none;
        }

        .b-header__search {
            visibility: visible;
        }
    }

    .b-header_mode_default.b-header_animation_on {
        .b-header__button-search-holder {
            animation-name: slideInLeft;
        }

        .b-header__button_close {
            animation-name: zoomOut;
        }

        .b-header__main,
        .b-header__link-search {
            animation-name: fadeIn;
        }

        .b-header__fader {
            animation-name: fadeOut;
        }
    }
}

@include media-s {
    .b-header,
    .b-header__bg {
        height: 55px;
    }

    .b-header__wrap {
        margin-top: 12px;
    }

    .b-header__link-search {
        display: none;
    }

    .b-header {
        padding: 0 30px;

        text-align: left;
    }

    .b-header_mode_search .b-header__search,
    .b-header_mode_default .b-header__search {
        left: -30px;

        padding: 0 30px;
    }

    /* TODO: clean up */
    .b-header_mode_search .b-search__item,
    .b-header_mode_default .b-search__item {
        line-height: 55px;
    }
    /* clean up end */
}
