
@import "../i-media/i-media";
@import "../i-animate/i-animate";

/* layout */
.b-header {
    z-index: auto;

    width: 100%;
    height: auto;

    border-bottom: 1px solid #e5e5e5;
    background: #fff;

    font-family: 'Proxima', Arial, sans-serif;
}

.b-header__body {
    position: relative;
    z-index: 15;

    width: 1200px;
    height: 130px;
    margin: 0 auto;
}

.b-header__section {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 33.33%;
    height: 100%;

    vertical-align: middle;

    &.b-header__section_links {
        padding: 0 10px;
    }

    &.b-header__section_search {
        padding-left: 20px;
    }

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}
/* layout end */

/* logo */
.b-header__logo {
    display: inline-block;

    vertical-align: middle;
}

.b-header__logo-img {
    height: 30px;
}
/* logo end */

/* search */
.b-header__search {
    width: 100%;
    height: 50px;

    vertical-align: middle;

    &.b-header__search_visible_l {
        display: inline-block;
    }

    &.b-header__search_visible_s {
        display: none;
    }
}


/* links */
.b-header__search-link {
    display: inline-block;

    padding: 0 10px;

    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

.b-header__search-link:hover .b-header__search-link-icon {
    opacity: 0.75;
}

.b-header__search-link-icon {
    display: inline-block;

    margin-right: 15px;

    opacity: 0.3;
}

/* links end */


@include media-xl {
    .b-header__body {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }

    .b-header__link-search {
        left: 40px;
    }
}

@include media-l {
    .b-header__section {
        &.b-header__section_logo {
            z-index: 3;

            width: auto;
            margin-right: 40px;
            padding-right: 0;
        }

        &.b-header__section_links {
            left: 0;
            z-index: 2;

            width: auto;
            padding: 0;
            margin-right: 40px;
        }

        &.b-header__section_search {
            position: absolute;
            right: 0;
            z-index: 1;

            box-sizing: border-box;
            width: 100%;
            padding-right: 40px;
            padding-left: 500px;

            text-align: right;
        }
    }

    .b-header__search.b-header__search_visible_l {
        width: 100%;
        max-width: 380px;
    }

    .b-header__logo-img {
        height: 22px;
    }
}

@include media-s {
    .b-header {
        text-align: left;
    }

    .b-header__body {
        height: 100px;
        padding: 0 30px;
    }

    .b-header__section {
        &.b-header__section_search {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 100%;
            max-width: none;
            padding: 0;
        }

        &.b-header__section_links {
            position: absolute;

            margin-right: 0;
            padding-right: 0;
            padding-left: 306px;
        }
    }

    .b-header__search {
        &.b-header__search_visible_l {
            display: none;
        }

        &.b-header__search_visible_s {
            display: inline-block;
        }
    }

    .b-header__wrap {
        margin-top: 12px;
    }

    /* header animation polyfill */
    .b-header_mode_search.b-header_animation_off {
        .b-header__section.b-header__section_logo,
        .b-header__section.b-header__section_links{
            visibility: hidden;
        }
    }

    .b-header_mode_default.b-header_animation_off {
        .b-header__section.b-header__section_logo,
        .b-header__section.b-header__section_links {
            visibility: visible;
        }
    }
    /* end header animation polyfill */

    /* header animation */
    .b-header_mode_search.b-header_animation_on {
        .b-header__section.b-header__section_logo,
        .b-header__section.b-header__section_links {
            animation-name: fadeOut;
        }
    }

    .b-header_mode_default.b-header_animation_on {
        .b-header__section.b-header__section_logo,
        .b-header__section.b-header__section_links {
            animation-name: fadeIn;
        }
    }
    /* header animation end */
}

@include media-xs {
    .b-header__section {
        &.b-header__section_links {
            display: none;
        }
    }

    .b-header__search {
        &.b-header__search_visible_s {
            padding: 0;
        }
    }

    .b-header__body {
        height: 60px;
    }

    .b-header__logo-img {
        height: 19px;
    }
}
