{namespace sm.lDoc.nDemo.bBlockComments.Template}

/**
* doc
*/
{template .preview}
    {call sm.lSchool.bComments.Template.base}
        {param params: [
            'comments':[
                [
                    'author': 'Елена 321',
                    'rank': 'родитель',
                    'text': 'Если ваш ребенок не силен в самостоятельном образовании, смело идите в эту школу, фраза "Быть тебе дворником" будет преследовать его все года обучения. Хотелось бы спросить преподавательский состав: "Если вы не любите детей и свою профессию, может быть профессия дворника вам как-то ближе?"',
                    'sections':[
                        [
                            'name': 'Образование',
                            'rating': 3
                        ],
                        [
                            'name': 'Педагоги',
                            'rating': 4
                        ],
                        [
                           'name': 'Доступность',
                           'rating': 2
                        ],
                        [
                            'name': 'Атмосфера',
                            'rating': 2
                        ]
                    ]
                ],
                [
                    'author': 'Далай лама',
                    'rank': 'ученик',
                    'text': 'Для того чтобы поступить в школу 548 надо приходить на подготовку за 3 года. Тогда вашего ребенка возьмут точно и не важно как он себя ведет на уроке (кричит, воет, плачет). Еще такой вариант: если он не тянет в 7 лет, то его, по желанию родителей, могут оставить до 8 лет и тогда он точно поступит. Тестирования, проводящиеся якобы для проверки успеваемости детей, больше нужны для поднятия и без того большой самооценки школы гладиолус',
                    'sections': [
                        [
                            'name': 'Образование',
                            'rating': 3
                        ],
                        [
                            'name': 'Педагоги',
                            'rating': 3
                        ],
                        [
                            'name': 'Атмосфера',
                            'rating': 2
                        ]
                    ]
                ]
            ]
        ]/}
    {/call}
{/template}

/**
* doc
*/
{template .doc}
    {call sm.lSchool.bComments.Template.base}
        {param params: [
            'comments':[
                [
                    'author': 'Елена 321',
                    'rank': 'родитель',
                    'text': 'Если ваш ребенок не силен в самостоятельном образовании, смело идите в эту школу, фраза "Быть тебе дворником" будет преследовать его все года обучения. Хотелось бы спросить преподавательский состав: "Если вы не любите детей и свою профессию, может быть профессия дворника вам как-то ближе?"',
                    'sections':[
                        [
                            'name': 'Образование',
                            'rating': 3
                        ],
                        [
                            'name': 'Педагоги',
                            'rating': 4
                        ],
                        [
                           'name': 'Доступность',
                           'rating': 2
                        ],
                        [
                            'name': 'Атмосфера',
                            'rating': 2
                        ]
                    ]
                ],
                [
                    'author': 'Далай Лама',
                    'rank': 'ученик',
                    'text': 'Для того чтобы поступить в школу 548 надо приходить на подготовку за 3 года. Тогда вашего ребенка возьмут точно и не важно как он себя ведет на уроке (кричит, воет, плачет). Еще такой вариант: если он не тянет в 7 лет, то его, по желанию родителей, могут оставить до 8 лет и тогда он точно поступит. Тестирования, проводящиеся якобы для проверки успеваемости детей, больше нужны для поднятия и без того большой самооценки школы гладиолус',
                    'sections': [
                        [
                            'name': 'Образование',
                            'rating': 3
                        ],
                        [
                            'name': 'Педагоги',
                            'rating': 3
                        ],
                        [
                            'name': 'Атмосфера',
                            'rating': 2
                        ]
                    ]
                ]
            ]
        ]/}
    {/call}
{/template}