{namespace mel.lschools}
/**
* A template for map tags
*/
{template .tag}
    <div class="b-map-tag">
        <div class="b-map-tag__tag-icon">
            <img src="/images/l-schools/b-map-tag/geotag.png" alt="" />
        </div>
        <div class="b-map-tag__baloon">
            <div class="b-map-tag__info">
                <div class="b-map-tag__school-name">
                    Центр образования <strong>№548 "Царицыно"</strong>
                </div>
                <div class="b-map-tag__rating">
                    3,75
                </div>
            </div>
        </div>
    </div>
{/template}
