{namespace sm.lDoc.nDemo.bBlockRating.Template}

/**
* doc
*/
{template .preview}
    {call sm.lSchool.bRating.Template.base}
        {param params: [
            'marks': [
                1,
                3,
                4,
                2
            ],
            'averageMark': 2.5
        ]/}
    {/call}
{/template}
