.b-filter_labels {
    padding: 0;

    border: none;

    .b-filter__filters {
        margin-top: 10px;

        &:empty {
            margin: 0;
        }
    }

    .b-filter__section {
        width: auto;
        min-width: auto;
        margin: 10px 10px 0 0;
        padding: 8px 15px 10px 10px;

        vertical-align: top;

        border: 1px solid #e5e5e5;
        border-radius: 5px;

        font: 14px Arial, sans-serif;
        line-height: 20px;
    }

    .b-filter__filter {
        max-width: 533px;
        margin-right: 20px;
        padding: 0;
    }

    .b-filter__remove {
        display: inline-block;

        vertical-align: top;
    }

    .b-filter__icon {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    .b-filter__input {
        display: none;
    }

    .b-filter__input-label {
        margin: 0;
        padding: 0;
    }
}