@import "../../i-media/i-media";

.b-filter_labels {
    padding: 0;

    border: none;

    .b-filter__section {
        width: auto;
        min-width: auto;
        margin: 10px 10px 0 0;
        padding: 8px 15px 10px;

        vertical-align: baseline;

        border: 1px solid #e5e5e5;
        border-radius: 5px;

        font: 14px Arial, sans-serif;
        line-height: 20px;

        &:first-child {
            margin-top: 20px;
        }
    }

    .b-filter__filter {
        box-sizing: border-box;
        margin: 0;
        padding: 0 28px 0 0;
    }

    .b-filter__remove {
        position: absolute;
        top: 8px;
        right: 15px;

        cursor: pointer;
    }

    .b-filter__icon {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    .b-filter__input {
        display: none;
    }

    .b-filter__input-label {
        margin: 0;
        padding: 0;

        cursor: default;
    }

    .b-filter__button_more {
        display: inline-block;

        width: auto;
        min-width: auto;
        margin: 10px 10px 0 0;
        padding: 8px 15px 10px 10px;

        vertical-align: baseline;

        border: 1px solid #e5e5e5;
        border-radius: 5px;

        font: 14px Arial, sans-serif;
        line-height: 20px;
    }
}

@include media-xs {
    .b-filter_labels {
        .b-filter__section {
            padding-left: 10px;
            padding-right: 10px;
        }

        .b-filter__remove {
            right: 10px;
        }
    }
}
