{namespace sm.lSchool.bDataBlock.TemplateFoldList}


/**
 * @typedef {object} sm.lSchool.bDataBlock.TemplateFoldList.Node
 * @property {string} name
 * @property {?sm.lSchool.bDataBlock.TemplateFoldList.Node} items
 */


/**
 * Classes item
 * @param params {{
 *    header: ?string,
 *    headerType: ?number
 *    modifier: ?string
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node]
 * }}
 * @extends sm.lSchool.bDataBlock.Template
 * @constructor
 */
{template .base}
    {call .init}
        {param params: [
            'header': $params.header,
            'headerType':
                $params.headerType ?
                        $params.headerType :
                        3,
            'modifier':
                $params.modifier ?
                        'b-data-block_fold-list' + $params.modifier :
                        'b-data-block_fold-list',
            'content': $params.content
        ] /}
    {/call}
{/template}

/**
 * Content item
 * @param params {{
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node]
 * }}
 */
{template .content autoescape="strict" kind="html"}
    <ul class="b-data-block__content">
        {call .ratingList_}
            {param params: [
                'content': $params.content
            ] /}
        {/call}
    </ul>
{/template}


/**
 * Rating elements
 * @param params {{
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node]
 * }}
 */
{template .ratingList_ autoescape="strict" kind="html"}
    {foreach $item in $params.content}
        {call .ratingItem_}
            {param params: $item /}
        {/call}
    {/foreach}
{/template}


/**
 * Rating element
 * @param params {sm.lSchool.bDataBlock.TemplateFoldList.Node}
 */
{template .ratingItem_ autoescape="strict" kind="html"}
    {if $params.items}
        <li class="b-data-block__item">
            {call sm.bLink.Template.base}
                {param params: [
                    'data': [
                        'name': $params.name
                    ],
                    'config': [
                        'customClasses': 'b-data-block__item-content',
                        'size': 'large'
                    ]
                ]/}
            {/call}

            <div class="b-data-block__number">
                {length($params.items)}
            </div>

            <ul class="b-data-block__list i-utils__hidden">
                {call .content}
                    {param params: [
                        'content': $params.items
                    ] /}
                {/call}
            </ul>
        </li>
    {else}
        <li class="b-data-block__list-item">&mdash; {$params.name ?: $params}</li>
    {/if}
{/template}

/**
 * Header section
 * @param params {
 *     header: ?string,
 *     headerType: ?number
 * }
 */
{template .header autoescape="strict" kind="html"}
     <div class="b-data-block__line"></div>
     {if $params.headerType == 2}
        <h2 class="b-data-block__header">{$params.header}</h2>
     {else}
        <h3 class="b-data-block__header">{$params.header}</h3>
     {/if}
{/template}
