{namespace sm.lSchool.bDataBlockFoldList.Template}

/**
 * Classes item
 * @param params {
 *    header: ?string,
 *    headerType: ?number
 *    modifier: ?string
 *    content:list<[
 *        name: ?string
 *        items: ?list<string>
 *     ]>
 * }
 * @extends sm.lSchool.bDataBlock.Template
 * @constructor
 */
{template .base}
    {call .init}
        {param params: [
            'header': $params.header,
            'headerType': $params.headerType ?
                        $params.headerType :
                        3,
            'modifier': $params.modifier ?
                        'b-data-block_fold-list' + $params.modifier :
                        'b-data-block_fold-list',
            'content': $params.content
        ] /}
    {/call}
{/template}

/**
 * Content item
 * @param params {
 *    content:list<[
  *        name: ?string
  *        items: ?list<string>
  *     ]>
 * }
 */
{template .content autoescape="strict" kind="html"}
     <ul class="b-data-block__content">
        {foreach $class in  $params.content}
            {if $class.items and
             length($class.items) > 0}
                {call .ratingItem_}
                    {param params: [
                        'name': $class.name,
                        'items': $class.items
                    ] /}
                {/call}
            {/if}
        {/foreach}
    </ul>
{/template}

/**
 * Rating element
 * @param params {
 *     name: ?string
 *     items: ?list<string>
 * }
 */
{template .ratingItem_ autoescape="strict" kind="html"}
    <li class="b-data-block__item">
        <a  class="b-data-block__item-content
                   b-data-block__item-content_text-color_red">
            {$params.name}
        </a>
        {if $params.items}
            <div class="b-data-block__number">
                {length($params.items)}
            </div>
        {/if}

        {if $params.items}
            <ul class="b-data-block__list
                       i-utils__hidden">
                {foreach $item in $params.items}
                <li class="b-data-block__list-item">&mdash; {$item}</li>
                {/foreach}
            </ul>
        {/if}
    </li>
{/template}

/**
 * Header section
 * @param params {
 *     header: ?string,
 *     headerType: ?number
 * }
 */
{template .header autoescape="strict" kind="html"}
     <div class="b-data-block__line"></div>
     {if $params.headerType == 2}
        <h2 class="b-data-block__header">{$params.header}</h2>
     {else}
        <h3 class="b-data-block__header">{$params.header}</h3>
     {/if}
{/template}