{namespace sm.lSchool.bDataBlock.TemplateFoldList}


/**
 * @typedef {object} sm.lSchool.bDataBlock.TemplateFoldList.Node
 * @property {string} name
 * @property {?sm.lSchool.bDataBlock.TemplateFoldList.Node} items
 */


/**
 * Classes item
 * @param params {{
 *    header: ?string,
 *    headerType: ?number
 *    modifier: ?string
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node],
 *    type: ?string
 * }}
 * @extends sm.lSchool.bDataBlock.Template
 * @constructor
 */
{template .base}
    {call .init}
        {param params: [
            'header': $params.header,
            'headerType':
                $params.headerType ?
                        $params.headerType :
                        3,
            'modifier':
                $params.modifier ?
                        'b-data-block_fold-list' + $params.modifier :
                        'b-data-block_fold-list',
            'content': $params.content,
            'type': $params.type
        ] /}
    {/call}
{/template}

/**
 * Content item
 * @param params {{
 *    content: [sm.lSchool.bDataBlock.TemplateFoldList.Node],
 *    type: ?string
 * }}
 */
{template .content autoescape="strict" kind="html"}
    {call cl.iFactory.FactoryManager.INSTANCE.renderTemplate}
        {param params: [
            'factory': 'stendhal',
            'type': 'fold-list',
            'renderParams': [
                'data' : $params.content,
                'config' : [
                    'type': $params.type,
                    'showMore': true
                ]
            ]
        ]/}
    {/call}
{/template}
