.b-results {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

    text-align: left;
}

.b-results__label {
    font-family: Proxima, arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.b-results__content {
    position: relative;

    display: inline-block;

    width: 100%;
}

.b-results__content-item {
    display: inline-block;

    width: 100%;
    margin: 0;
    padding: 15px 0;

    border-bottom: solid 1px #deddd8;
}

.b-results__content-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.b-results__olymp-diagram {
    margin-top: 7px;

    font-family: Arial, sans-serif;
    font-size: 14px;
}

.b-results__olymp-item {
    padding: 13px 0;
}

.b-results__item-label {
    display: inline-block;

    width: 25%;
    margin-top: 16px;

    font-size: 16px;
    vertical-align: top;
}

.b-results__item-data {
    display: inline-block;

    width: 75%;
}

.b-results__dropdown {
    position: absolute;
    left: auto;
    right: 0;
    top: -50px;
    z-index: 0;
}
