@import "../../i-media/i-media";

.b-results {
    display: inline-block;

    width: 100%;
    margin-top: 60px;

    background-color: #f7f6f1;
}

.b-results__wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 48px;

    text-align: left;
}

.b-results__label {
    font-family: Proxima, arial, sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.b-results__content {
    position: relative;

    display: inline-block;

    width: 100%;
}

.b-results__content-item {
    display: inline-block;

    width: 100%;
    margin: 0;
    padding: 32px 0 9px 0;

    border-bottom: solid 1px #deddd8;
}

.b-results__show-more-button {
    display: none;

    color: #ef473d;
    cursor: pointer;
}

.b-results__show-more-button_active {
    display: inline-block;
}

.b-results__olymp-count {
    margin-left: 5px;

    color: #000000;
}

.b-results__content-item:last-child {
    margin-bottom: -33px;
    padding-bottom: 0;

    border-bottom: none;
}

.b-results__olymp-diagram {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.b-results__olymp-item {
    padding-bottom: 16px;
    letter-spacing: -0.003em;
}

.b-results__olymp-item:last-Child,
.b-results__show-more-button {
    padding-bottom: 18px;
}

.b-results__show-more-button_active ~ .b-results__olymp-item {
    display: none;
}

.b-results__item-label {
    display: inline-block;

    width: 17%;
    margin-bottom: 23px;

    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.b-results__item-label-text {
    display: inline;

    margin-right: 8px;
}

.b-results__help-icon {
    display: inline-block;

    cursor: pointer;
}

.b-results__tooltip {
    width: 164px;
}

.b-results__olymp-tooltip {
    position: absolute;
    left: auto;
    right: 0;
    top: 36px;

    color: #b8b8b8;
    font-size: 11.5px;
    letter-spacing: 0.04em;
    font-family: Arial, sans-serif;
}

.b-results__item-data {
    display: inline-block;

    width: 73%;
    padding-top: 4px;
}

.b-results__dropdown {
    position: absolute;
    left: auto;
    right: 0;
    top: -38px;
    z-index: 10;

    font-family: Proxima, arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
}

.b-results__dropdown-holder {
    position: relative;
    top: -1px;

    width: 140px;
}

.b-results__content_olymp {
    .b-results__item-label {
        margin-right: 3%;
        margin-bottom: 30px;
    }

    .b-results__content-item {
        padding: 32px 0 20px 0;
    }
}

@include media-xl {
    .b-results__wrap {
        width: 1024px;
    }

    .b-results__item-label {
        width: 25%;
    }

    .b-results__item-data {
        width: 75%;
    }
}

@include media-l {
    .b-results__wrap {
        width: 850px;
    }

    .b-results__item-label {
        width: 33%;
    }

    .b-results__item-data {
        width: 67%;
    }
}

@include media-m {
    .b-results__wrap {
        width: 640px;
    }
}

@include media-s {
    .b-results__wrap {
        width: 320px;
    }

    .b-results__item-label {
        width: 100%;
    }

    .b-results__item-data {
        width: 100%;
    }
}

@include media-xs {
    .b-results {
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }

    .b-results__wrap {
        width: 100%;
    }
}
