@import "../i-media/i-media";

.i-layout_modifier_stendhal .i-layout__wrapper {
    overflow: hidden;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.i-layout_modifier_stendhal .i-layout__content,
.i-layout_modifier_stendhal .i-layout__footer {
    width: 1200px;
    min-width: 315px;
    margin: auto;
}

.i-layout_page_search .i-layout__content,
.i-layout_page_error-not-found .i-layout__content {
    width: auto;
}


@include media-xl {
    .i-layout_page_school.i-layout_modifier_stendhal .i-layout__content,
    .i-layout_page_school.i-layout_modifier_stendhal .i-layout__footer {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }
}

@include media-xs {
    .i-layout_page_school.i-layout_modifier_stendhal .i-layout__content,
    .i-layout_page_school.i-layout_modifier_stendhal .i-layout__footer {
        padding: 0 30px;
    }
}
