@import "../i-media/i-media";

.l-catalog__body {
    margin: auto;

    font-family: Arial, sans-serif;
}

/** layout **/
.l-catalog__footer {
    margin: 60px auto 0;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.l-catalog__section {
    margin-bottom: 60px;
}
/** layout end **/


/** Content section **/
/** content section end **/

@include media-xl {
}

@include media-m {
}

@include media-xs {
    .l-catalog__footer {
        padding: 0;
    }
}
