@import "../i-media/i-media";

.b-diagram {
    display: inline-block;

    width: 100%;
    margin: 0;
}

.b-diagram__item {
    display: inline-block;

    width: 100%;
    padding: 5px 0;
}

.b-diagram__label {
    display: inline-block;

    width: 40%;

    color: #000000;
    font-weight: 500;
    font-size: 14px;
}

.b-diagram__value {
    display: inline-block;

    width: 60%;
    color: #000000;
}

.b-diagram__bar-filled {
    display: inline-block;

    width: 0;
    height: 5px;

    background-color: #333333;
}

.b-diagram__bar {
    display: inline-block;

    width: 100%;
    height: 5px;
}

.b-diagram_stars {
    .b-diagram__item {
        margin-bottom: -5px;
    }

    .b-diagram__label {
        font-size: 14px;
    }
}

.b-diagram_marks {
    .b-diagram__label {
        width: 149px;

        font-size: 15px;
        font-weight: 600;
    }

    .b-diagram__value {
        width: auto;
    }

    .b-diagram__item {
        padding: 0;
        margin-bottom: 8px;
    }
}

.b-diagram_text {
    .b-diagram__item {
        padding: 13px 0 14px;
    }

    .b-diagram__label {
        font-size: 15px;
    }

    .b-diagram__value {
        font-size: 13px;
    }
}

.b-diagram_bars {
    .b-diagram__item {
        width: 20%;
        padding: 0;
        margin-bottom: 23px;
    }

    .b-diagram__bar-wrap {
        display: inline-block;

        width: 100px;
    }

    .b-diagram__bar {
        vertical-align: middle;
        background-color: #eaeae5;
    }

    .b-diagram__number-value {
        display: inline-block;

        box-sizing: border-box;
        width: 60px;

        text-align: center;
        font-size: 14px;
        font-family: Arial;
        color: #6f6f6d;
        vertical-align: top;
    }

    .b-diagram__bar-filled {
        vertical-align: middle;
        cursor: pointer;
        background-color: #757573;
    }

    .b-diagram__bar-filled_red {
        background-color: #ef655e;
    }

    .b-diagram__bar-filled_green {
        background-color: #5cce81;
    }

    .b-diagram__label {
        position: relative;

        box-sizing: border-box;
        width: 100%;

        font-size: 14px;
        font-family: Arial;
        vertical-align: top;
        text-align: left;
    }

    .b-diagram__value {
        position: relative;

        width: 100%;
        height: 22px;

        vertical-align: top;
    }

    .b-diagram__circle {
        position: relative;
        top: 2px;
        left: -2px;

        display: inline-block;

        width: 1px;
        height: 1px;

        border: 1px solid #b9b9b5;
        border-radius: 3px;
        background-color: #b9b9b5;
        vertical-align: text-top;
    }

    .b-diagram__under-bar {
        display: inline-block;

        height: 1px;
    }

    .b-diagram__bar-filled:hover {
        height: 9px;
    }

    .b-diagram__bar-filled:hover ~ .b-diagram__circle {
        top: 4px;
    }

    .b-diagram__tooltip {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 10;

        display: none;
    }

    .b-diagram__bar-filled:hover ~ .b-diagram__tooltip {
        display: inline-block;
    }

    .b-diagram__tooltip-description {
        position: relative;
        left: -20px;
        top: 0;
        z-index: 2;

        width: 186px;
        height: 62px;

        color: #000000;
        background-color: #ffffff;
        font-family: Arial;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    }

    .b-diagram__tooltip-content {
        position: relative;
        z-index: 5;

        width: 100%;
        height: 100%;

        background-color: #ffffff;
    }

    .b-diagram__tooltip-average-mark {
        box-sizing: border-box;
        padding: 18px;

        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.01em;
    }

    .b-diagram__tooltip-bold-text {
        font-weight: 700;
        font-size: 13px;
    }

    .b-diagram__tooltip-arrow {
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 1;

        width: 10px;
        height: 10px;

        border-left: 10px solid #ffffff;
        border-top: 10px solid transparent;
    }

    .b-diagram__tooltip-arrow-shadow {
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 3;

        width: 20px;
        height: 10px;
        -webkit-transform: skewX(-125deg) rotate(-215deg) translate(0px, 0px);
        -ms-transform: skewX(-125deg) rotate(-215deg) translate(0px, 0px);
        transform: skewY(45deg) rotate(0deg) translate(0px, 0px);

        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
    }

    .b-diagram__item-description {
        position: relative;
        top: 5px;
        left: 0;

        box-sizing: border-box;
        width: 100%;

        font-size: 12px;
        font-weight: 400;
        color: #6f6f6d;
        text-align: right;
    }
}

@include media-xl {
    .b-diagram_bars {
        .b-diagram__item {
            width: 33%;
        }
    }
}

@include media-l {
    .b-diagram_bars {
        .b-diagram__item {
            width: 50%;
        }
    }
}

@include media-s {
    .b-diagram_bars {
        .b-diagram__label {
            font-size: 13px;
        }

        .b-diagram__number-value {
            font-size: 13px;
        }
    }
}

@include media-xs {
    .b-diagram_bars {
        .b-diagram__bar-wrap {
            width: 85px;
        }
    }
}
