.b-data-block_features {
	.b-data-block__header {
		margin-bottom: 23px;
	}

	.b-data-block__content {
		font-family: 'PT Serif', serif;
		font-size: 16px;
		line-height: 22px;
	}

    .b-data-block__dash {
        position: absolute;
        z-index: 0;
    }

    .b-data-block__text {
        margin-left: 20px;
    }
}
