.b-data-block_features {
	.b-data-block__header {
		margin-bottom: 23px;
	}

	.b-data-block__content {
		font-family: 'PT Serif', serif;
		font-size: 16px;
		line-height: 22px;
	}
}
.b-data-block__dash {
	display: inline-block;

	margin-right: 6px;
}