@import "../../../n-common/i-media/i-media";

.g-modal_stendhal.g-modal_success{
    font: 16px Arial, sans-serif;
    line-height: 20px;

    .g-modal__content {
        box-sizing: border-box;
        width: auto;
        max-width: 375px;
        padding: 30px;

        text-align: left;
    }

    .g-modal__section_content {
        margin-bottom: 42px;
    }

    .g-modal__section_header {
        margin-bottom: 22px;
    }

    .g-modal__title {
        text-transform: uppercase;

        font: 16px 'Proxima', Arial, sans-serif;
        font-weight: 800;
    }

    .g-modal__close-button {
        top: 28px;
        right: 30px;

        padding: 0;
    }
}
