@import "../../../i-media/i-media";

.b-sm-filter_extended {
    .b-sm-filter__button {
        display: block;

        margin: 20px 0 7px;
        padding: 10px;

        text-align: center;

        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }
}

.b-sm-filter_neptune-theme {
    .b-sm-filter__button {
        margin: 0;
        padding: 0;

        text-align: left;

        border: none;
        border-radius: 0;
    }
}
