<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello world</title>
    <link rel="stylesheet" href="/debugStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/requestList.js"></script>
</head>
<body>
    <h1>Debug page</h1>


    <div>
        <h2>Request</h2>
        <div>
            <span>URL:</span>
            <input class="area-url" type="text" value="user"/>
            <button class="post-button">Post</button>
            <button class="get-button">Get</button>
        </div>
        <br/>
        <textarea class="area" contenteditable="true">
{
  "username": "Василий Иванович",
  "email": "vasiliy_ivanovich@mail.com",
  "password": "123qwe",
  "post": "Менеджер"
}</textarea>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>


    <h2>Output</h2>
    <div class="output">
        ...
    </div>
</body>
</html>
