.b-school-list-item {
  display: inline-block;

  width: 100%;
  height: auto;
  padding: 30px 0;

  border-bottom: 1px solid #e5e5e5;

  cursor: pointer;
}

.b-school-list-item:last-child {
  border-bottom: none;
}

.b-school-list-item__name {
  float: left;

  width: 40%;
  height: 100%;

  color: black;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.b-school-list-item__name-wrap {
  width: 90%;

  font-weight: 700;
  font-family: 'Proxima', Arial, sans-serif;
}

.b-school-list-item__rating {
  float: left;

  width: 60%;
  height: auto;
}

.b-school-list-item__data {
  display: inline-block;

  width: 100%;
  height: auto;
  margin-top: 20px;

  color: rgb(136, 136, 136);
  font-size: 13px;
}

.b-school-list-item__data-item {
  display: inline-block;

  width: auto;
  height: auto;
}

.b-school-list-item__description {
  display: inline-block;

  width: 100%;
  height: auto;
  margin-top: 25px;
}

.b-school-list-item__description_hidden {
  display: none;
}