@import "../../../i-media/i-media";

.b-sm-filter_labels {
    padding: 0;

    font-size: 14px;
    line-height: 20px;

    .b-sm-filter__content {
        margin: 0;
    }

    .b-sm-filter__list-options {
        margin-top: 13px;

        &:empty {
            margin-top: 0;
        }
    }

    .b-sm-filter__option {
        display: inline-block;

        width: auto;
        min-width: 0;
    }

    .b-sm-filter__button {
        margin: 10px 10px 0 0;
        padding: 8px 15px 10px;

        vertical-align: baseline;

        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }
}

@include media-xs {
    .b-sm-filter_labels {
        .b-sm-filter__button {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .b-sm-filter_labels {
        .b-sm-filter__option {
            width: auto;
        }
    }
}
