@import '../../../n-common/i-media/i-media';

.b-search-panel-university {
    position: relative;

    width: 100%;
    padding-top: 68px;
    padding-bottom: 40px;
}

.b-search-panel-university__title {
    padding-bottom: 30px;

    font: bold 32px 'Proxima', Arial, sans-serif;
    line-height: 1.13;
}

.b-search-panel-university__fields-area {
    box-sizing: border-box;
    padding-right: 230px;
    padding-bottom: 10px;
}

.b-search-panel-university__search-city-wrap {
    display: inline-block;

    width: calc(100% - 370px);
}

.b-search-panel-university__pay-type-wrap {
    position: relative;
    top: 1px;

    display: inline-block;

    width: 347px;
    padding-left: 20px;

    color: #000000;

    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.47;
}

.b-search-panel-university__search-ege-wrap {
    font-family: 'Proxima', Arial, sans-serif;
    font-size: 20px;
}

.b-search-panel-university__button-wrap {
    position: absolute;
    top: 135px;
    right: 0;

    width: 210px;
}

@include media-m {
    .b-search-panel-university__title {
        text-align: center;
    }

    .b-search-panel-university__search-city-wrap {
        width: calc(100% - 290px);
    }

    .b-search-panel-university__pay-type-wrap {
        width: 270px;
    }

    .b-search-panel-university__fields-area {
        padding-right: 0;
    }

    .b-search-panel-university__button-wrap {
        position: static;

        width: 260px;
        margin: auto;
    }
}

@include media-s {

}

@include media-xs {
    .b-search-panel-university {
        padding: 0;
    }

    .b-search-panel-university__upper-block {
        padding: 32px 25px 0 25px;
    }

    .b-search-panel-university__lower-block {
        padding: 7px 25px 25px 25px;

        background-color: #f5f5f5;
    }

    .b-search-panel-university__title {
        padding-bottom: 25px;

        text-align: left;

        font-size: 24px;
    }

    .b-search-panel-university__fields-area {
        padding-bottom: 20px;
    }

    .b-search-panel-university__search-city-wrap {
        width: 100%;
        padding-bottom: 20px;
    }

    .b-search-panel-university__pay-type-wrap {
        width: 100%;
        padding-left: 0;
    }

    .b-search-panel-university__search-ege-wrap {
        color: #000000;
    }
}
