{namespace sm.lDoc.nDemo.bBlockMark.Template}

/**
* doc
*/
{template .preview}
{call sm.bMark.Template.base}
    {param params: [
        'data': [
                'stats': [
                    [
                        'value': 212,
                        'mark': 5,
                        'isMax': true
                    ],
                    [
                        'value': 13,
                        'mark': 4
                    ],
                    [
                        'value': 18,
                        'mark': 3
                    ],
                    [
                        'value': 25,
                        'mark': 2
                    ],
                    [
                        'value': 71,
                        'mark': 1
                    ]
                ],
                'total': [
                    'average': 4.2,
                    'countValue': 330
                ]
            ]
    ] /}
{/call}
{/template}

/**
* doc
*/
{template .doc}
    {call sm.bMark.Template.base}
        {param params: [
            'data': [
                    'stats': [
                        [
                            'value': 212,
                            'mark': 5,
                            'isMax': true
                        ],
                        [
                            'value': 13,
                            'mark': 4
                        ],
                        [
                            'value': 18,
                            'mark': 3
                        ],
                        [
                            'value': 25,
                            'mark': 2
                        ],
                        [
                            'value': 71,
                            'mark': 1
                        ]
                    ],
                    'total': [
                        'average': 4.2,
                        'countValue': 330
                    ]
                ]
        ] /}
    {/call}
{/template}
