.b-mark {
    width: auto;
    padding: 0 20px;
}

.b-mark__total {
    margin-right: 30px;

    min-width: 60px;

    display: inline-block;
    float: left;

    text-align: center;
}

.b-mark__average {
    color: #fd3424;

    font-size: 24px;
    font-weight: bold;
}

.b-mark__count {
    color: #a1a1a1;
    font-size: 10px;
}

.b-mark__count-value {
    display: inline-block;
}

.b-mark__count-label {
    display: inline-block;

    margin-left: 5px;
}


.b-mark__stats {
    display: inline-block;

    padding-left: 30px;

    border-left: 1px solid #a1a1a1;

    font-size: 11px;
}

.b-mark__stat {
    padding: 5px 0;
}

.b-mark__bar {
    position: relative;

    margin: 0 30px 0 27px;
    display: inline-block;

    width: 100px;
    height: 5px;

    background-color: #e7e7e7;
}

.b-mark__bar-progress {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 40%;
    height: 5px;

    background-color: #000000;
}


.b-mark__bar_max .b-mark__bar-progress {
    background-color: #fd3424;
}

.b-mark__count {
    width: auto;
    display: inline-block;

    vertical-align: middle;
}
