@import "../i-media/i-media";

.b-sm-checkbox {
    display: inline-block;

    box-sizing: border-box;
    margin-right: 5px;
    padding: 5px 0;
}

.b-sm-checkbox__label {
    display: block;

    padding-left: 22px;

    cursor: pointer;
    vertical-align: middle;

    line-height: 21px;
}

.b-sm-checkbox__input-wrap {
    float: left;

    height: 21px;

    line-height: 16px;
}

.b-sm-checkbox__input {
    vertical-align: middle;
    display: inline-block;

    margin: 0;
    padding: 0;

    cursor: pointer;
}

.b-sm-checkbox_narrow-theme {
    position: relative;

    min-height: 56px;
    padding: 10px 0;

    .b-sm-checkbox__label {
        margin: 0;
        padding-left: 0;
    }

    .b-sm-checkbox__input-wrap {
        position: absolute;
        top: 35px;
        left: 2px;

        height: auto;

        line-height: normal;
    }
}

.b-sm-checkbox_minimal-theme {
    margin: 0;
    padding: 0;

    .b-sm-checkbox__label {
        margin: 0;
        padding-left: 0;
    }

    .b-sm-checkbox__input-wrap {
        display: none;
    }
}

.b-sm-checkbox_neptune-theme {
    padding: 4px 0;

    .b-sm-checkbox__input {
        width: 15px;
        height: 15px;
    }

    .b-sm-checkbox__label {
        color: #747474;
    }
}

.b-sm-checkbox_zebra-theme {
    padding: 4px 0;

    .b-sm-checkbox__input {
        width: 15px;
        height: 15px;
    }

    .b-sm-checkbox__label {
        color: #ffffff;
    }
}

.b-sm-checkbox_neptune-theme.b-sm-checkbox_checked {
    .b-sm-checkbox__label {
        color: #000;
    }
}

.b-sm-checkbox_custom-icon {
    input {
        display: none;
    }

    .b-sm-checkbox__input-wrap {
        cursor: pointer;
    }

    .b-sm-checkbox__icon_check {
        display: none;
    }

    &.b-sm-checkbox_checked {
        .b-sm-checkbox__icon_uncheck {
            display: none;
        }

        .b-sm-checkbox__icon_check {
            display: block;
        }
    }
}

@include media-xs {
    .b-sm-checkbox_zebra-theme {
        .b-sm-checkbox__label {
            color: #000000;
        }
    }
}
