@import "../i-media/i-media";

.b-authorization-link {
    color: #000;

    vertical-align: middle;

    font-size: 16px;
}

.b-authorization-link__logout {
    display: none;
}

.b-authorization-link__user {
    display: inline-block;

    vertical-align: middle;

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.b-authorization-link__user-name {
    display: inline-block;

    margin-right: 25px;

    vertical-align: middle;
}

.b-authorization-link__user-photo {
    height: 32px;
    width: 32px;
    margin-right: 10px;

    vertical-align: middle;

    border-radius: 50%;
}

.b-authorization-link__user-icon {
    display: inline-block;

    margin-right: 10px;

    vertical-align: middle;
}

.b-authorization-link__link {
    display: inline-block;

    vertical-align: middle;
}

.b-authorization-link_logged {
    .b-authorization-link__login {
        display: none;
    }

    .b-authorization-link__logout {
        display: block;
    }
}

@include media-m {
    .b-authorization-link__user-name {
        display: none;
    }
}

@include media-xs {
    .b-authorization-link__user-name {
        display: inline-block;
    }
}
