@import "../../n-common/i-media/i-media";

.g-modal_stendhal {
    position: absolute;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;

    color: #000000;

    .g-modal__content {
        box-sizing: border-box;
        max-width: 800px;
        padding: 0;

        -webkit-overflow-scrolling: touch; 
    }

    .g-modal__close-button {
        position: absolute;
        top: 45px;
        right: 45px;

        width: 18px;
        height: 18px;
        padding: 5px;

        cursor: pointer;

        line-height: 0;
    }

    .g-modal__close-icon-hover {
        display: none;
    }

    .g-modal__close-button_hover_enable.g-modal__close-button:hover {
        .g-modal__close-icon {
            display: none;
        }

        .g-modal__close-icon-hover {
            display: block;
        }
    }
}

.g-modal.g-modal_stendhal.g-modal_size-l {
    .g-modal__content {
        width: 100%;
        max-width: 680px;
    }

    .g-modal__close-button {
        z-index: 1;
        top: 35px;
        right: 35px;

        transform: translate3d(0,0,0);
    }
}

.g-modal.g-modal_stendhal.g-modal_size-s {
    .g-modal__content {
        max-width: 320px;
    }

    .g-modal__close-button {
        top: 21px;
        right: 21px;
    }
}

@include media-xs {
    .g-modal.g-modal_stendhal {
        padding: 10px 0;

        .g-modal__close-button {
            top: 30px;
            right: 30px;
        }
    }
}

@include media-xxs {
    .g-modal.g-modal_stendhal.g-modal_size-l {
        .g-modal__close-button {
            right: 25px;
        }
    }
}
