@import "../../../i-media/i-media";

.b-data-block__item-title {
    display: inline-block;

    font-family: ProximaNova Extrabld;
    font-size: 14px;
}

.b-data-block__contact {
    margin-bottom: 0px;
}

.b-data-block__item-content {
    display: inline-block;
}

.b-data-block__item-content-left {
    display: inline-block;

    width: 28%;
    padding-right: 15px;

    vertical-align: top;
    box-sizing: border-box;
}

.b-data-block__item-content-right {
    display: inline-block;
    vertical-align: top;
    width: 72%;
}

.b-data-block__item-content-address {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin: 0 15px 10px 0;

    &:last-child {
        margin-bottom: 15px;
    }
}

.b-data-block__item-content-metroStation {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

.b-data-block__metro-icon {
    display: inline-block;

    margin-right: 7px;
}

.b-data-block__item-phones-caption {
    display: inline-block;

    width: 28%;
    padding-right: 15px;

    vertical-align: top;
    box-sizing: border-box;
}

.b-data-block__item-phones{
    margin-top: 20px;

    color: #808080;

    font: 14px Arial, sans-serif;
}

.b-data-block_addresses {
    .b-data-block__line {
        display: none;
    }

    .b-data-block__line_horisontal-line {
        position: static;

        display: block;

        margin-top: 5px;
        margin-bottom: 15px;
    }

    .b-data-block__item-content {
        width: 100%;
    }
}

@include media-l {
    .b-data-block__item-content-address {
        width: 100%;
        margin-right: 0;
    }

    .b-data-block__item-content-metroStation {
        display: none;
    }
}

@include media-m {
    .b-data-block__item-content-address {
        width: 60%;
        margin-right: 10px;
    }

    .b-data-block__item-content-metroStation {
        display: inline-block;
    }
}

@include media-s {
    .b-data-block__item-content-address {
        width: auto;
        margin-right: 5px;
    }

    .b-data-block__item-content-metroStation:before {
        content: 'Ð¼.';
    }

    .b-data-block__metro-icon {
        display: none;
    }

    .b-data-block__item-content-left {
        width: 100%;
        margin-bottom: 10px;

        font-weight: 700;
    }

    .b-data-block__item-content-right {
        width: 100%;
    }

    .b-data-block__item-phones-caption {
        width: auto;
        margin-right: 5px;

        &:after {
            content: ':';
        }
    }
}
