.b-data-block__item-title {
    display: inline-block;

    font-family: ProximaNova Extrabld;
    font-size: 14px;
}

.b-data-block__item-content {
    display: inline-block;
}

.b-data-block__metro-icon {
    display: inline-block;

    margin-right: 7px;
}

.b-data-block__item-phones{
    font-family: Arial;
    font-size: 14px;
    color: #808080;
}
