.b-sm-switch__link-wrapper{
    font-family: Arial, sans-serif;
    margin-right: 30px;
    line-height: 1.29;
    padding-bottom: 14px;
    display: inline-block;
}

.b-sm-switch__link_selected{
    border-bottom: 4px #007aff solid;
}

.b-sm-switch{
    border-bottom: 1px #e4e4e4 solid;
}