.g-list.g-list_link {
    .g-list__item {
        padding: 15px 20px;

        border-bottom: 1px solid #e3e3e3;

        &:last-child {
            border-bottom: none;
        }
    }

    .g-list__item_selected {
        font-weight: normal;
    }
}
