@import "../../n-common/i-media/i-media";

.b-sm-footer {
    width: 1200px;
    min-width: 255px;

    margin: 0 auto;
    padding: 33px 0 85px;

    text-align: left;
    box-sizing: border-box;

    font: 14px/20px Arial, sans-serif;
}

.b-sm-footer__link {
    display: inline-block;
    margin-right: 20px;

    line-height: 18px;

    &:last-child {
        margin-right: 0;
    }
}

.b-sm-footer__link_copyright {
    color: #000;
}

@include media-xl {
    .b-sm-footer {
        width: 100%;

        padding-right: 40px;
        padding-bottom: 73px;
        padding-left: 40px;
    }
}

@include media-s {
    .b-sm-footer {
        padding-bottom: 56px;
    }
}

@include media-xs {
    .b-sm-footer {
        padding: 23px 30px 64px;
    }

    .b-sm-footer__link {
        margin-bottom: 10px;
    }

    .b-sm-footer__link_copyright {
        display: block;
    }
}
