.g-button.g-button_stendhal {
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding: 11px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #e62424;
    border: 4px solid #e62424;

    font-family: 'Proxima', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #ffebeb;
    }
}

.g-button.g-button_dark-theme {
    border: 4px solid #000;
    color: #000;

    &:hover {
        border: 4px solid #e62424;
        color: #e62424;

        background-color: transparent;
    }
}

.g-button.g-button_size_s {
    height: 47px;
    padding: 7px;

    font-size: 15px;
}

.g-button_stendhal.g-button_disabled {
    cursor: default;

    opacity: 0.5;

    &:hover {
        background-color: initial;
    }
}
