.g-button_stendhal {
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding: 11px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #e62424;
    border: 4px solid #e62424;

    font-family: 'Proxima', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #ffebeb;
    }
}

.g-button_dark-theme {
    color: #000;
    border: 4px solid #000;

    &:hover {
        background-color: transparent;
    }
}

.g-button_dark-theme.g-button_hoverable:hover {
    color: #e62424;
    border-color: #e62424;
}

.g-button_neptune-theme {
    letter-spacing: 0;
    text-transform: none;

    color: #007aff;
    border: solid 2px #007aff;

    font-weight: 600;
    line-height: 25px;

    &.g-button_hoverable:hover {
        background-color: rgba(0, 122, 255, 0.2);
    }
}

.g-button_neptune-reverse-theme {
    letter-spacing: 0;
    text-transform: none;

    color: #fff;
    border: solid 2px #007aff;
    background-color: #007aff;

    font-family: inherit;
    font-weight: 600;
    line-height: 25px;

    &.g-button_hoverable:hover {
        background-color: #007aff;
    }
}


.g-button_thin-theme {
    padding: 14px 0 15px 0;

    color: #000;
    border: 1px solid #e5e5e5;

    font-size: 13px;

    &:hover {
        background-color: transparent;
    }
}

.g-button_size_s {
    height: 47px;
    padding: 7px;

    font-size: 15px;
}

.g-button_size_m {
    height: 47px;
    padding: 9px;

    font-size: 16px;
}

.g-button_size_xl {
    height: 58px;
    padding: 14px;

    font-size: 18px;
    font-weight: normal;
}

.g-button_disabled {
    cursor: default;

    opacity: 0.5;

    &:hover {
        background-color: initial;
    }
}

.g-button_border-round-size_xl {
    border-radius: 100px;
}
