.g-button_stendhal {
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding: 11px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #e62424;
    border: 4px solid #e62424;

    font-family: 'Proxima', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #ffebeb;
    }
}

.g-button_dark-theme {
    color: #000;
    border: 4px solid #000;

    &.g-button_disabled {
        opacity: 1;
        border-color: transparent;

        &.g-button_hoverable:hover {
            color: #000;
            border-color: transparent;
        }
    }

    &:hover {
        background-color: transparent;
    }
}

.g-button_carrot-theme {
    height: 100%;
    font-size: 12px;
    line-height: inherit;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #ed6327;
    border: none;
    padding: 0;

    &:hover {
        background-color: #ed6327;
    }
}

.g-button_dark-theme.g-button_hoverable:hover {
    color: #e62424;
    border-color: #e62424;
}

.g-button_thin-theme {
    padding: 14px 0 15px 0;

    color: #000;
    border: 1px solid #e5e5e5;

    font-size: 13px;

    &:hover {
        background-color: transparent;
    }
}

.g-button_size_s {
    height: 47px;
    padding: 7px;

    font-size: 15px;
}

.g-button_size_m {
    height: 47px;
    padding: 9px;

    font-size: 16px;
}

.g-button_disabled {
    cursor: default;

    opacity: 0.5;

    &:hover {
        background-color: initial;
    }
}
