.g-button.g-button_stendhal {
    box-sizing: border-box;
    width: 100%;
    height: 53px;
    padding: 12px;

    border: 4px solid #e62424;
    color: #e62424;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
	line-height: 22px;
	letter-spacing: 0.06em;
    font-family: 'Proxima', Arial, sans-serif;
    text-transform: uppercase;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #ffebeb;
    }

    &.g-button_disabled {
        opacity: 0.5;
    }
}
