.b-badge {
    font-size: 13px;
    line-height: 18px;

    font-family: Arial, sans-serif;
}

.b-badge__item {
    display: inline;

    text-decoration: none;
    color: #808080;
}

.b-badge_active {
    .b-badge__item:hover {
        color: #ee362c;
    }
}

.b-badge__item {
    cursor: pointer;
}

.b-badge__icon {
    display: inline-block;

    margin-right: 8px;

    vertical-align: baseline;
}

.b-badge__hint-href {
    display: inline-block;

    margin-top: 7px;

    color: #356fc4;
    cursor: pointer;
}

.b-badge__hint-href-icon {
    display: inline-block;

    margin-left: 10px;
}

.b-badge__hint-content {
    width: 212px;
    margin-right: 8px;

    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    color: #808080;
    cursor: default;
}

.b-badge_star {
    font-family: "WebSymbols", Arial, sans-serif;
    color: #ee362c;
}

.b-badge.b-badge_rating {
    cursor: pointer;
}
