.b-schools-footer {
    width:100%;
    padding: 30px 0 17px;
    margin-bottom: 30px;

    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    font-family: 'Roboto';
}

.b-schools-footer__left-block{
    display: inline-block;
    font-size: 12px;
}

.b-schools-footer__right-block{
    text-align: right;
    display: inline-block;
    float:right;
}

.b-schools-footer__link{
    display: inline;
    margin-right: 20px;
    color: black;
    text-decoration: none;
}

.b-schools-footer__help{
    font-size: 12px;
    color: #a3a3a3;
}
.b-schools-footer__help_key{
    font-weight: bold;
}
