@import "../../i-media/i-media";

.b-schools-footer {
    width:100%;
    padding: 25px 0;
    margin-bottom: 30px;

    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    font-family: 'Roboto';
}

.b-schools-footer__left-block {
    display: inline-block;
    font-size: 13px;
}

.b-schools-footer__right-block {
    text-align: right;
    display: inline-block;
    float:right;
}

.b-schools-footer__link {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.b-schools-footer__link_copyright {
    color: black;
}

.b-schools-footer__help {
    font-size: 12px;
    color: #a3a3a3;
}
.b-schools-footer__help_key {
    font-weight: bold;
}

@include media-xs {
    .b-schools-footer {
        padding-bottom: 10px;
    }

    .b-schools-footer__link_copyright {
        display: block;
    }

    .b-schools-footer__link {
        margin-bottom: 15px;
    }
}
