{namespace mel.lschools.bheader.Template}
/**
* base footer template
*/
{template .base autoescape="strict" kind="html"}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <div class="b-schools-footer">
        <div class="b-schools-footer__left-block">
            <div class="b-schools-footer__link">© Мел, 2015</div>
            <a href="#" class="b-schools-footer__link">О проекте</a>
            <a href="#" class="b-schools-footer__link">Соглашения и правила</a>
        </div>
        <div class="b-schools-footer__right-block">
            <div class="b-schools-footer__help">
                Нашли ошибку? Выделите текст и нажмите <span class="b-schools-footer__help_key">Ctrl+Enter</span> чтобы сообщить нам о ней
            </div>
        </div>
    </div>
{/template}
