.l-doc {
    line-height: 1.2em;
}

.l-doc__h2 {
    margin: 20px 0;
}

.l-doc__previews {
    margin-top: 50px;
}

.l-doc__documentation {
    margin-top: 25px;

	color: #000;
}

.l-doc__preview-content {
    padding: 10px;
}
