@import '../i-media/i-media';

.b-sm-contacts {
    display: inline-block;

    text-align: left;
}

.b-sm-contacts__phone-number {
    display: inline-block;

    vertical-align: middle;
}
.b-sm-contacts__number {
    text-decoration: none;

    color: #000;

    font-size: 17px;
    font-weight: 600;
}
.b-sm-contacts__phone-icon {
    display: inline-block;

    padding-right: 5px;
}

.b-sm-contacts__number_desktop {
    display: inline-block;
    cursor: text;
}
.b-sm-contacts__number_mobile {
    display: none;
}

@include media-xs {
    .b-sm-contacts__number_desktop {
        display: none;
    }
    .b-sm-contacts__number_mobile {
        display: inline-block;
    }
}