@import '../i-media/i-media';

.b-sm-contacts {
    display: inline-block;

    text-align: left;

    color: #000;
}

.b-sm-contacts__helper {
    display: inline-block;

    padding-right: 10px;

    vertical-align: middle;
}

.b-sm-contacts__helper_text {
    font: 17px 'PT Serif', serif;
}

.b-sm-contacts__phone {
    display: inline-block;
}

.b-sm-contacts__phone-number {
    display: inline-block;

    vertical-align: middle;
}

.b-sm-contacts__phone-icon {
    display: inline-block;

    padding-right: 5px;
}

.b-sm-contacts__number {
    text-decoration: none;

    color: #000;

    font: 600 17px 'Proxima', Arial, sans-serif;
}

.b-sm-contacts__number_desktop {
    display: inline-block;

    cursor: text;
}

.b-sm-contacts__number_mobile {
    display: none;
}

@include media-l {
    .b-sm-contacts__helper {
        display: none;
    }
}

@include media-xs {
    .b-sm-contacts__number_desktop {
        display: none;
    }

    .b-sm-contacts__number_mobile {
        display: inline-block;
    }
}
