.b-sm-contacts {
    display: inline-block;

    text-align: left;
}

.b-sm-contacts__phone-number {
    display: inline-block;

    vertical-align: middle;
}
.b-sm-contacts__number {
    text-decoration: none;

    color: #000;

    font-size: 17px;
    font-weight: 600;
}
.b-sm-contacts__phone-icon {
    display: inline-block;

    padding-right: 5px;
}