.b-data-block {
	width: 100%;

	font-size: 14px;
}
.b-data-block__line {
	float: left;

	width: 100%;
	height: 1px;

	margin: 7px 0 -7px;

	background: rgba(0, 0, 0, 0.1);
}

.b-data-block__header {
	display: inline-block;

	margin-bottom: 30px;
	padding-right: 20px;

	letter-spacing: 0.06em;
	text-transform: uppercase;

	background-color: #fff;

	font-family: Proxima, arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
}

.b-data-block__item {
	margin-bottom: 17px;

	&:last-child {
		margin-bottom: 0;
	}
}

.b-data-block__content {
	font-family: arial, sans-serif;
}

