@import "i-media/i-media";

html, body {
	height: 100%;
}

.l-search-result {
    width: 100%;

    margin: 30px 0;
}

.l-search-result__header {
    margin-bottom: 38px;
}

.l-search-result__body:after {
    display: block;

    content: '';
    clear: both;
}

.l-search-result__top-menu{
    display: inline-block;

    width: 100%;
    padding: 50px 0;
    margin-bottom: 30px;

    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.l-search-result__left-menu {
    float: left;

    width: 380px;

    text-align: center;
}

.l-search-result__results-section {
    width: 100%;
    padding-left: 440px;

    box-sizing: border-box;
    border-top: 1px solid transparent;
}

.l-search-result__list-header {
    margin: 27px 0 7px;

	color: #000;

	font: 600 19px/1.3 Proxima, arial, sans-serif;
}

.l-search-result__list-header_clone {
    display: none;
}

.l-search-result__list-header-text_strong {
    display: inline-block;

	font-weight: 800;
}

.l-search-result__search {
    float: left;

    width: 380px;
    height: 100%;
    margin-right: 50px;
}

.l-search-result__show-on-map {
    float: left;

    width: 31%;
    height: 100%;
}

.l-search-result__map-link {
    cursor: pointer;
}

.l-search-result__show-on-map-text {
    float: left;

    padding-top: 6%;
    padding-right: 0;
    padding-bottom: 6%;
    padding-left: 9px;

    color: #ff0000;

    font-size: 18px;
}

.l-search-result__show-on-map-icon {
    float: left;

    margin-top: 5%;
    margin-left: 5%;
}

.l-search-result__sort {
    float: right;

    width: 33%;
    height: 100%;
    padding-top: 26px;

    text-align: right;

    font-family: arial, sans-serif;
    font-size: 13px;
}

.l-search-result__filters {
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px 0 30px;

    background-color: #f4f4ec;
}


@include media-xl {

}


@include media-l {
    .l-search-result__body {
        position: relative;
    }

    .l-search-result__list-header {
        display: none;
    }

    .l-search-result__list-header_clone {
        display: block;

        margin-bottom: 23px;
    }

    .l-search-result__left-menu {
        width: 100%;
        margin-bottom: 30px;
    }

    .l-search-result__results-section {
        padding-left: 0;
    }

    .l-search-result__filters {
        margin-left: -40px;
        padding: 0 40px;

        box-sizing: content-box;
    }
}


@include media-m {
    .l-search-result__list-header {
        margin-bottom: 27px;
    }

    .l-search-result__filters {
        margin-left: -30px;
        padding: 0 30px;
    }
}
