.l-search-result__body {
    max-width: 1200px;
    margin: 0 auto;
}

.l-search-result__top-menu{
    display: inline-block;

    width: 100%;
    padding: 50px 0 30px;
    margin-bottom: 30px;

    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.l-search-result__left-menu {
    float: left;

    width: 380px;

    text-align: center;
}

.l-search-result__school-list {
    float: right;

    width: 63%;
}

.l-search-result__search {
    float: left;

    width: 380px;
    height: 100%;
    margin-right: 50px;
}

.l-search-result__show-on-map {
    float: left;

    width: 31%;
    height: 100%;
}

.l-search-result__map-link {
    cursor: pointer;
}

.l-search-result__show-on-map-text {
    float: left;

    padding-top: 6%;
    padding-right: 0;
    padding-bottom: 6%;
    padding-left: 9px;

    color: #ff0000;

    font-size: 18px;
}

.l-search-result__show-on-map-icon {
    float: left;

    margin-top: 5%;
    margin-left: 5%;
}

.l-search-result__sort {
    float: left;

    width: 33%;
    height: 100%;
    padding-top: 26px;

    text-align: right;

    font-family: arial;
    font-size: 13px;
}
