.b-fold-list {
    margin-top: 0;

    font-family: Arial;
    font-size: 14px;

    line-height: normal;
}

.b-fold-list__item {
    margin-bottom: 15px;
}

.b-fold-list__item_default {
    margin-left: 20px;

    text-transform: lowercase;
}

.b-fold-list__number {
    margin-left: 10px;
}

.b-fold-list_unfolded {
    .b-fold-list__title {
        margin-bottom: 20px;

        font-weight: 600;
    }
}

.b-fold-list_folded {
    .b-fold-list__title {
        margin-bottom: 15px;

        font-weight: normal;
    }
}