@import "../i-media/i-media";

.b-favorite-link {
    display: inline-block;

    cursor: pointer;

    &:hover .b-favorite-link__link {
        color: #ff0000;
    }
}

.b-favorite-link__icon {
    margin-right: 10px;

    vertical-align: baseline;
}

.b-favorite-link__link-wrap {
    display: inline-block;
}

.b-favorite-link__link {
    display: inline-block;
}

.b-favorite-link__link_l::first-letter {
    text-transform: capitalize;
}

.b-favorite-link_not-favorite {
    .b-favorite-link__icon {
        opacity: 0.6;
    }

    &:hover .b-favorite-link__icon {
        opacity: 1;
    }

    .b-favorite-link__link-wrap_favorite {
        display: none;
    }
}

.b-favorite-link_favorite {
    .b-favorite-link__link-wrap_not-favorite {
        display: none;
    }
}

.b-favorite-link_light-theme {
    &:hover .b-favorite-link__link {
        color: #356fc4;
    }
}

@include media-s {
    .b-favorite-link_full-theme {
        .b-favorite-link__icon {
            display: none;
        }
    }
}

@include media-xxs {
    .b-favorite-link__link_l {
        display: none;
    }

    .b-favorite-link__link_s::first-letter {
        text-transform: capitalize;
    }
}
