@import "../../n-common/i-media/i-media";

.b-popular-schools__title {
    margin-bottom: 27px;

    text-transform: uppercase;
    font-family: 'Proxima';
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.8px;
}

.b-popular-schools__school {
    display: inline-block;

    width: 100%;

    white-space: normal;
    vertical-align: top;
}

.b-popular-schools__school_last {
    margin-right: 0px;
}

.b-popular-schools__school-rating {
    margin-bottom: 21px;

    font-family: 'Proxima', Arial, sans-serif;
    font-weight: 600;
    color: #000000;
}

.b-popular-schools__school-name {
    margin-bottom: 11px;

    line-height: 21px;

    font-family: 'PT Serif', serif;
    font-weight: 800;
    font-size: 16px;
}

.b-popular-schools__school-link {
    display: inline-block;

    vertical-align: top;

    width: 175px;
    margin-right: 30px;

    color: #000000;
    text-decoration: none;

    &:last-child {
        margin-right: 0;
    }
}

.b-popular-schools__school-link:hover {
  color: #FF0000;
}

.b-popular-schools__school-description {
    margin-bottom: 18px;

    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.b-popular-schools__school-link:hover .b-popular-schools__school-description {
    color: #000000;
}

.b-popular-schools__metro-icon {
    display: inline-block;

    margin-right: 7px;
}

.b-popular-schools__metro-stations {
    color: #808080;

    font: 400 13px arial, sans-serif;
}

@include media-xs {
    .b-popular-schools__title {
        margin-bottom: 20px;
    }

    .b-popular-schools__school {
        position: relative;
    }

    .b-popular-schools__school-rating {
        position: absolute;
        top: 8px;
        left: 0;
    }

    .b-popular-schools__school-information {
        box-sizing: border-box;
        width: 100%;
        padding-left: 90px;
    }
}