{namespace mel.lschools}
/**
* The manin template
*/
{template .layout}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mel</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <script src="script.js"></script>
        {call mel.lschools.bheader.Template.base/}
    </body>
    </html>
{/template}
