@import "../i-media/i-media";

.b-sm-item-list_line_show {
    .b-sm-item-list__item-wrap {
        border-bottom: 1px solid #e5e5e5;

        &:last-child {
            border-bottom: none;
        }
    }
}

.b-sm-item-list_light-theme {
    .b-sm-item-list__item-wrap {
        padding-bottom: 10px;
    }
}

.b-sm-item-list_minimal-theme {
    .b-sm-item-list__item-wrap {
        padding-bottom: 3px;
    }
}

.b-sm-item-list_line_show.b-sm-item-list_count-items_5 {
    .b-sm-item-list__item-wrap:nth-child(5n) {
        border-bottom: none;
    }
}

.b-sm-item-list_neptune-theme {
    .b-sm-item-list__item-wrap {
        margin-bottom: 55px;
        padding-top: 55px;
        border-top: 1px solid #e4e4e4;
    }
}

.b-sm-item-list_inline-theme {
    .b-sm-item-list__list {
        overflow: hidden;

        white-space: nowrap;
    }

    .b-sm-item-list__item-wrap {
        display: inline-block;

        margin-right: 30px;

        white-space: normal;
        vertical-align: top;

        &:last-child {
            margin-right: 0;
        }
    }

    &.b-sm-item-list_count-items_5 {
        .b-sm-item-list__item-wrap {
            width: calc(20% - 24px);
        }
    }

    &.b-sm-item-list_count-items_4 {
        .b-sm-item-list__item-wrap {
            width: calc(25% - 33px);
            margin-right: 44px;
        }
    }

    &.b-sm-item-list_count-items_3 {
        .b-sm-item-list__item-wrap {
            width: calc(33% - 30px);
            margin-right: 50px;
        }
    }
}


@include media-l {
    .b-sm-item-list_inline-theme {

        &.b-sm-item-list_count-items_5 {
            .b-sm-item-list__item-wrap {
                width: calc(25% - 22.5px);
            }
        }

        &.b-sm-item-list_count-items_4 {
            .b-sm-item-list__item-wrap {
                width: calc(33% - 22.5px);
                margin-right: 40px;
            }

    }
    }
}

@include media-m {
    .b-sm-item-list_inline-theme {
        &.b-sm-item-list_count-items_4 {

            .b-sm-item-list__list {
                white-space: normal;
            }

            .b-sm-item-list__item-wrap {
                width: calc(50% - 20px);
                margin-bottom: 0;

                &:nth-child(1) {
                    margin-right: 40px;
                    margin-bottom: 40px;
                }
                &:nth-child(2) {
                    margin-right: 0;
                    margin-bottom: 40px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &.b-sm-item-list_count-items_3 {
            .b-sm-item-list__item-wrap {
                width: calc(50% - 20px);
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@include media-s {
    .b-sm-item-list_inline-theme {
        &.b-sm-item-list_count-items_5 {
            .b-sm-item-list__item-wrap {
                width: calc(50% - 15px);
            }
        }
    }
}

@include media-xs {
    .b-sm-item-list_inline-theme {
        .b-sm-item-list__list {
            white-space: normal;
        }

        &.b-sm-item-list_count-items_5 {
            .b-sm-item-list__item-wrap {
                width: 100%;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.b-sm-item-list_count-items_4 {
            .b-sm-item-list__item-wrap {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;

                &:nth-child(odd) {
                    margin-right: 0px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.b-sm-item-list_count-items_3 {
            .b-sm-item-list__item-wrap {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .b-sm-item-list_neptune-theme {
        .b-sm-item-list__item-wrap {
            margin-bottom: 30px;
            padding-top: 30px;
            border-top: 1px solid #e4e4e4;
        }
    }

}

