.b-data-block {
    position: relative;

    width: 100%;
    margin-bottom: 55px;

    font-size: 14px;
}

.b-data-block__line {
    position: absolute;
    top: 8px;
    left: 0;

    width: 100%;
    height: 1px;

    background: rgba(0, 0, 0, 0.1);
}

.b-data-block__header {
    position: relative;

    display: inline-block;

    margin-bottom: 28px;
    padding-right: 20px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #fff;

    font: 800 16px Proxima, arial, sans-serif;
}

.b-data-block__item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0 !important;
    }
}

.b-data-block__content {
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
