@import "../i-media/i-media";
@import "../i-animate/i-animate";

/* header body */
.b-sm-subheader {
    z-index: auto;

    width: 100%;
    height: auto;

    background: #fff;

    font-family: 'Proxima', Arial, sans-serif;
}

.b-sm-subheader_line_bottom {
    border-bottom: 1px solid #e5e5e5;
}

.b-sm-subheader__body {
    position: relative;
    z-index: 15;

    width: 1200px;
    height: 130px;
    margin: 0 auto;
}

.b-sm-subheader__section {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 33.33%;
    height: 100%;

    vertical-align: middle;

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.b-sm-subheader__section_search {
    padding-left: 20px;
}

.b-sm-subheader__section_links {
    padding-left: 10px;
}
/* header body end */

/* logo */
.b-sm-subheader__logo {
    display: inline-block;

    vertical-align: middle;
}

.b-sm-subheader__logo-img {
    height: 42px;
}
/* logo end */

/* search */
.b-sm-subheader__search {
    width: 100%;
    height: 50px;

    vertical-align: middle;

    &.b-sm-subheader__search_visible_l {
        display: inline-block;
    }

    &.b-sm-subheader__search_visible_s {
        display: none;
    }
}


/* links */
.b-sm-subheader__search-link {
    display: inline-block;

    margin-right: 28px;

    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }
}

.b-sm-subheader__search-link-text {
    &.b-sm-subheader__search-link-text_visible_m {
        display: none;
    }

    &.b-sm-subheader__search-link-text_visible_s {
        display: none;
    }
}

.b-sm-subheader__search-link:hover .b-sm-subheader__search-link-icon {
    opacity: 0.75;
}

.b-sm-subheader__search-link:hover .b-sm-subheader__search-link-text {
    color: #ff0000;
}

.b-sm-subheader__search-link-icon {
    display: inline-block;

    margin-right: 15px;

    opacity: 0.3;
}

.b-sm-subheader__user-controls {
    display: inline-block;
}

.b-sm-subheader__user-control {
    display: inline-block;

    box-sizing: border-box;
    height: 50px;
    padding: 0 21px;

    text-align: center;
    vertical-align: middle;

    border-left: 1px solid #e5e5e5;

    &:before {
        display: inline-block;

        width: 0;
        height: 100%;

        content: '';
        vertical-align: middle;
    }
}

.b-sm-subheader__user-control_favorite {
    padding-right: 0;
}

.b-sm-subheader__authorization-content {
    display: inline-block;

    width: 30px;
    height: 30px;
}

.b-sm-subheader__favorite-content {
    display: inline-block;

    width: 30px;
    height: 30px;
}
/* links end */


@include media-xl {
    .b-sm-subheader__body {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }

    .b-sm-subheader__section_logo {
        z-index: 3;

        width: auto;
        margin-right: 40px;
        padding-right: 0;
    }

    .b-sm-subheader__section_links {
        z-index: 2;
        left: 0;

        width: auto;
        margin-right: 40px;
        padding: 0;
    }

    .b-sm-subheader__link-search {
        left: 40px;
    }

    .b-sm-subheader__logo-img {
        height: 30px;
    }
}

@include media-l {
    .b-sm-subheader__section_search {
        position: absolute;
        z-index: 1;
        right: 0;

        box-sizing: border-box;
        width: 100%;
        padding-right: 40px;
        padding-left: 500px;

        text-align: right;
    }

    .b-sm-subheader__search.b-sm-subheader__search_visible_l {
        width: 100%;
        max-width: 380px;
    }

    .b-sm-subheader__search-link-text.b-sm-subheader__search-link-text_visible_l {
        display: none;
    }

    .b-sm-subheader__search-link-text.b-sm-subheader__search-link-text_visible_m {
        display: inline-block;
    }

    .b-sm-subheader__logo {
        width: 217px;

        text-align: left;
    }
}

@include media-m {
    .b-sm-subheader {
        text-align: left;
    }

    .b-sm-subheader__body {
        height: 100px;
    }

    .b-sm-subheader__section_search {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        max-width: none;
        padding: 0;
    }

    .b-sm-subheader__section_links {
        position: absolute;

        margin-right: 0;
        padding-right: 0;
        padding-left: 314px;
    }

    .b-sm-subheader__search {
        &.b-sm-subheader__search_visible_l {
            display: none;
        }

        &.b-sm-subheader__search_visible_s {
            display: inline-block;
        }
    }

    .b-sm-subheader__wrap {
        margin-top: 12px;
    }

    /* header animation polyfill */
    .b-sm-subheader_mode_search.b-sm-subheader_animation_off {
        .b-sm-subheader__section.b-sm-subheader__section_logo,
        .b-sm-subheader__section.b-sm-subheader__section_links {
            visibility: hidden;
        }
    }

    .b-sm-subheader_mode_default.b-sm-subheader_animation_off {
        .b-sm-subheader__section.b-sm-subheader__section_logo,
        .b-sm-subheader__section.b-sm-subheader__section_links {
            visibility: visible;
        }
    }
    /* end header animation polyfill */

    /* header animation */
    .b-sm-subheader_mode_search.b-sm-subheader_animation_on {
        .b-sm-subheader__section.b-sm-subheader__section_logo,
        .b-sm-subheader__section.b-sm-subheader__section_links {
            animation-name: fadeOut;
        }
    }

    .b-sm-subheader_mode_default.b-sm-subheader_animation_on {
        .b-sm-subheader__section.b-sm-subheader__section_logo,
        .b-sm-subheader__section.b-sm-subheader__section_links {
            animation-name: fadeIn;
        }
    }
    /* header animation end */
}


@include media-xs {
    .b-sm-subheader__body {
        height: 120px;
        padding: 0 30px;
    }

    .b-sm-subheader__section {
        height: 60px;
    }

    .b-sm-subheader__section.b-sm-subheader__section_logo {
        margin: 0;
    }

    .b-sm-subheader__section.b-sm-subheader__section_links {
        position: static;

        display: block;

        width: 100%;
        margin: 0;
        padding: 0;
    }

    .b-sm-subheader__search-link {
        width: auto;
        height: auto;
        margin: 0;
    }

    .b-sm-subheader__search-link-icon {
        margin-right: 15px;
    }

    .b-sm-subheader__search-link-text {
        &.b-sm-subheader__search-link-text_visible_m {
            display: none;
        }

        &.b-sm-subheader__search-link-text_visible_s {
            display: inline-block;
        }
    }

    .b-sm-subheader__section.b-sm-subheader__section_search {
        width: 100%;

        border-bottom: 1px solid #e5e5e5;
    }

    .b-sm-subheader__search {
        &.b-sm-subheader__search_visible_s {
            padding: 0;
        }
    }

    .b-sm-subheader__user-controls {
        float: right;

        height: 100%;
        margin-right: -7px;

        &:before {
            display: inline-block;

            width: 0;
            height: 100%;

            content: '';
            vertical-align: middle;
        }
    }

    .b-sm-subheader__user-control {
        height: 30px;
        padding-left: 12px;

        &.b-sm-subheader__user-control_authorization {
            padding-right: 12px;
        }
    }

    .b-sm-subheader__user-control_authorization {
        border-left: none;
    }

    .b-sm-subheader__logo-img {
        height: 25px;
    }
}
