.g-dropdown.g-dropdown_stendhal {
    width: 100%;
    height: 100%;

    .g-dropdown__content {
        margin-top: 6px;
    }

    .g-dropdown__opener {
        width: 100%;
        height: 100%;
    }

    .g-dropdown__content {
        width: 100%;
    }
}
