body {
    margin: 0;
}

.l-school {
    text-align: center;
    font-family: 'PT Serif', Arial, sans-serif;
    color: #000000;
}

.l-school__body {
    display: inline-block;

    width: 100%;
}

.l-school__horisontal-line {
    width: 100%;
    height: 1px;
    margin: 0;

    background: rgba(0, 0, 0, 0.1);
}

.l-school__content-header {
    margin-bottom: 18px;

    font-family: 'Proxima', Arial, sans-serif;
}

.l-school__content-header-image{
    display: inline-block;;
}

.l-school__content-header-button{
    display: inline-block;
    margin-left: 10px;

}

.l-school__content-header-text {
    display: inline-block;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 800;
}

.l-school__header-dummy {
    display: inline-block;

    width:100%;
    height: 100px;
    background-color: #c80018;
}

.l-school__name{
    margin-bottom: 9px;

    text-transform: uppercase;
    letter-spacing: 1px;

    font: 900 29px/1.3 'Proxima', Arial, sans-serif;
}

.l-school__description{
    font-size: 20px;
    line-height: 1.5;
}

.l-school__description-text{
    display: inline;;
}

.l-school__description-quote{
    display: inline;

    font-style: italic;
}


.l-school__comment-dummy {
    display: inline-block;
    margin: 5px;

    width:100%;
    height: 450px;
    background-color: #c80018;
}

.l-school__ratings-dummy {
    margin: 5px;

    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}

.l-school__map-dummy {
    display: inline-block;

    width:350px;
    height: 350px;
    background-color: #c80018;
}

.l-school__information {
    padding-top: 38px;
}


.l-school__top-content {
    display: inline-block;
    margin-bottom: 32px;

    width:100%;

    text-align: left;
    font-size: 25px;
}

.l-school__container {
	font-family: 'Proxima', Arial, sans-serif;

	display: inline-block;

	margin-top: 60px;

	text-align: left;

	width: 1200px;
}

.l-school__section {
	width: 100%;
	display: inline-block;
}

.l-school__content-column {
    display: inline-block;

    width: 380px;

    vertical-align: top;
    font-size: 16px;

	margin-right: 30px;

	&.l-school__content-column_left {
		width: 350px;
		margin-right: 60px;
	}

	&.l-school__content-column_last {
		float: right;

		margin-right: 0;
	}

	&.l-school__content-column_double-width {
		width: 790px;
	}
}

.l-school__item-container {
	display: inline-block;

	width: 100%;
	margin-bottom: 58px;

	&.l-school__item-container_right {
		margin-right: 0px;
	}

	&.l-school__item-container_information {
		margin: 60px 0 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.l-school__content-comments {
    display: inline-block;
    margin-top: 24px;

    width: 100%;
    min-height: 150px;

    text-align: left;
    font-size: 0;
}

.l-school__content-block{
    margin-bottom: 36px;

    text-align: left;
}

.l-school__director-name{
}


.l-school__contacts-subtitle {
    font-weight: bold;
}

.l-school__contacts-record{
    margin-bottom: 10px;
}


.l-school__site-record {
    display: block;
    margin-bottom: 20px;

    width: 100%;
    line-height: 1.2;
}

.l-school__site-name{
    font-size: 12px;
}

.l-school__link-record{
    display: inline-block;
    margin: 0 10px 12px 0;

    font-size: 16px;
}

.l-school__link{
    text-decoration: none;
    color:#ee362c;
}

.l-school__link-image{
}

.b-bouton_feedback-opener {
    font-family: 'Proxima', Arial, sans-serif;
    font-weight: 800;
}

.l-school__footer {
    margin-bottom: 30px;
}
