@import "../i-media/i-media";

body {
    margin: 0;
}

.l-school {
    position: relative;

    margin-top: 60px;

    color: #000;
    text-align: left;

    font-family: 'PT Serif', Arial, sans-serif;
}

.l-school__body {
    display: inline-block;

    width: 100%;
}

.l-school__horisontal-line {
    width: 100%;
    height: 1px;
    margin: 0;

    background: rgba(0, 0, 0, 0.1);
}

.l-school__content-header {
    margin-bottom: 18px;

    font-family: 'Proxima', Arial, sans-serif;
}

.l-school__content-header-image{
    display: inline-block;;
}

.l-school__content-header-button{
    display: inline-block;
    margin-left: 10px;

}

.l-school__content-header-text {
    display: inline-block;

    max-width: 250px;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    font-size: 16px;
    line-height: 1.2;
    font-weight: 800;
}

.l-school__header-dummy {
    display: inline-block;

    width:100%;
    height: 100px;
    background-color: #c80018;
}

.l-school__name {
    position: relative;

    margin-bottom: 10px;

    letter-spacing: 1px;

    font: 800 29px/1.3 'Proxima', Arial, sans-serif;
}

.l-school__description {
    position: relative;

    font: 20px/30px 'PT Serif', serif;
}

.l-school__description-text {
    display: inline;
}

.l-school__description-quote {
    display: inline;

    font-style: italic;
}

.l-school__metro-stations {
    margin-bottom: 15px;

    color: #808080;

    font-size: 13px;
}

.l-school__metro-icon {
    margin-right: 8px;
}


.l-school__cleaner {
    clear: both;
}


.l-school__comment-dummy {
    display: inline-block;
    margin: 5px;

    width:100%;
    height: 450px;
    background-color: #c80018;
}

.l-school__ratings-dummy {
    margin: 5px;

    width:100%;
    height: 300px;

    display: inline-block;
    background-color: #c80018;
}

.l-school__map-dummy {
    display: inline-block;

    width:350px;
    height: 350px;
    background-color: #c80018;
}

.l-school__information {
    padding-top: 38px;
}


.l-school__top-content {
    display: inline-block;

    width: 100%;
    margin-bottom: 32px;

    text-align: left;

    font-size: 25px;
}

.l-school__container {
	font-family: 'Proxima', Arial, sans-serif;

	display: inline-block;

	margin-top: 60px;

	text-align: left;

	max-width: 1200px;
}

.l-school__section {
    display: inline-block;

	width: 100%;
}

.l-school__column {
    vertical-align: top;
    box-sizing: border-box;

    font-size: 16px;

	&.l-school__column_left {
        float: left;

		width: 350px;
	}

	&.l-school__column_right {
        width: 100%;
		padding-left: 410px;
	}
}

.l-school__item-container {
	display: inline-block;

	width: 100%;
	margin-bottom: 53px;

	&.l-school__item-container_right {
		margin-right: 0px;
	}

	&.l-school__item-container_information {
		margin: 60px 0 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.l-school__section_comments {
    display: inline-block;

    width: 100%;
    min-height: 150px;

    text-align: left;
    font-size: 0;
}

.l-school__comments-title {
    display: inline-block;

    width: 33.33%;
    padding-right: 20px;

    vertical-align: top;
    box-sizing: border-box;

    font-size: 16px;
}

.l-school__comments-content {
    display: inline-block;

    width: 66.66%;
    padding-left: 10px;

    box-sizing: border-box;
}

.l-school__comments-placeholder {
    margin: 55px 0;

    text-align: center;

    font: 16px/1.2 'PT Serif', serif;
}

.l-school__comments-placeholder-link {
    cursor: pointer;

    color: #ed635a;
}

.l-school__content-block{
    margin-bottom: 36px;

    text-align: left;
}

.l-school__director-name{
}


.l-school__contacts-subtitle {
    font-weight: bold;
}

.l-school__contacts-record{
    margin-bottom: 10px;
}


.l-school__site-record {
    display: block;
    margin-bottom: 20px;

    width: 100%;
    line-height: 1.2;
}

.l-school__site-name{
    font-size: 12px;
}

.l-school__link-record{
    display: inline-block;
    margin: 0 10px 12px 0;

    font-size: 16px;
}

.b-bouton_feedback-opener {
    font-family: 'Proxima', Arial, sans-serif;
    font-weight: 800;
}

.l-school__anchors {
    margin-top: 22px;
}

.l-school__anchor {
    display: inline-block;

    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.l-school__anchor-value {
    display: inline-block;

    margin-left: 10px;

    color: #000;
}

.l-school__link{
    margin-top: 12px;
}

.l-school__footer {
    margin-bottom: 30px;
}

.l-school__section_description {
    display: inline-block;

    width: 65%;
    width: calc(50% + 440px);
    margin: -6px -440px 60px 0;
    padding-right: 250px;

    box-sizing: border-box;

    font-size: 16px;
}

.l-school__section_feedback {
    position: relative;

    float: right;

    width: 50%;
    margin-bottom: 30px;
    padding-left: 220px;

    box-sizing: border-box;
}

.l-school__section_score {
    padding-top: 28px;
    padding-bottom: 24px;

    border-bottom: 1px solid #deded8;
    background-color: #f7f7f1;
}

.l-school__section_map {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
}

.l-school__additional-info-group {
    display: inline-block;

    width: 50%;
    padding-right: 15px;

    box-sizing: border-box;
    vertical-align: top;

    &:last-child {
        padding: 0 0 0 15px;
    }
}

.l-school__section_results {
    position: relative;

    margin-bottom: 60px;

    &:before {
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        left: -100%;

        display: block;

        content: '';
        background: #f7f6f1;
    }
}

.l-school__section_comments {
    margin-bottom: 40px;
}


.l-school__section_extra_clone {
    display: none;
}


.l-school__section_popular-schools {
    overflow: hidden;

    margin: 0 0 80px;
    padding-right: 150px;

    white-space: nowrap;
    box-sizing: border-box;
}

.l-school__popular {
    width: 16.66%;
}


@include media-xl {

}


@include media-l {
    .l-school__anchors {
        display: none;
    }

    .l-school__comments-title {
        width: 25%;
        padding-right: 22.5px;
    }

    .l-school__comments-content {
        width: 75%;
        padding-left: 7.5px;
    }

    .l-school__section_popular-schools {
        padding-right: 90px;
    }

    .l-school__popular {
        width: 25%;
    }
}

@include media-m {
    .l-school__cleaner {
        display: none;
    }

    .l-school__column.l-school__column_left {
        width: 50%;
        padding-right: 15px;
        margin-bottom: 55px;
    }

    .l-school__column.l-school__column_right {
        width: 100%;
        padding: 0;
    }

    .l-school__section_description {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    .l-school__section_feedback {
        padding-left: 15px;
    }

    .l-school__section_map {
        display: none;
    }

    .l-school__section_extra {
        display: none;
    }

    .l-school__section_extra_clone {
        display: block;

        margin-top: 30px;
    }

    .l-school__comments-title {
        margin-bottom: 9px;
    }

    .l-school__comments-title,
    .l-school__comments-content {
        width: 100%;
        padding: 0;
    }

    .l-school__content-header-text {
        max-width: none;
    }

    .l-school__section_popular-schools {
        padding-right: 60px;
    }

    .l-school__popular {
        width: 33%;
    }
}

@include media-s {
    .l-school {
        margin-top: 30px;
    }

    .l-school__name {
        margin-bottom: 13px;

        letter-spacing: 0;
        font-weight: 800;
        font-size: 22px;
    }

    .l-school__description {
        font-size: 16px;
        line-height: 22px;
    }

    .l-school__column.l-school__column_left {
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
    }

    .l-school__section_feedback {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    .l-school__link {
        margin-top: 26px;
    }

    .l-school__section_extra_clone {
        display: none;
    }

    .l-school__section_description {
        margin-bottom: 25px;
    }

    .l-school__section_score {
        overflow: hidden;

        margin-left: -40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .l-school__additional-info-group,
    .l-school__additional-info-group:last-child {
        width: 100%;
        padding: 0;
    }

    .l-school__section_popular-schools {
        margin-bottom: 0;
        padding-right: 0;

        white-space: normal;
    }

    /**
     * TODO: do it normal way
     */
    .l-school__popular {
        display: none;

        width: 100%;
        min-height: 100px;
        margin-bottom: 30px;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            display: block;
        }

        .b-popular-schools__school {
            position: relative;
        }

        .b-popular-schools__school-rating {
            position: absolute;
            top: 8px;
            left: 0;
        }

        .b-popular-schools__school-information {
            float: none;

            width: 100%;
            padding-left: 90px;

            box-sizing: border-box;
        }
    }
}
