@import '../../n-common/i-media/i-media';

.l-university {
    font-family: 'ArialMT', sans-serif;
}

.l-university__body {
    margin: 0 auto 60px;

    color: #000;

    font-family: Arial, sans-serif;
}


/** Section data **/
.l-university__section_data {
    width: 1200px;
    min-width: 255px;
    margin: 0 auto;
    padding-top: 35px;
}

.l-university__data_sketch {
    display: inline-block;

    width: 208px;
    margin-right: 102px;
    margin-bottom: 35px;

    vertical-align: top;
}

.l-university__data_main-description {
    position: relative;

    display: inline-block;

    width: calc(100% - 310px);
    margin-bottom: 25px;

    vertical-align: top;
}

.l-university__main-description {
    width: calc(100% - 375px);
}

.l-university__description-list {
    width: calc(100% - 375px);
}

.l-university__summary-board {
    position: absolute;
    top: 0;
    right: 0;

    width: 315px;
    margin-bottom: 50px;
}

.l-university__type {
    color: #747474;

    font-size: 15px;
    line-height: 22px;
}

.l-university__name {
    margin-bottom: 12px;

    font-family: 'Proxima', Arial, sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
}

.l-university__description {
    margin-bottom: 25px;

    color: #747474;

    font-size: 15px;
    line-height: 22px;
}


@include media-xl {
    .l-university__section_data {
        box-sizing: border-box;
        width: auto;
        padding-right: 40px;
        padding-left: 40px;
    }
}


@include media-m {
    .l-university__data_main-description {
        width: 100%;
    }

    .l-university__data_sketch {
        width: 100%;
        margin-right: 0;
    }

    .l-university__main-description {
        width: calc(100% - 355px);
    }

    .l-university__description-list {
        width: calc(100% - 355px);
    }
}


@include media-xs {
    .l-university__section_data {
        padding-right: 30px;
        padding-left: 30px;
    }

    .l-university__main-description {
        width: 100%;
    }

    .l-university__description-list {
        width: 100%;
    }

    .l-university__summary-board {
        position: relative;

        width: 100%;
    }
}
