@import '../../n-common/i-media/i-media';

.l-university {
    font-family: Arial, sans-serif;
}

.l-university__body {
    margin: 0 auto 45px;

    color: #000;
}


/** Section data **/
.l-university__section_data {
    width: 1200px;
    min-width: 255px;
    min-height: 817px;
    margin: 0 auto 80px auto;
    padding-top: 35px;
}

.l-university__data_sketch {
    display: inline-block;

    width: 208px;
    margin-right: 102px;
    margin-bottom: 35px;

    vertical-align: top;
}

.l-university__data_main-description {
    position: relative;

    display: inline-block;

    width: calc(100% - 310px);

    vertical-align: top;
}

.l-university__main-description {
    width: calc(100% - 375px);
}

.l-university__description-list {
    width: calc(100% - 375px);
    margin-bottom: 30px;
}

.l-university__board-wrap {
    position: absolute;
    top: 0;
    right: 0;

    width: 315px;
}

.l-university__summary-board {
    margin-bottom: 30px;
}

.l-university__type {
    color: #747474;

    font-size: 15px;
    line-height: 22px;
}

.l-university__name {
    margin-bottom: 12px;

    font-family: 'Proxima', Arial, sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
}

.l-university__description {
    margin-bottom: 25px;

    color: #747474;

    font-size: 15px;
    line-height: 22px;
}

.l-university__description_cut {
    display: none;

    margin-bottom: 25px;

    color: #747474;

    font-size: 15px;
    line-height: 22px;
}

.l-university__banner {
    height: 228px;
}

.l-university__banner_size_xs {
    display: none;
}

.l-university__entity-relation {
    width: 208px;
    height: 21px;
    padding-bottom: 23px;
}

.l-university__section_programs {
    width: 100%;
    background-color: #f3f3f3;
}

.l-university__similar-programs-content{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 57px 0;
}

.l-university__similar-programs-header {
    padding-bottom: 35px;
    font-family: 'Proxima', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.l-university__section_courses {
    width: 1200px;
    min-width: 255px;
    margin: 0 auto;
}

.l-university__useful-courses-content {
    padding-top: 46px;
}

.l-university__useful-courses-header {
    padding-bottom: 25px;
    line-height: 29px;
    font-family: 'Proxima', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.l-university__section_comments {
    margin-bottom: 100px;
}

.l-university__navigation-panel {
    width: calc(100% - 375px);
    padding-bottom: 25px;
}

.l-university__subscribe-board {
    width: calc(100% - 375px);
    margin-bottom: 80px;
}


@include media-xl {
    .l-university__section_data {
        width: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    .l-university__section_programs {
        width: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    .l-university__section_courses {
        width: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    .l-university__similar-programs-content{
        padding-top: 45px;
    }
}


@include media-l {
    .l-university__similar-programs-header {
        padding-bottom: 40px;
    }

    .l-university__section_data {
        min-height: 975px;
    }

    .l-university__data_main-description {
        width: 100%;
    }

    .l-university__data_sketch {
        width: 100%;
        margin-right: 0;
    }

    .l-university__main-description {
        width: calc(100% - 355px);
    }

    .l-university__description-list {
        width: calc(100% - 355px);
    }

    .l-university__body {
        min-height: 1175px;
    }

    .l-university__entity-relation {
        display: none;
    }

    .l-university__useful-courses-content {
        padding-top: 40px;
    }

    .l-university__navigation-panel {
        width: 100%;
        padding-bottom: 25px;
    }

    .l-university__board-wrap {
        margin-top: 45px;
    }

    .l-university__subscribe-board {
        width: calc(100% - 355px);
    }
}


@include media-s {
    .l-university__similar-programs-content{
        padding-bottom: 40px;
    }

    .l-university__similar-programs-header {
        padding-bottom: 37px;
    }
}


@include media-xs {
    .l-university__body {
        margin-bottom: 30px;
    }

    .l-university__section_data {
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 30px;
    }

    .l-university__section_programs {
        padding-right: 25px;
        padding-left: 25px;
    }

    .l-university__section_courses {
        padding-right: 25px;
        padding-left: 25px;
    }

    .l-university__main-description {
        width: 100%;
    }

    .l-university__description-list {
        width: 100%;
    }

    .l-university__board-wrap {
        position: relative;

        width: 100%;
    }

    .l-university__description {
        display: none;
    }

    .l-university__description_cut {
        display: block;
    }

    .l-university__banner {
        display: none;
    }

    .l-university__banner_size_xs {
        position: relative;
        left: -25px;

        display: block;

        width: calc(100% + 50px);
        margin-bottom: 30px;
    }

    .l-university__entity-relation {
        display: block;
        padding-bottom: 20px;
    }

    .l-university__similar-programs-content{
        padding-top: 37px;
        padding-bottom: 30px;
    }

    .l-university__similar-programs-header {
        padding-bottom: px;
    }

    .l-university__useful-courses-content {
        padding-top: 30px;
    }

    .l-university__useful-courses-header {
        padding-bottom: 5px;
    }

    .l-university__navigation-panel {
        display: none;
    }

    .l-university__subscribe-board {
        width: 100%;
    }
}
