@import "../i-media/i-media";

/* layout */
.b-search {
    position: relative;
}

.b-search__fader {
    position: fixed;
    z-index: 10;
    top: 120px;
    left: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
}
.b-search__body {
    position: relative;

    width: 100%;
    height: 100%;
}

.b-search__bg {
    position: absolute;

    visibility: hidden;

    width: 100%;
    height: 100%;

    background-color: #fff;
}
/* layout  end*/

/* controls */
.b-search__control {
    position: absolute;
    top: 50%;
    right: 0;

    margin-top: -9px;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;

    &.b-search__control_clear {
        visibility: hidden;
    }
}

.b-search__open-button-holder {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
}
/* controls end */

/* suggest */
.b-search__suggest {
    position: initial;

    display: block;

    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;

    border: 1px solid #dbdbd4;
    background-color: #ffffff;
    box-shadow: inset 0 1px 6px #dbdbd4;
}
/* suggest end*/

/* list items in suggest */
.b-search__list-name {
    margin-right: 7px;
}

.b-search__list-area {
    color: #999999;
}

.b-search__list_hidden {
    display: none;
}

.b-search__item {
    position: relative;

    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    padding: 0 24px;

    vertical-align: middle;
    text-overflow: ellipsis;

    line-height: 17px;
}

.b-search__item-icon {
    position: absolute;
    top: 50%;
    left: 1px;
}

.b-search__item_type_schools
.b-search__item-icon {
    top: 0;

    margin-top: -4px;
}

.b-search__item_type_metro
.b-search__item-icon {
    margin-top: -4px;
    margin-left: -1px;
}

.b-search__item_type_areas
.b-search__item-icon {
    margin-top: -7px;
}

.b-search_theme_main {
    box-sizing: border-box;

    .b-search__suggest {
        padding-right: 30px;
        padding-left: 12px;
    }
}
/* list items in suggest end*/

.b-search_theme_min {
    .b-search__suggest-holder {
        height: 100%;
    }

    .b-search__control {
        right: 20px;
    }
}

.b-search_theme_foldable {
    height: 100%;
    .b-search__body {
        z-index: 15;
    }

    .b-search__suggest-holder {
        visibility: hidden;
    }

    .b-search__suggest {
        position: absolute;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 0 31px 0 53px;

        background: none;
    }
}

.b-search_height_s {
    .b-search__suggest {
        height: 40px;
        padding-right: 31px;
        padding-left: 5px;
    }
}

.b-search_height_m {
    .b-search__suggest {
        height: 45px;
    }
}

.b-search_height_l {
    .b-search__suggest {
        height: 50px;
    }
}

.b-search_height_xxl {
    .b-search__suggest {
        height: 100%;
    }
}

/* animation polyfill */
.b-search_mode_search.b-search_animation_off {
    .b-search__control {
        &.b-search__control_search {
            right: auto;
            left: 0;
        }

        &.b-search__control_clear {
            visibility: visible;
        }
    }

    .b-search__bg,
    .b-search__suggest-holder,
    .b-search__fader {
        visibility: visible;
    }
}

.b-search_mode_default.b-search_animation_off {
    .b-search__control {
        &.b-search__control_clear {
            visibility: hidden;
        }
    }

    .b-search__bg,
    .b-search__suggest-holder,
    .b-search__fader {
        visibility: hidden;
    }
}
/* end animation polyfill */

/* animations begin */
.b-search_mode_search.b-search_animation_on {
    .b-search__control {
        &.b-search__control_search {
            right: auto;
            left: 0;
        }

        &.b-search__control_clear {
            animation-name: zoomIn;
        }
    }

    .b-search__open-button-holder {
        animation-name: slideInRight;
    }

    .b-search__bg,
    .b-search__suggest-holder,
    .b-search__fader {
        animation-name: fadeIn;
    }
}

.b-search_mode_default.b-search_animation_on {
    .b-search__open-button-holder {
        animation-name: slideInLeft;
    }

    .b-search__control {
        &.b-search__control_clear {
            animation-name: zoomOut;
        }
    }

    .b-search__bg,
    .b-search__suggest-holder,
    .b-search__fader {
        animation-name: fadeOut;
    }
}
/* animations end */
@include media-xl {
    .b-search__control {
        right: 30px;
    }

    .b-search_mode_search.b-search_animation_off {
        .b-search__control {
            &.b-search__control_search {
                left: 30px;
            }
        }
    }

    .b-search_mode_search.b-search_animation_on {
        .b-search__control {
            &.b-search__control_search {
                left: 30px;
            }

            &.b-search__control_clear {
                animation-name: zoomIn;
            }
        }
    }
}

@include media-m {
    .b-search_theme_min,
    .b-search_theme_foldable {

        .b-search__item {
            padding: 0 60px;

            border-top: 1px solid #e5e5e5;

            line-height: 70px;
        }

        .b-search__item-icon {
            left: 31px;
        }
    }

    .b-search_theme_main {
        .b-search__item {
            padding: 0 60px;

            border-top: 1px solid #e5e5e5;

            line-height: 70px;
        }

        .b-search__item-icon {
            left: 31px;
        }
    }
}

@include media-s {
    .b-search_theme_min,
    .b-search_theme_foldable{
        .b-search__item {
            line-height: 50px;
        }
    }

    .b-search__fader {
        top: 50px;
    }

    .b-search_theme_main {
        .b-search__item {
            line-height: 50px;
        }
    }
}
