.b-search {
    position: relative;
}

.b-search_theme_main {
    background-color: #ffffff;
}

.b-search__input {
    box-sizing: border-box;
    width: 100%;

    border-color: transparent;
    outline: 0;

    font-size: 15px;
}

.b-search ul {
    width: 100%;
}

.b-search li {
    text-overflow: ellipsis;
    overflow: hidden;
}

.b-search__icon {
    position: absolute;
    z-index: 2;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: left;
}

.b-search_theme_main .b-search__input {
    height: 100%;

    box-shadow: none;
}

.b-search_theme_main .b-search__icon {
    bottom: 20px;
    right: 18px;

    cursor: pointer;
}

.b-search_theme_min .b-search__input {
    height: 100%;

    background-color: transparent;

    box-shadow: none;
}

.b-search_theme_min .b-search__icon {
    bottom: 8px;
    right: 8px;

    /*width: 20px;
    height: 20px;

    background: url(images/b-search/search.png);*/
}

.b-search__list {
    position: absolute;
    left: 68px;

    line-height: 19px;
}

.b-search__list-name {
    margin-right: 7px;
}

.b-search__list-area {
    color: #999999;
}

.b-search__list_hidden {
    display: none;
}

.g-suggest {
    position: initial;
    display: block;
}

.b-search_theme_min .g-suggest {
    height: 30px;
    padding-right: 31px;
    padding-left: 5px;
}

.b-search_theme_main .g-suggest {
    height: 47px;
    padding-right: 50px;
    padding-left: 20px;
}
