.b-search {
    position: relative;
}

.b-search__input {
    box-sizing: border-box;
    width: 100%;

    border-color: transparent;
    outline: 0;

    font-size: 15px;
}

.b-search__icon {
    position: absolute;

    background-repeat: no-repeat;
    background-position: left;
}

.b-search_theme_main .b-search__input {
    height: 47px;
    padding-right: 50px;
    padding-left: 20px;
}

.b-search_theme_main .b-search__icon {
  bottom: 20px;
  right: 18px;

  width: 10px;
  height: 7px;

  cursor: pointer;

  background: url(images/l-search/arrow.png);
}

.b-search_theme_min .b-search__input {
    height: 60px;
    padding-left: 67px;
    background-color: #f4f4ec;
}

.b-search_theme_min .b-search__icon {
    bottom: 22px;
    left: 30px;

    width: 20px;
    height: 20px;

    background: url(images/b-search/search.png);
}
