@import "../i-media/i-media";

.b-search {
    position: relative;
}

.b-search_theme_main {
    box-sizing: border-box;

    border: 1px solid #dbdbd4;
    background-color: #ffffff;
    box-shadow: inset 0 1px 6px #dbdbd4;
}

.b-search__input {
    box-sizing: border-box;
    width: 100%;

    border-color: transparent;
    outline: 0;
    background-color: transparent;

    font-size: 15px;
}

.b-search ul {
    width: 100%;
}

.b-search li {
    overflow: hidden;

    text-overflow: ellipsis;
}

.b-search__icon {
    position: absolute;
    z-index: 2;

    cursor: pointer;

    background-repeat: no-repeat;
}

.b-search_theme_main .b-search__input {
    height: auto;
    margin-top: 7px;

    box-shadow: none;
}

.b-search_theme_main .b-search__icon {
    bottom: 20px;
    right: 18px;

    cursor: pointer;
}

.b-search_theme_min {
    height: 30px;
}

.b-search_theme_min .b-search__input {
    height: auto;

    background-color: transparent;
    box-shadow: none;
    border: none;
}

.b-search_theme_min .b-search__icon {
    bottom: 7px;
    right: 7px;
}

.b-search__icon_disabled {
    opacity: 0.3;

    cursor: default;
}



.b-search__list-name {
    margin-right: 7px;
}

.b-search__list-area {
    color: #999999;
}

.b-search__list_hidden {
    display: none;
}

.b-search__suggest {
    position: initial;
    display: block;
}

.b-search_theme_min .b-search__suggest {
    width: 100%;
    height: 100%;
    padding-right: 31px;
    padding-left: 5px;

    box-sizing: border-box;
}

.b-search_theme_main .b-search__suggest {
    height: 45px;
    padding-right: 30px;
    padding-left: 12px;
}

.b-search__item {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 100%;
    padding: 0 24px;

    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;

    line-height: 17px;
}

.b-search__item-icon {
    position: absolute;
    left: 1px;
    top: 50%;
}

.b-search__item_type_schools
.b-search__item-icon {
    top: 0;

    margin-top: -4px;
}

.b-search__item_type_metro
.b-search__item-icon {
    margin-top: -4px;
    margin-left: -1px;
}

.b-search__item_type_areas
.b-search__item-icon {
    margin-top: -7px;
}


@include media-m {
    .b-search_theme_min {
        /* TODO: clean up */
        .b-search__suggest {
            position: absolute;
            left: 0;

            padding-left: 53px;
        }

        .b-search__item {
            border-top: 1px solid #e5e5e5;

            line-height: 70px;
        }

        .b-search__item-icon {
            left: 31px;
        }

        .b-search__item {
            padding: 0 60px;
        }

        .b-search__icon {
            display: none;
        }

        .b-list.b-list_stendhal-theme,
        .b-list.b-list_stendhal-theme .b-list__item {
            padding: 0;

            box-shadow: none;
            border: none;
            border-radius: 0;
        }

        .b-input__input_size_medium {
            font-size: 14px;
        }
        /* clean up end */
    }
}


@include media-s {
    .b-search_theme_min {
        /* TODO: clean up */
        .b-search__item {
            line-height: 55px;
        }
        /* clean up end */
    }
}
