.b-search {
    position: relative;
}

.b-search_theme_main {
    background-color: #ffffff;
}

.b-search__input {
    box-sizing: border-box;
    width: 100%;

    border-color: transparent;
    outline: 0;

    font-size: 15px;
}

.b-search__icon {
    position: absolute;

    background-repeat: no-repeat;
    background-position: left;
}

.b-search_theme_main .b-search__input {
    height: 100%;

    box-shadow: none;
}

.b-search_theme_main .b-search__icon {
    bottom: 20px;
    right: 18px;

    cursor: pointer;
}

.b-search_theme_min .b-search__input {
    height: 100%;

    background-color: transparent;

    box-shadow: none;
}

.b-search_theme_min .b-search__icon {
    bottom: 22px;
    left: 30px;

    /*width: 20px;
    height: 20px;

    background: url(images/b-search/search.png);*/
}

.b-search__list {
    position: absolute;
    left: 68px;

    line-height: 19px;
}

.b-search__list_hidden {
    display: none;
}

.g-suggest {
    position: initial;
    display: block;
}

.b-search_theme_min .g-suggest {
    height: 60px;
    padding-left: 67px;
    background-color: #f4f4ec;
}

.b-search_theme_main .g-suggest {
    height: 47px;
    padding-right: 50px;
    padding-left: 20px;
}
