@import "../../../n-common/i-media/i-media";

.b-schools-footer {
    position: relative;

    box-sizing: border-box;
    width:100%;
    padding: 25px 0 25px;

    text-align: left;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    font-family: Arial, sans-serif;
    font-size: 13px;
}

.b-schools-footer__section_copyright {
    position: absolute;
    top: 27px;
}

.b-schools-footer__section_links {
    margin-left: 105px;
}

.b-schools-footer__links_seo {
    margin-bottom: 12px;
}

.b-schools-footer__link {
    display: inline-block;
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}

@include media-xs {
    .b-schools-footer {
        padding-bottom: 10px;
    }

    .b-schools-footer__section_copyright {
        position: static;
        
        margin-bottom: 15px;
    }

    .b-schools-footer__section_links {
        margin-left: 0;
    }

    .b-schools-footer__link {
        margin-bottom: 12px;
    }
}

@include media-xxs {
    .b-schools-footer {
        padding: 30px 0 20px;
    }
}
