@import "../i-media/i-media";

.b-search-panel {
    height: 155px;

    background-color: #f4f4ec;
}

.b-search-panel__content-wrap {
    position: relative;

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.b-search-panel__header {
    display: inline-block;

    box-sizing: border-box;
    width: 16.67%;
    margin-top: 14px;
    padding-right: 20px;

    vertical-align: top;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    font: 16px 'Proxima', Arial, sans-serif;
    font-weight: 800;
}

.b-search-panel__field-wrap {
    display: inline-block;

    box-sizing: border-box;
    width: 83.33%;
    padding-right: 307px;
    padding-left: 10px;
}

.b-search-panel__field {
    margin-bottom: 14px;
}

.b-search-panel__links {
    overflow: hidden;

    height: 18px;
}

.b-search-panel__link {
    display: inline-block;

    margin-right: 18px;

    &:last-child {
        margin-right: 0;
    }
}

.b-search-panel__button-wrap {
    position: absolute;
    right: 0;
    top: 40px;

    width: 277px;

    text-align: center;
    vertical-align: top;
}

.b-search-panel__button {
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    margin-bottom: 14px;
    padding-top: 12px;

    cursor: pointer;
    text-align: center;

    color: #000000;
    border: 4px solid;
}

.b-search-panel__button-text {
    text-transform: uppercase;
    letter-spacing: 1px;

    font-family: proxima;
    font-size: 16px;
    font-weight: 800;
    line-height: 1em;
}

.b-search-panel_two-columns-theme {
    .b-search-panel__field-wrap {
        width: 66.66%;
        padding-right: 10px;
        padding-left: 0;
    }

    .b-search-panel__button-wrap {
        box-sizing: border-box;
        width: 33.33%;

        padding-left: 20px;
    }
}


@media screen and (max-width: 1280px) // for desktop and tablet
{
    .b-search-panel__content-wrap {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) // for desktop and tablet
{
    .b-search-panel__content {
        display: inline-block;

        box-sizing: border-box;
        width: 100%;
        padding-right: 307px;
    }

    .b-search-panel__header {
        width: 33.33%;
    }

    .b-search-panel__field-wrap {
        width: 66.66%;
        padding-right: 0;
    }

    .b-search-panel_two-columns-theme {
        .b-search-panel__content {
            padding-right: 0;
        }

        .b-search-panel__field-wrap {
            width: 66.66%;
            padding-right: 10px;
            padding-left: 0;
        }

        .b-search-panel__button-wrap {
            box-sizing: border-box;
            width: 33.33%;

            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 1000px) // for desktop and tablet
{
    .b-search-panel__content {
        width: 66.66%;
        padding-right: 10px;
    }

    .b-search-panel__field-wrap {
        width: 100%;
        padding: 0;
    }

    .b-search-panel__header {
        display: none;
    }

    .b-search-panel__button-wrap {
        display: inline-block;

        box-sizing: border-box;
        width: 33.33%;
        padding-left: 20px;
    }

    .b-search-panel_two-columns-theme {
        .b-search-panel__content {
            width: 100%;
            padding-right: 0;
        }
    }
}

@media screen and (max-device-width: 600px) // for phone
and (orientation: portrait),
screen and (max-width: 600px) // for desktop
{
    .b-search-panel__content {
        width: 100%;
        padding-right: 0;
    }

    .b-search-panel__button-wrap {
        display: none;
    }

    .b-search-panel_two-columns-theme {
        .b-search-panel__field-wrap {
            width: 100%;
        }
    }
}

@include media-xl {
    .b-search-panel {
        box-sizing: border-box;
        padding: 0 40px;
    }
}

@include media-xs {
    .b-search-panel {
        padding: 0 30px;
    }
}
