@import "../../../n-common/i-media/i-media";

.g-dropdown.g-dropdown_list-links {
    .g-dropdown__opener-text {
        display: inline-block;
    }

    .g-dropdown__opener-content {
        padding: 10px 15px;

        text-align: right;
    }

    .g-dropdown__opener-icon {
        display: inline-block;

        margin-left: 10px;

        opacity: 0.4;
    }

    .g-dropdown__opener:hover .g-dropdown__opener-icon {
        opacity: 1;
    }

    .g-dropdown__content {
        width: 202px;
        margin-top: 17px;
    }
}

.g-dropdown.g-dropdown_minimal-theme {
    .g-dropdown__opener-content {
        padding: 0;
    }

    .g-dropdown__content {
        right: 0;
        left: auto;
        float: right;

        width: auto;
        margin-top: 14px;
    }
}

@include media-xs {
    .g-dropdown.g-dropdown_list-links {
        position: static;

        .g-dropdown__opener-content {
            padding-left: 0;
        }

        .g-dropdown__content {
            position: absolute;
            top: 117px;
            left: 0;

            width: 100%
        }
    }

    .g-dropdown.g-dropdown_minimal-theme {
        .g-dropdown__content {
            top: 0;
            right: 0;
            left: auto;
            float: right;

            width: auto;
            margin-top: 30px;
        }
    }
}
