@import "../../../n-common/i-media/i-media";

.g-dropdown.g-dropdown_list-links {
    .g-dropdown__opener-content {
        padding: 10px 15px;

        text-align: right;
    }

    .g-dropdown__opener-icon {
        margin-left: 10px;

        opacity: 0.4;
    }

    .g-dropdown__opener:hover .g-dropdown__opener-icon {
        opacity: 1;
    }

    .g-dropdown__content {
        width: 202px;
        margin-top: 17px;
    }
}

.g-dropdown.g-dropdown_list-links.g-dropdown_dense-theme {
    position: static;

    .g-dropdown__opener {
        display: block;

        text-align: right;
    }

    .g-dropdown__opener-content {
        padding: 0 0 0 18px;

        background-color: #fff;
    }

    .g-dropdown__content {
        position: relative;

        float: right;

        width: auto;
        margin-top: 14px;
    }
}

@include media-xs {
    .g-dropdown.g-dropdown_list-links {
        position: static;

        .g-dropdown__opener-content {
            padding-left: 0;
        }

        .g-dropdown__content {
            top: 176px;
            left: 0;

            width: 100%
        }
    }

    .g-dropdown.g-dropdown_list-links.g-dropdown_dense-theme {
        .g-dropdown__opener-content {
            padding-left: 18px;
        }

        .g-dropdown__text_main {
            display: none;
        }

        .g-dropdown__text_changing {
            &:first-letter {
                text-transform: capitalize;
            }
        }

        .g-dropdown__content {
            position: relative;
            top: 0;
            left: auto;

            width: auto;
        }
    }
}
