.b-sm-tab-select__link{
    font-family: ArialMT, Arial;
    font-size: 17px;
    margin-right: 30px;
    padding: 14px 0;
    color: #747474;
}

.b-sm-tab-select__selected-link{
    color: #000000;
    border-bottom: 4px #007aff solid;
}