{namespace sm.bLink.Template}

/**
 * Link
 * @param params {
 *    data: [
 *        name: ?string,
 *        url: ?string
 *    ]
 * }
 */

{template .base autoescape="strict" kind="html"}
<a href="{$params.data.url}" class="b-link">{$params.data.name}</a>
{/template}