.b-link {
    display: inline-block;

    color: #356fc4;

    text-decoration: none;
    cursor: pointer;

    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.b-link_attention {
    color: #ff0000;
}

.b-link_font_default {
    font-family: inherit;
    font-size: inherit;
}

.b-link:hover {
    color: #ff0000;
}

.b-link_small {
    font-size: 12px;
}

.b-link_medium {
    font-size: 13px;
}

.b-link_large {
    font-size: 14px;
}
