.b-link {
    display: inline-block;

    color: #356fc4;

    text-decoration: none;
    cursor: pointer;

    font: 13px Arial, sans-serif;
    line-height: 18px;
}

.b-link__attention {
    color: #ee362c;
}