.b-article-links__header {
    margin-bottom: 25px;

    letter-spacing: 0.8px;
    text-transform: uppercase;

    font: 16px 'Proxima', Arial, sans-serif;
    font-weight: 800;
}

.b-article-links__second-article {
    display: none;
}