.b-comment {
    display: inline-block;

    width: 100%;
    margin: 0 0 23px 0;
    padding: 0 0 23px 0;

    border-bottom: 1px solid #e5e5e5;
    background-color: white;

    &:last-child {
        margin-bottom: 0;

        border-bottom: none;
    }
}

.b-comment__header {
    display: inline-block;

    width: 100%;
	margin: 0 0 10px 0;

    color: grey;

    font-size: 12px;
    line-height: 19px;
}

.b-comment__rating-group {
    display: inline-block;

    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.b-comment__wrap {
    display: inline-block;

    width: 100%;
    margin: 0 0 9px 0;

    word-wrap: break-word;
}

.b-comment__paragraph {
    margin-bottom: 10px;

    &.b-comment__paragraph_last {
        display: inline;

        margin-right: 5px;
        margin-bottom: 0;
    }
}

.b-comment__text {
    white-space: pre-line;
}

.b-comment__footer {
    position: relative;

    color: #808080;

    font-family: 'Arial', sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.b-comment__score {
    display: inline-block;
}

.b-comment__user-information {
    display: inline-block;

    margin-right: 33px;
}

.b-comment__user-avatar{
    display: inline-block;

    margin-top: -3px;
    margin-right: 5px;

    vertical-align: middle;
}

.b-comment__header-section{
    display: inline-block;

    margin-right: 30px;

    background-color: white;

    &:last-child {
        margin: 0;
    }
}

.b-comment__header-section-name{
    display: inline-block;

    margin: 0 10px 0 0;

    text-align: left;

    color: rgb(154, 154, 154);

    font-size: 12px;
    font-weight: normal;
}

.b-comment__stars-rating {
    display: inline-block;

    text-align: left;

    font-size: 14px;
}
