.b-comment {
    display: inline-block;

    width: 100%;
    margin: 0 0 23px 0;
    padding: 0 0 23px 0;

    border-bottom: 1px solid #e5e5e5;

    background-color: white;

    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.b-comment__header {
    display: inline-block;

    width: 100%;
	margin: 0 0 10px 0;

    font-size: 12px;
    line-height: 19px;
    color: grey;
}

.b-comment__rating-group {
    display: inline-block;

    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.b-comment__wrap {
    display: inline-block;

    width: 100%;
    margin: 0 0 9px 0;

    word-wrap: break-word;
}

.b-comment__paragraph {
    margin-bottom: 10px;

    &.b-comment__paragraph_last {
        display: inline;

        margin-right: 5px;
        margin-bottom: 0;
    }
}

.b-comment__text {
    white-space: pre-line;
}

.b-comment__text_hidden {
    display: none;
}

.b-comment__footer {
    font-size: 0;
}

.b-comment__author{
    display: inline-block;

    vertical-align: bottom;

    font-size: 12px;
    line-height: 20px;
    font-family: 'Arial', sans-serif;

    color: #9a9a9a;
}

.b-comment__avatar{
    display: inline-block;

    vertical-align: middle;
    margin-right: 5px;
}

.b-comment__spoiler_hidden{
    display: none;
}

.b-comment__header-section{
    display: inline-block;

    margin-right: 30px;

    background-color: white;

    &:last-child {
        margin: 0;
    }
}

.b-comment__header-section-name{
    display: inline-block;

    margin: 0 10px 0 0;

    text-align: left;
    color: rgb(154, 154, 154);

    font-weight: normal;
    font-size: 12px;
}

.b-comment__stars-rating {
    display: inline-block;

    text-align: left;
    font-size: 14px;
}
