.g-icon.g-icon_stendhal.g-icon_img_close-balloon {
    display: block;
}

.g-icon.g-icon_stendhal.g-icon_img_metro {
    width: 11px;
    height: 8px;

    vertical-align: baseline;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_metro.svg);
    background-size: contain;
}

.g-icon.g-icon_stendhal.g-icon_img_list {
    width: 13px;
    height: 13px;

    vertical-align: baseline;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_list.svg);
    background-size: contain;
}

.g-icon.g-icon_stendhal.g-icon_img_catalog {
    width: 56px;
    height: 56px;

    vertical-align: baseline;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_catalog.svg);
    background-size: contain;
}

.g-icon.g-icon_stendhal.g-icon_img_user {
    width: 13px;
    height: 13px;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_user.svg);
    background-size: contain;
}

.g-icon.g-icon_stendhal.g-icon_img_favorite {
    width: 12px;
    height: 12px;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_favorite.svg);
    background-size: contain;
}

.g-icon.g-icon_stendhal.g-icon_img_test {
    height: auto;
    width: auto;

    vertical-align: baseline;

    &:before {
        content: 't';
        cursor: default;
        color: #ee362c;

        font-family: "WebSymbols", Arial, sans-serif;
    }
}
