@import "../../n-common/i-media/i-media";

.g-icon_stendhal.g-icon_img_close-balloon {
    display: block;
}

.g-icon_stendhal.g-icon_img_location {
    vertical-align: text-bottom;
}

.g-icon_stendhal.g-icon_img_test {
    width: auto;
    height: auto;

    vertical-align: baseline;

    &:before {
        content: 't';
        cursor: default;

        color: #ee362c;

        font-family: "WebSymbols", Arial, sans-serif;
    }
}
