.g-icon_stendhal.g-icon_img_close-balloon {
    display: block;
}


.g-icon_stendhal.g-icon_img_location {
    vertical-align: text-bottom;
}

.g-icon_stendhal.g-icon_img_metro {
    width: 11px;
    height: 8px;

    vertical-align: baseline;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_metro.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.g-icon_stendhal.g-icon_img_list {
    width: 13px;
    height: 13px;

    vertical-align: baseline;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_list.svg);
    background-size: contain;
}

.g-icon_stendhal.g-icon_img_catalog {
    width: 56px;
    height: 56px;

    vertical-align: baseline;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_catalog.svg);
    background-size: contain;
}

.g-icon_stendhal.g-icon_img_user {
    width: 13px;
    height: 13px;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_user.svg);
    background-size: contain;
}

.g-icon_stendhal.g-icon_img_favorite {
    width: 13px;
    height: 13px;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_favorite.svg);
    background-size: contain;
}

.g-icon_stendhal.g-icon_img_favorite_red {
    width: 13px;
    height: 13px;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_favorite_red.svg);
    background-size: contain;
}

.g-icon_stendhal.g-icon_img_favorite_dark_red {
    width: 13px;
    height: 13px;

    background-image: url(/images/n-clobl/g-icon/g-icon_img/g-icon_img_favorite_dark_red.svg);
    background-size: contain;
}

.g-icon_stendhal.g-icon_img_test {
    height: auto;
    width: auto;

    vertical-align: baseline;

    &:before {
        content: 't';
        cursor: default;
        color: #ee362c;

        font-family: "WebSymbols", Arial, sans-serif;
    }
}

.g-icon_stendhal.g-icon_img_favorite.g-icon_img_size_l {
    width: 15px;
    height: 15px;
}

.g-icon_stendhal.g-icon_img_favorite_red.g-icon_img_size_l {
    width: 15px;
    height: 15px;
}

.g-icon_stendhal.g-icon_img_favorite_dark_red.g-icon_img_size_l {
    width: 15px;
    height: 15px;
}

.g-icon_stendhal.g-icon_img_favorite.g-icon_img_size_xs {
    width: 9px;
    height: 9px;
}

.g-icon_stendhal.g-icon_img_favorite_red.g-icon_img_size_xs {
    width: 9px;
    height: 9px;
}

.g-icon_stendhal.g-icon_img_favorite_dark_red.g-icon_img_size_xs {
    width: 9px;
    height: 9px;
}
