@mixin media-xs {
    @media screen and (max-width: 350px) {
        @content;
    }
}


@mixin media-s {
    @media screen and (max-width: 790px) {
        @content;
    }
}


@mixin media-m {
    @media screen and (max-width: 980px) {
        @content;
    }
}


@mixin media-l {
    @media screen and (max-width: 1100px) {
        @content;
    }
}


@mixin media-xl {
    @media screen and (max-width: 1280px) {
        @content;
    }
}
