@import "../../n-common/i-media/i-media";

.l-search_university {
    .l-search__left-menu {
        width: 315px;
        margin-right: 0;

        background-color: #fff;
    }

    .l-search__search-results-wrap {
        padding-left: 360px;
    }
}


@include media-m {
    .l-search_university {
        .l-search__left-menu {
            width: 100%;
        }

        .l-search__search-results-wrap {
            padding: 0 30px;
        }
    }
}

@include media-xs {
    .l-search_university {
        .l-search__search-results-wrap {
            padding: 0 24px;
        }
    }
}
