{namespace sm.lDoc.nDemo.bBlockSort.Template}

/**
* preview
*/
{template .preview}
    {call sm.lSearchResult.bSort.Template.base /}
{/template}

/**
* doc
*/
{template .doc}
    {call sm.lSearchResult.bSort.Template.base /}
{/template}